.footer {
    background: url("../../images/footer-img.png") center / cover no-repeat;
    padding-top: 40px;
    position: relative;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }


    &__content {
        position: relative;
        z-index: 2;
        z-index: 10;
        display: flex;
        justify-content: space-between;

        &--logorow {
            width: 312px;

            img {
                width: 300px;
            }

            p {
                margin-top: 25px;
                @include font400(#FFFFFF, 14px)
            }

            &-social {
                margin-top: 30px;
                display: flex;
                gap: 10px;

                i {
                    width: 32px;
                    font-size: 32px;
                    color: #FFFFFF;
                }
            }
        }

        &--link {
            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 10px;
            }

            p {
                margin-top: 6px;
                @include font400(#FFFFFF, 16px);
            }
        }

        &--contact {
            width: 260px;

            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 6px;
            }

            p {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 10px;
                @include font400(#FFFFFF, 14px);

                i {
                    font-size: 20px;
                    width: 18px;
                    color: #FFFFFF;
                }
            }
        }

        &--map {
            width: 300px;
            height: 160px;
            overflow: hidden;
            border-radius: 24px;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
        margin-top: 50px;


        &--hr {
            width: 100%;
            height: 1px;
            background-color: #535862;
        }

        &--info {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            h4,
            p {
                @include font400(#E9EAEB, 14px);
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}