.footer {
    padding-top: 40px;
    position: relative;

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            width: 100%;
            position: absolute;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 4;
        }

        left: 0;
        top: 0;
        z-index: 2;

        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }


    &__content {
        position: relative;
        z-index: 2;
        z-index: 10;
        display: flex;
        justify-content: space-between;

        @include devices(md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            &--row {
                display: flex;
                flex-direction: column;

                &-link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4 {
                        @include font500(#FFFFFF, 20px);
                        margin-bottom: 10px;

                        @include devices(sm) {
                            font-size: 16px;
                            margin-bottom: 6px;
                        }
                    }

                    a {
                        margin-top: 6px;
                        @include font400(#FFFFFF, 16px);

                        @include devices(sm) {
                            font-size: 14px;
                            margin-top: 2px;
                        }
                    }
                }



                &-map {
                    display: block;
                    width: 100%;
                    height: 160px;
                    overflow: hidden;
                    position: relative;
                    z-index: 3;
                    margin-top: 20px;
                    padding: 0 16px;
                    overflow: hidden;

                    iframe {
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
                }
            }


        }

        &--row-contact {
            display: none;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 3;
            margin-top: 10px;

            @include devices(md) {
                display: flex;
            }

            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 6px;

                @include devices(sm) {
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }

            p {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 10px;
                @include font400(#FFFFFF, 14px);

                i {
                    font-size: 20px;
                    width: 18px;
                    color: #FFFFFF;
                }

                @include devices(sm) {
                    font-size: 12px;
                    margin-top: 4px;
                }
            }
        }

        &--row {
            display: none;

            &-map {
                display: none;
            }
        }

        &--logorow {
            width: 312px;


            @include devices(md) {
                width: 100%;
            }

            img {
                width: auto;
                height: 40px;

                @include devices(md) {
                    max-width: 300px;
                    width: 100%;
                }
            }

            p {
                margin-top: 25px;
                @include font400(#FFFFFF, 14px);

                @include devices(sm) {
                    font-size: 12px;
                    margin-top: 15px;
                }
            }

            &-social {
                margin-top: 30px;
                display: flex;
                gap: 10px;

                i {
                    width: 32px;
                    font-size: 32px;
                    color: #FFFFFF;

                    @include devices(sm) {
                        font-size: 26px;
                    }
                }
            }
        }

        &--link {
            @include devices(md) {
                display: none;
            }

            display: flex;
            flex-direction: column;

            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 10px;
            }

            a {
                margin-top: 6px;
                @include font400(#FFFFFF, 16px);
            }
        }

        &--contact {
            width: 260px;


            @include devices(md) {
                display: none;
            }

            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 6px;
            }

            a {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 10px;
                @include font400(#FFFFFF, 14px);

                i {
                    font-size: 20px;
                    width: 18px;
                    color: #FFFFFF;
                }
            }
        }

        &--map {
            width: 300px;
            height: 160px;
            overflow: hidden;
            border-radius: 24px;

            iframe {
                width: 100%;
                height: 100%;
            }

            @include devices(md) {
                display: none;
            }
        }
    }

    &__bottom {
        position: relative;
        z-index: 2;
        margin-top: 50px;

        @include devices(md) {
            margin-top: 10px;
        }

        &--hr {
            width: 100%;
            height: 1px;
            background-color: #535862;
        }

        &--info {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            @include devices(sm) {
                flex-direction: column;
                gap: 10px;
                padding: 10px 0
            }

            h4 {
                @include font400(#E9EAEB, 14px);
            }

            p {
                @include font400(#E9EAEB, 14px);
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                    width: auto;
                    height: 22.4px;
                }
            }
        }
    }
}