:root {
    --default-lan: #F5F5F5;
    --default-hr: #E9EAEB;
    --default-black: #181D27;
    --bg-header: #FFFFFF;
}

.header {
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.4s;

    &.light {
        --default-hr: #535862;
        --default-lan: #535862;
        --default-black: #FFFFFF;
        --bg-header: inherit;


        background: transparent !important;
        position: fixed !important;
        top: 0 !important;

    }



    &__top {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;

        &--left {
            display: flex;
            gap: 40px;
            align-items: center;

            &-item {
                @include devices(md) {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                @include devices(xs) {
                    gap: 7px;
                }

                @media (max-width: 400px) {
                    width: 90%;
                    gap: 0px;
                }

                &-menu {
                    display: none;
                    border: none;
                    background-color: transparent;

                    @include devices(md) {
                        display: flex;
                        align-items: center;
                    }

                    i {
                        font-size: 30px;
                        color: var(--default-black);
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;


                    i {
                        font-size: 20px;
                        color: #FFFFFF;
                    }

                    img {
                        width: auto;
                        height: 28px;
                    }

                    span {
                        @include font400(var(--default-black), 15px);
                        transition: ease 0.4s;
                    }
                }
            }

            @include devices(md) {
                &-item.connec {
                    display: none;
                }
            }
        }

        &--right {
            display: flex;
            gap: 15px;

            a {
                display: flex;
                gap: 15px;
                align-items: center;

                i {
                    font-size: 20px;
                    color: #FFFFFF;
                }

                @include devices(xs) {
                    display: none;
                }
            }


        }
    }

    &__hr {
        width: 100%;
        border: 1px solid var(--default-hr);
        transition: ease 0.4s;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @include devices(lg) {
            padding: 14px 0;
        }

        @include devices(md) {
            display: none;
        }

        &-btn {
            button {
                border-radius: 8px;
                border: none;
                padding: 12px 13px;
                background: linear-gradient(to right, #E54519, #FF8C6C);
                @include font500(#FFFFFF, 16px);

                @include devices(lg) {
                    padding: 8px 6px;
                    font-size: 14px;
                }

                a {
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    transition: ease 0.4s;

                    @include devices(lg) {
                        gap: 3px;
                    }

                    i {
                        font-size: 20px;
                    }
                }

                &:hover a {
                    gap: 20px;

                }
            }

        }
    }

    &__lang.menu-lang {
        .header__lang-btn {
            background-color: rgba(255, 255, 255, 0.1);
            height: 26px;
            width: 80px;
            color: white;
        }
    }

    &__lang {
        position: relative;


        &.hidden {
            display: none;
        }

        &-btn {
            padding: 6px 8px;
            display: flex;
            align-items: center;
            @include font500(var(--default-black), 14px);
            border: none;
            border-radius: 6px;
            background-color: var(--default-lan);
            transition: ease 0.4s;

            img {
                height: 13px;
                margin-right: 4px;
            }

            i {
                font-size: 14px;
                margin-left: 2px;
            }
        }

        &-item {
            list-style: none;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 12px;
            color: inherit;
            text-decoration: none;
            transition: all 0.3s ease;

            // &:hover {
            //     background: rgba(0, 0, 0, 0.05);
            // }

            &--active {
                background: rgba(0, 0, 0, 0.1);
                font-weight: 600;
            }

            img {
                width: 20px;
                border-radius: 111px;
                height: 20px;
            }
        }
    }

    &-item {
        position: relative;

        &-lang {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: var(--default-lan);
            padding: 6px 8px;
            border-radius: 6px;

            img {
                width: 18px;

                @include devices(xs) {
                    width: 25px;
                }
            }

            span {
                display: flex;
                align-items: center;
                color: var(--default-black);
                font-size: 14px;

                @include devices(xs) {
                    display: none;
                }
            }

            i {
                font-size: 14px;
                color: var(--default-black);

                @include devices(xs) {
                    font-size: 20px;
                }
            }
        }


    }


    &__burger {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 2px;
        background: currentColor;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 18px;
            height: 2px;
            background: currentColor;
            transition: 0.3s ease;
        }

        &::before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    // Menu
    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 24px;

        @include devices(xl) {
            gap: 16px;
        }

        @include devices(lg) {
            gap: 6px;
        }

        @include devices(md) {
            display: none;
        }

        &.hidden {
            display: none;
        }
    }

    &__menu-item {
        position: relative;

        &--dropdown {
            &:hover {
                >.header__submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                >.header__menu-link {
                    opacity: .6;

                }

                >.header__menu-link i {
                    transform: rotate(180deg);
                }

                >.header__submenu-link i {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &__menu-link {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding: 12px 8px;
        text-decoration: none;
        border-radius: 8px;
        cursor: pointer;
        @include font500(var(--default-black), var(--size-text-16));
        transition: all 0.3s ease;
        white-space: nowrap;
        padding: 10px 10px;

        @include devices(lg) {
            gap: 3px;
            font-size: 14px;
        }

        &:has(i) {
            padding: 12px 8px;

        }

        &:hover {
            opacity: 1;

            i {
                transform: rotate(-90deg);
            }
        }

        i {
            font-size: 20px;
            transition: transform 0.3s ease;
        }
    }

    // Submenu (Level 1)
    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 275px;
        background: var(--white);
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        // border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 0;
        list-style: none;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        z-index: 100;
    }

    &__submenu-item--dropdown {
        position: relative;

        >.header__submenu--inner {
            position: absolute;
            width: 200px;
            top: 0;
            left: 106%;
            transform: translateX(-10px);
            background-color: #FFFFFF;
            border-radius: 8px;
            opacity: 0;
        }

        &:hover>.header__submenu--inner {
            opacity: 1;
            // visibility: visible;
            transform: translateX(0);
        }
    }

    &__submenu-item--dropdown::after {
        content: "";
        position: absolute;
        top: 0;
        right: -240px;
        width: 240px;
        height: 100%;
    }

    ///////
    &__submenu-item {
        list-style: none;
        position: relative;



        // Multi-level dropdown support
        // &--dropdown {
        //     &:hover {
        //         >.header__submenu {
        //             opacity: 1;
        //             visibility: visible;
        //             transform: translateY(0);
        //         }

        //         >.header__submenu-link i {
        //             transform: rotate(180deg);
        //         }
        //     }

        //     // Third level submenu positioning
        //     .header__submenu {
        //         top: 0;
        //         left: calc(100% + 10px);
        //         transform: translateX(-10px);

        //         &:hover {
        //             opacity: 1;
        //             visibility: visible;
        //             transform: translateX(0);
        //         }
        //     }
        // }
    }

    &__submenu-item--dropdown:hover>&__submenu--inner {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    &__submenu-link {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        text-decoration: none;
        border-radius: 6px;
        transition: all 0.3s ease;
        @include font500(#475467, 16px);



        &:hover {
            color: var(--black);
            opacity: 1;

        }

        i {
            font-size: 22px;
            transition: transform 0.3s ease;
        }
    }


    &__link {
        border-radius: 8px;
        transition: all 0.3s ease;
        @include font600(inherit, 14px);
        padding: 10px;

        @include devices(lg) {
            display: none;
        }
    }

    &__btn {
        background: var(--primary);
        padding: 10px 16px;
        transition: all 0.3s ease;
        border-radius: 8px;
        @include font600(var(--white), 14px);
        margin-left: 10px;

        @include devices(md) {
            display: none;
        }
    }
}