.layout {
  margin-top: 0px;
  background-color: #FAFAFA;

  .container {
    display: flex;
    // margin-bottom: 60px;
    flex-flow: row nowrap;
    gap: 16px;

    @media(max-width:1120px) {
      flex-direction: column;
    }
  }

  &-sidebar {
    width: var(--width-sidebar);
    position: relative;
    flex: 0 0 auto;


    @media(max-width:1120px) {
      margin: 0;
      width: 100%;
      order: 2;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: calc(100% - var(--width-sidebar) - 16px);

    @media(max-width:1120px) {
      margin-bottom: 20px;
      max-width: 100%;
      order: 1;
    }

  }

  &-index {
    .container {
      padding: 60px 16px;

      @include devices(md) {
        padding: 40px 16px;
      }

      @include devices(sm) {
        padding: 20px 8px;
      }
    }
  }
}