.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 16px;
    max-width: 100%;

    li {

        a,
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 48px;
            height: 48px;
            background: #fff;
            border-radius: 12px;
            transition: all 0.2s ease;
            border: 1px solid transparent;
            backdrop-filter: blur(8px);

            @include font500(#667085, 16px);


            i {
                font-size: 20px;
                color: #667085;
            }

            @include devices(sm) {
                min-width: 40px;
                height: 40px;
            }

            &:hover {
                border: 1px solid #002266;

            }

            &.active {
                border: 1px solid #002266
            }
        }
    }

}