.social-media {
    margin-top: 80px;
    margin-bottom: 110px;

    @include devices(md) {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    @include devices(sm) {
        margin-bottom: 20px;
    }

    &__content {
        position: relative;
        background: linear-gradient(to right, #FF8C42, #E54519);
        border-radius: 14px;
        height: 355px;

        overflow: hidden;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        @include devices(md) {
            height: 240px;
        }

        @include devices(sm) {
            height: 180px;
        }

        &--overlay {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 80%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--text {
            width: 400px;
            position: relative;
            z-index: 5;
            padding: 40px 0px 40px 50px;
            left: -18px;

            @include devices(md) {
                padding: 20px 0px 20px 30px;
            }

            @include devices(sm) {
                padding: 20px 0 20px 20px;
                width: 250px;
            }

            @include devices(xs) {
                width: 100%;
            }

            h3 {
                @include font600(#FFFFFF, 38px);

                @include devices(md) {
                    font-size: 28px;
                }

                @include devices(sm) {
                    font-size: 22px;
                }
            }

            p {
                @include font400(#FFFFFF, 24px);
                margin-top: 12px;

                @include devices(md) {
                    font-size: 18px;
                    margin-top: 10px;
                }

                @include devices(sm) {
                    font-size: 14px;
                    margin-top: 0px;
                }
            }

            &-img {
                display: flex;
                flex-wrap: wrap;
                margin-top: 25px;
                gap: 10px;
                position: relative;
                z-index: 5;

                @include devices(md) {
                    margin-top: 15px;
                }

                @include devices(sm) {
                    margin-top: 5px;
                }

                @include devices(xs) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                &-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                    background-color: rgba(255, 255, 255, 0.25);

                    border-radius: 12px;
                    width: 150px;
                    padding: 10px 0;

                    @include devices(md) {
                        width: 120px;
                        gap: 4px;
                    }

                    @include devices(sm) {
                        width: 100px;
                        gap: 0px;
                    }

                    i {
                        font-size: 24px;
                        width: 24px;
                        color: #FFFFFF;

                        @include devices(md) {
                            font-size: 18px;
                        }
                    }

                    p {
                        @include font500(#FFFFFF, 16px);
                        height: 100%;

                        @include devices(md) {
                            font-size: 12px;
                        }

                        @include devices(sm) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &--tel {
            width: 50%;
            height: 100%;
            position: relative;
            z-index: 3;
            top: 0;
            right: -18px;

            &-ins {
                position: absolute;
                top: 0;
                right: 168px;
                width: 415px;

                img {
                    width: 100%;
                }

                @include devices(md) {
                    width: 300px;
                    right: 130px;
                }

                @include devices(sm) {
                    width: 220px;
                    right: 90px;
                }

                @include devices(xs) {
                    display: none;
                }
            }

            &-ins2 {
                position: absolute;
                top: -10px;
                right: 0;
                width: 320px;

                img {
                    width: 100%;
                }

                @include devices(md) {
                    width: 220px;
                    right: 2px;
                    top: -13px;
                }

                @include devices(sm) {
                    width: 160px;
                    right: -10px;
                }

                @media (max-width: 420px) {
                    width: 120px;
                }
            }

            &-fac {
                position: absolute;
                bottom: 0px;
                right: 210px;
                width: 415px;

                img {
                    width: 100%;
                }

                @include devices(md) {
                    width: 280px;
                    right: 155px;
                }

                @include devices(sm) {
                    width: 215px;
                    right: 107px;
                }

                @include devices(xs) {
                    display: none;
                }
            }

            &-tg {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 330px;

                img {
                    width: 100%;
                }

                @include devices(md) {
                    width: 230px;
                }

                @include devices(sm) {
                    width: 170px;
                }

                @media (max-width: 420px) {
                    width: 120px;
                }
            }
        }
    }
}