.about {
    width: 100%;
    padding: 50px 0;
    background-color: #F4D2BA66;
    position: relative;

    &__logo {

        &--top {
            left: 0;
            top: 0;
            opacity: 0.2;
            position: absolute;
            z-index: -1;
            opacity: 0.2;
        }

        &--bottom {
            right: 30px;
            bottom: 0;
            opacity: 0.2;
            position: absolute;
            z-index: -1;
            opacity: 0.2;

        }
    }

    &__wrapper {
        &--univer {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            &-text {
                width: 44%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-name {
                    h3 {
                        @include font500(#000000, 32px)
                    }

                    p {
                        margin-top: 15px;
                        @include font400(#000000, 20px);
                        opacity: 0.6;
                        line-height: 1.3;
                    }
                }

                &-btn {
                    button {
                        padding: 10px 21px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        background-color: #E54519;
                        border: none;
                        border-radius: 12px;
                        @include font500(#FFFFFF, 16px);

                        i {
                            font-size: 20px;
                            width: 20px;
                            color: white;
                        }
                    }
                }

                &-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;

                    &-item {
                        border-radius: 24px;
                        background-color: #FFFFFF;
                        padding: 20px;
                        display: flex;
                        gap: 12px;
                        align-items: center;

                        &-img {
                            border-radius: 12px;
                            // background-color: #ECFDF3;
                            padding: 15px;



                            img {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        &-img.student {
                            background-color: #ECFDF3;
                        }

                        &-img.staff {
                            background-color: #FFFAEB;
                        }

                        &-img.school {
                            background-color: #EFF8FF;
                        }

                        &-img.faculty {
                            background-color: #1C77761A;
                        }

                        &-info {
                            p {
                                @include font500(#000000, 20px);
                            }

                            span {
                                @include font400(#000000, 16px);
                                opacity: 0.6;
                            }
                        }
                    }

                    // &-item:nth-child(1) {
                    //     &-img {
                    //         background-color: red;
                    //     }
                    // }
                }
            }

            &-img {
                width: 50%;
                display: grid;
                grid-template-columns: 1.7fr 1fr;
                gap: 16px;


                &-grid {
                    display: grid;

                    gap: 16px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 14px;
                    }

                }
            }
        }
    }
}