.about-section {
    width: 100%;
    padding: 50px 0;
    background-color: #F4D2BA66;
    position: relative;

    @include devices(md) {
        padding: 20px 0;
    }

    &__logo {

        &--top {
            left: 0;
            top: 0;
            opacity: 0.2;
            position: absolute;
            z-index: -1;
            opacity: 0.2;

            img {
                width: 350px;
            }
        }

        &--bottom {
            right: 30px;
            bottom: 0;
            opacity: 0.2;
            position: absolute;
            z-index: -1;
            opacity: 0.2;

            img {
                width: 400px;
            }
        }
    }

    &__wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;


        @include devices(md) {
            margin-top: 20px;
        }

        @include devices(sm) {
            flex-direction: column;
        }

        &-text {
            width: 44%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include devices(md) {
                width: 40%;
            }

            @include devices(sm) {
                width: 100%;
            }

            @include devices(xs) {
                gap: 10px;
            }

            &-name {
                h3 {
                    @include font500(#000000, 32px);

                    @include devices(md) {
                        font-size: 25px;
                    }

                    @include devices(xs) {
                        font-size: 20px;
                    }
                }

                p {
                    margin-top: 15px;
                    @include font400(#000000, 20px);
                    opacity: 0.6;
                    line-height: 1.3;

                    @include devices(md) {
                        margin-top: 10px;
                        font-size: 16px;
                    }

                    @include devices(xs) {
                        font-size: 12px;
                    }
                }
            }

            &-btn {
                button {
                    padding: 10px 21px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    background-color: #E54519;
                    border: none;
                    border-radius: 12px;
                    @include font500(#FFFFFF, 16px);

                    @include devices(md) {
                        padding: 8px 15px;
                        font-size: 14px;
                    }

                    i {
                        font-size: 20px;
                        width: 20px;
                        color: white;

                        @include devices(md) {
                            font-size: 16px;
                        }
                    }
                }
            }

            &-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;

                @include devices(md) {
                    gap: 10px;
                }

                &-item {
                    border-radius: 24px;
                    background-color: #FFFFFF;
                    padding: 20px;
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    &:nth-child(1) {
                        .about-section__wrapper-text-grid-item-img {
                            background-color: #ECFDF3;
                        }
                    }

                    &:nth-child(2) {
                        .about-section__wrapper-text-grid-item-img {
                            background-color: #FFFAEB;
                        }
                    }

                    &:nth-child(3) {
                        .about-section__wrapper-text-grid-item-img {
                            background-color: #EFF8FF;
                        }
                    }

                    &:nth-child(4) {
                        .about-section__wrapper-text-grid-item-img {
                            background-color: #1C77761A;
                        }
                    }

                    @include devices(md) {
                        padding: 10px;
                        gap: 10px;
                        border-radius: 20px;
                    }

                    &-img {
                        border-radius: 12px;
                        padding: 15px;


                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &-info {
                        p {
                            @include font500(#000000, 20px);

                            @include devices(md) {
                                font-size: 16px;
                            }
                        }

                        span {
                            @include font400(#000000, 16px);
                            opacity: 0.6;

                            @include devices(md) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                // &-item:nth-child(1) {
                //     &-img {
                //         background-color: red;
                //     }
                // }
            }
        }

        &-img {
            width: 50%;
            display: grid;
            grid-template-columns: 1.7fr 1fr;
            gap: 16px;

            @include devices(md) {
                width: 55%;
                gap: 12px;
            }

            @include devices(sm) {
                width: 100%;
                margin-top: 15px;

            }

            &-grid {
                display: grid;
                gap: 16px;

                @include devices(md) {
                    gap: 12px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 14px;
                }

            }
        }

    }
}