.academics-section {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include devices(md) {
        margin-top: 30px;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    &__carousel {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        @include devices(md) {
            margin-top: 20px;
        }

        @include devices(xs) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }

        &--left {
            background-color: #F5F5F5;
            border-radius: 12px;
            display: flex;
            padding: 5px;

            @include devices(sm) {
                display: none;
            }

            button {
                border-radius: 8px;
                padding: 10px 20px;
                border: none;
                background-color: #F5F5F5;

                p {
                    @include font500(#181D27, 16px);

                    @include devices(sm) {
                        font-size: 14px;
                    }
                }

                @include devices(md) {
                    padding: 6px 14px;
                }

                @include devices(sm) {
                    padding: 4px 14px;
                }
            }

            .active {
                background-color: #FFFAEB;

                p {
                    color: #E54519;
                }
            }

        }

        &--select {
            display: none;

            @include devices(sm) {
                display: block;
            }

            select {
                background-color: transparent;

                @include devices(xs) {
                    padding: 4px 8px;
                }
            }
        }

        &--content {
            display: none;
        }

        &--content.active {
            display: block;
        }
    }

    &__card {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;

        @include devices(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }

        &--item {
            position: relative;
            overflow: hidden;
            border-radius: 14px;
            // max-width: 350px;
            height: 300px;
            display: flex;
            align-items: flex-end;
            padding: 20.2px;
            z-index: 1;

            @include devices(xs) {
                height: 250px;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                left: 0;
                top: 0;
            }

            &-overlay {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 3;
                background: linear-gradient(to bottom,
                        transparent 50%,
                        rgba(0, 0, 0, 0.6) 70%,
                        rgba(0, 0, 0, 0.95) 100%);
            }

            p {
                @include font600(#FFFFFF, 20px);
                z-index: 3;
            }
        }
    }
}