.academics {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    &__carousel {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        &--left {
            background-color: #F5F5F5;
            border-radius: 12px;
            display: flex;
            padding: 5px;

            button {
                border-radius: 8px;
                padding: 10px 20px;
                border: none;
                background-color: #F5F5F5;

                p {
                    @include font500(#181D27, 16px);
                }
            }

            .active {
                background-color: #FFFAEB;

                p {
                    color: #E54519;
                }
            }
        }
    }

    &__card {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        &--item {
            position: relative;
            overflow: hidden;
            border-radius: 14px;
            width: 308px;
            height: 300px;
            display: flex;
            align-items: flex-end;
            padding: 20.2px;
            z-index: 1;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
                left: 0;
                top: 0;
            }

            &-overlay {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 3;
                background: linear-gradient(to bottom,
                        transparent 50%,
                        rgba(0, 0, 0, 0.6) 70%,
                        rgba(0, 0, 0, 0.95) 100%);
            }

            p {
                @include font600(#FFFFFF, 20px);
                z-index: 3;
            }
        }
    }
}