.campus-section {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    padding: 50px 0;

    @include devices(md) {
        margin-top: 20px;
        padding: 20px 0;
    }

    &__back-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        left: 0;
        top: 0;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: #F4D2BAD9;
        opacity: 0.85;
    }

    &__card {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1600px) {
            padding: 0 60px;
        }

        @include devices(xl) {
            padding: 0 60px;
        }

        @include devices(md) {
            margin-top: 20px;
        }

        .owl-nav {
            button {
                span {
                    display: none;
                }
            }

            height: 0;

            .owl-next {
                &::after {
                    content: "\e902";
                    color: #FFFFFF;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    font-family: "icomoon";
                    border-radius: 50%;
                    background-color: #E54519;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-size: 24px;
                    right: -40px;
                    top: 40%;

                    @media (max-width: 1600px) {
                        right: 10px;
                    }

                    @include devices(xl) {
                        right: 10px;
                    }

                    @include devices(xs) {
                        width: 37px;
                        height: 37px;
                        font-size: 20px;
                    }
                }
            }

            .owl-prev {
                &::after {
                    content: "\e902";
                    color: #FFFFFF;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    font-family: "icomoon";
                    border-radius: 50%;
                    background-color: #E54519;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    font-size: 24px;
                    left: -40px;
                    top: 40%;
                    transform: rotate(180deg);

                    @media (max-width: 1600px) {
                        right: 10px;
                    }

                    @include devices(xl) {
                        left: 10px;
                    }

                    @include devices(xs) {
                        width: 37px;
                        height: 37px;
                        font-size: 20px;
                    }
                }
            }
        }



        &--item {
            position: relative;
            // width: 308px;
            height: 300px;
            display: flex;
            align-items: flex-end;
            padding: 20px;

            @include devices(xs) {
                height: 250px;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
                top: 0;
                border-radius: 14px;
            }

            &-overlay {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                border-radius: 14px;
                background: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0.1) 40%,
                        rgba(0, 0, 0, 0.3) 55%,
                        rgba(0, 0, 0, 0.8) 80%,
                        rgba(0, 0, 0, 0.95) 100%);
            }

            p {
                z-index: 100;
                @include font500(#FFFFFF, 24px)
            }
        }
    }
}

.carousel__card .owl-dots .owl-dot span {
    background-color: #FFFFFF;
    width: 12px;
    height: 8px;
    border-radius: 34px;
}

/* active dot uchun */
.carousel__card .owl-dots .owl-dot.active span {
    background-color: #E54519;
    width: 38px;
    height: 8px;
    border-radius: 34px;
}