.contact-home {
    width: 100%;
    height: 162px;
    margin-top: calc(var(--height-header) + 10px);

    position: relative;

    >.container {
        position: relative;
        z-index: 5;
        flex-direction: column;
        justify-content: center;

        .breadcrumbs.mini {
            margin-top: -20px;
            margin-left: -55px;
            color: white;

            .breadcrumbs__link {
                color: white;
            }
        }

        .contact-home__title {
            display: flex;
            padding: 40px 0;
            justify-content: center;
            flex-direction: column;

            h1 {
                @include font700(#FFFFFF, 36px)
            }
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 162px;
        background: linear-gradient(to right,
                #F46740 0%,
                #F46740 40%,
                rgba(244, 103, 64, 1) 50%,
                rgba(244, 103, 64, 1) 80%,
                rgba(244, 103, 64, 0.1) 100%);

        width: 65%;
        z-index: 1;
    }

    &__images {

        width: 48%;
        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 100%;
            height: 162px;
            object-fit: cover;
        }

        &--tt {
            position: absolute;
            z-index: 2;
            left: 40%;
            top: 0;
            width: 20px;
            height: 162px;
            background: linear-gradient(to bottom, #E54519, #FF6A2B);

            &::before {
                content: "";
                width: 6px;
                height: 162px;
                background-color: #F5F5F5;
                position: absolute;
                left: -6px;
                z-index: 2;
            }

            &::after {
                content: "";
                width: 6px;
                height: 162px;
                background-color: #F5F5F5;
                position: absolute;
                right: -6px;
                z-index: 2;
                top: 0;
            }

            &-logo {
                position: relative;
                width: 60px;
                height: 60px;
                background-color: #FFFFFF;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 50px;
                left: -20px;
                outline: 8px solid #E54519;
                z-index: 4;

                img {
                    width: 42px;
                    height: 30px;
                }
            }
        }
    }
}

.contact-info {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            @include font500(#181D27, 38px);
        }

        p {
            margin-top: 10px;
            text-align: center;
            @include font400(#414651, 20px);
        }
    }

    &__wrap {
        display: flex;
        gap: 25px;
        margin-top: 50px;

        &--item {
            padding: 20px 0;
            width: 246px;
            border-radius: 14px;
            border: 1px solid #E9EAEB;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-img {
                background: linear-gradient(to right, #E54519CC, #FFA288);
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: #FFFFFF;
                    font-size: 28px;
                }
            }

            &-text {
                text-align: center;

                p {
                    margin-top: 11px;
                    @include font500(#181D27, 18px);
                }

                span {
                    margin-top: 2px;
                    @include font400(#414651, 16px);
                }
            }
        }
    }
}


.send-app {
    margin-top: 70px;
    width: 100%;

    h2 {
        @include font500(#181D27, 38px);
    }

    p {
        margin-top: 10px;
        @include font400(#414651, 20px);
    }

    &__wrap {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 600px;
        gap: 20px;

        &--left {
            border: 1px solid #E9EAEB;
            border-radius: 14px;
            padding: 30px;
            background-color: #FFFFFF;
            position: relative;
            z-index: 1;

            &-input {
                position: relative;
                z-index: 3;
                margin-top: 16px;

                label {
                    @include font500(#414651, 14px);
                }

                input {
                    background-color: #FFFFFF;

                }
            }

            .send-app__wrap--left-input.message input {
                height: 100px;
            }

            &-btn {
                position: relative;
                z-index: 3;
                display: flex;
                justify-content: end;
                margin-top: 16px;

                button {
                    @include font500(#FFFFFF, 16px);
                    background: linear-gradient(to right, #E54519, #FF8C6C);
                    padding: 10px 8.5px;
                    border-radius: 8px;
                    border: none;
                }
            }

            &-city {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 21;
            }
        }

        &--right {

            height: 450px;

            img {
                border-radius: 14px;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.location-info {
    margin-top: 70px;

    h2 {
        @include font500(#181D27, 38px);
    }

    p {
        margin-top: 10px;
        @include font400(#414651, 20px);
    }
}

.location-maps {
    width: 100%;
    height: 400px;
    margin-top: 20px;

    iframe {
        width: 100%;
        height: 100%;
    }
}