.data {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-item {
        display: flex;
        background: #fff;
        padding: 16px;
        border-radius: 12px;
        gap: 12px;
        flex-direction: row;
        align-items: center;



    }

    &-img {
        padding: 12px;
        border-radius: 8px;
        background: #E5F4F4;
        min-width: 44px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
            @include font700(#061422, 20px);
        }

        .info {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            @include font500(#757D8E, 18px);
        }

        .fileExtension {
            color: #CBBC6B;
        }

        .fileSize {
            color: #757D8E;
        }

        .download-btn {
            color: #25575A;
        }

        .dot {
            display: block;
            width: 6px;
            height: 6px;
            background: #757D8E;
            border-radius: 50%;
        }
    }

    &-table {
        border-collapse: separate;
        width: 100%;
        border-spacing: 0 4px;

        tr {
            border-radius: 14px;
            box-shadow: 0px 4px 40px 0px #0615220D;

            th {
                background-color: #E0EAEA;
                white-space: nowrap;
                padding: 16px 12px;

                @media(max-width:1279px) {
                    white-space: wrap;

                }

                &:first-of-type {
                    overflow: hidden;
                    border-radius: 10px 0 0 10px;
                }

                &:last-of-type {
                    overflow: hidden;
                    border-radius: 0 10px 10px 0;
                    text-align: end;
                }

                &:nth-child(even) {
                    flex: 1;
                }
            }

            td {
                padding: 16px 12px;
                background: #fff;

                &.number {
                    padding: 16px 12px;
                }

                &:first-of-type {
                    overflow: hidden;
                    border-radius: 10px 0 0 10px;
                }

                &:last-of-type {
                    overflow: hidden;
                    border-radius: 0 10px 10px 0;
                    text-align: end;
                }

                &:nth-child(even) {
                    flex: 1;
                }

                .download {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @include font500(#25575A, 17px);
                    line-height: 140%;


                }

                .info-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    align-items: center;

                    text-align: justify;


                    .img-wrapper {
                        width: 48px;
                        min-width: 48px;
                        overflow: hidden;
                        border-radius: 8px;
                        height: 48px;
                        background-color: var(--black-7);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .title {
                    @include font500(#061422, 17px);
                    line-height: 130%;

                }
            }

        }

        thead {
            @media(max-width:768px) {
                display: none;
            }
        }

        tbody {
            border-collapse: separate;

            @media(max-width:768px) {
                display: flex;
                flex-direction: column;
                gap: 6px;

                tr,
                td {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    overflow: hidden;
                    border-radius: 12px;
                }

                .number {
                    display: none;
                }
            }
        }


    }
}