.join-us {

    .container {
        display: flex;
        margin-top: calc(var(--height-header));
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 40px 120px;
        margin: 0 auto;


        @include devices(md) {
            padding: 40px 60px;
            flex-direction: column;
        }
    }

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-bottom: 24px;
            @include font600(#101828, 48px);

            @include devices(md) {
                font-size: 32px;
            }

            @include devices(sm) {
                font-size: 24px;
            }
        }

        p {
            @include font400(#475467, 20px);
            margin-bottom: 24px;

            @include devices(md) {
                font-size: 18px;
            }

            @include devices(sm) {
                font-size: 16px;
            }
        }

        &--btn {
            background: #002266;
            border-radius: 8px;
            transition: all 0.3s ease;
            padding: 12px 20px;
            @include font600(#FFFFFF, 16px);

            @include devices(md) {
                font-size: 14px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }

    &__img {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--item {
            position: relative;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 140px;
                height: auto;
                border-radius: 50%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            &:first-child {
                margin-bottom: 24px;
            }

            &:nth-child(3) {
                margin-bottom: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--left {


            .join-us__img--item {

                &:first-child,
                &:last-child {
                    margin-left: 120px;
                    width: 120px;
                    height: 120px;

                    img {
                        width: 120px;
                        height: 120px;
                    }
                }
            }

            @include devices(md) {
                display: flex;
                justify-content: center;
                padding: 40px 20px;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                align-items: center;

                .join-us__img--item {
                    margin: 0 !important;
                    width: calc(27% - 8px) !important;
                    aspect-ratio: 1/1;
                    height: unset !important;

                    &:first-child,
                    &:last-child {
                        margin-left: 120px;
                        width: calc(23% - 8px) !important;


                        img {
                            width: auto !important;
                            height: auto !important;
                        }

                    }
                }
            }
        }

        &--right {
            .join-us__img--item {
                margin-left: 120px;
                margin-right: 0;

                &:first-of-type,
                &:last-of-type {
                    margin-left: 0;
                    margin-right: 120px;
                    width: 120px;
                    height: 120px;

                    img {
                        width: 120px;
                        height: 120px;
                    }
                }
            }

            @include devices(md) {
                display: flex;
                justify-content: center;
                padding: 40px 20px;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                align-items: center;

                .join-us__img--item {
                    margin: 0 !important;
                    width: calc(27% - 8px) !important;
                    aspect-ratio: 1/1;
                    height: unset !important;

                    &:first-child,
                    &:last-child {
                        margin-left: 120px;
                        width: calc(23% - 8px) !important;

                        img {
                            width: auto !important;
                            height: auto !important;
                        }

                    }
                }
            }
        }
    }
}