.partners {
    margin-top: 40px;
    padding-top: 40px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 470px;
        background: linear-gradient(to right,
                #fafafa 0%,
                #fafafa 10%,
                rgba(250, 250, 250, 0.72) 30%,
                rgba(250, 250, 250, 0.42) 40%,
                rgba(250, 250, 250, 0.01) 60%,
                transparent 100%);
        left: 0;
        top: 100px;
        z-index: 3;
    }

    &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 470px;
        background: linear-gradient(to left,
                #fafafa 0%,
                #fafafa 10%,
                rgba(250, 250, 250, 0.72) 30%,
                rgba(250, 250, 250, 0.42) 40%,
                rgba(250, 250, 250, 0.01) 60%,
                transparent 100%);
        right: 0;
        top: 100px;
        z-index: 3;
    }

    &__top {
        margin-top: 50px;
        display: flex;
        gap: 16px;
        position: relative;
        z-index: 1;

        .owl-nav {
            display: none;
        }

        .owl-dots {
            display: none;
        }

        &--item {
            position: relative;
            z-index: 2;

            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 24px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1px);

            img {
                object-fit: contain;
                height: 135px;
            }
        }
    }

    &__bottom {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        // gap: 16px;
        align-items: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-bottom: 0px;
        justify-content: center;

        .owl-nav {
            display: none;
        }

        .owl-dots {
            display: none;
        }



        &--item {
            position: relative;
            z-index: 2;

            height: 175px;
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 24px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1px);
            padding-bottom: 20px;

            img {
                object-fit: contain;
                width: 130px;
                height: 130px;
            }
        }
    }
}

.partners__top .owl-stage-outer {
    padding: 10px 0;

    .owl-stage {
        .owl-item {
            width: 305px;
        }
    }
}

.partners__bottom .owl-stage-outer {
    padding: 10px 0;

    .owl-stage {


        .owl-item {
            width: 305px;
        }
    }
}