.partners {
    margin-top: 40px;
    padding-top: 40px;
    position: relative;
    overflow: hidden;

    @include devices(lg) {
        margin-top: 30px;
        padding-top: 30px;
    }

    @include devices(md) {
        margin-top: 0px;
        padding-top: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 470px;
        background: linear-gradient(to right,
                #fafafa 0%,
                #fafafa 10%,
                rgba(250, 250, 250, 0.72) 30%,
                rgba(250, 250, 250, 0.42) 40%,
                rgba(250, 250, 250, 0.01) 60%,
                transparent 100%);
        left: 0;
        top: 100px;
        z-index: 3;

        @include devices(sm) {
            top: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 470px;
        background: linear-gradient(to left,
                #fafafa 0%,
                #fafafa 10%,
                rgba(250, 250, 250, 0.72) 30%,
                rgba(250, 250, 250, 0.42) 40%,
                rgba(250, 250, 250, 0.01) 60%,
                transparent 100%);
        right: 0;
        top: 100px;
        z-index: 3;

        @include devices(sm) {
            top: 0;
        }
    }

    &__top {
        margin-top: 50px;
        display: flex;
        gap: 16px;
        position: relative;
        z-index: 1;

        @include devices(md) {
            margin-top: 30px;
        }

        @include devices(sm) {
            margin-top: 10px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            display: none;
        }

        &--item {
            position: relative;
            z-index: 2;

            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 24px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1px);

            @include devices(xs) {
                height: 120px;
                padding: 10px 0;
            }

            img {
                object-fit: contain;
                height: 135px;

                @include devices(sm) {
                    height: 100px;
                }
            }
        }
    }

    &__bottom {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        // gap: 16px;
        align-items: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-bottom: 0px;
        justify-content: center;

        @include devices(sm) {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            display: none;
        }



        &--item {
            position: relative;
            z-index: 2;

            height: 175px;
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 24px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(1px);
            padding-bottom: 20px;

            @include devices(xs) {
                height: 120px;
                padding: 10px 0;
            }

            img {
                object-fit: contain;
                height: 130px;

                @include devices(sm) {
                    height: 100px;
                }

                @include devices(xs) {
                    height: 60px;
                }
            }
        }
    }
}

.partners__top .owl-stage-outer {
    padding: 10px 0;

    .owl-stage {
        .owl-item {
            width: 305px;
        }
    }
}

.partners__bottom .owl-stage-outer {
    padding: 10px 0;

    .owl-stage {


        .owl-item {
            width: 305px;
        }
    }
}