.reach-rector {
    border: 1px solid #E9EAEB;
    border-radius: 14px;
    width: 250px;
    // height: 124px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    position: sticky;
    top: 500px;

    @include devices(lg) {
        display: none;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        z-index: 5;

        p {
            @include font400(#000000, 18px);
            line-height: 1.2;
        }

        button {
            background: linear-gradient(to right, #E54519, #FF8C6C);
            border-radius: 8px;
            padding: 6px 28px;
            border: none;
            color: white;
        }
    }

    &__img {
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0.7) 60%,
                rgba(255, 255, 255, 0.2) 70%,
                transparent 100%);
    }
}