.social {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        max-width: 1300px;
        margin: 0 auto;

        @include devices(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        background: #EFF4FF;
        border-radius: 24px;
        overflow: hidden;

        @include devices(md) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        &--content {
            padding: 80px 0 80px 40px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include devices(md) {
                align-items: center;
                justify-content: center;
                padding: 0 20px 16px 20px;
            }

            h6 {
                @include font600(var(--black), 24px);
                line-height: 32px;
                margin-bottom: 16px;

                @include devices(md) {
                    margin-bottom: 8px;
                    text-align: center;
                    font-size: 20px;
                }


            }

            p {
                @include font400(#475467, 18px);
                line-height: 30px;
                margin-bottom: 40px;

                @include devices(md) {
                    margin-bottom: 12px;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .button {
                border: 1px solid var(--primary);
                background: var(--primary);
                @include font600(#fff, 16px);
            }
        }

        &--img {
            height: 300px;
            width: 35%;
            display: flex;
            align-items: center;

            @include devices(md) {
                width: 100%;
                justify-content: center;
                height: auto;
                margin: 16px 0;
            }

            img {
                width: auto;
                height: 100%;
                object-fit: cover;
                object-position: left;

                @include devices(md) {
                    width: 80%;
                    object-position: center;
                    object-fit: contain;
                    max-height: 300px;
                }
            }
        }
    }
}