.structure {
    &-wrapper {
        --local-gutter: 40px;
        --local-half-gutter: calc(var(--local-gutter) / 2);
        --local-border: 2px solid #BECADD;
        --local-mini-gutter: 16px;
        padding: 16px;

        @include devices(xs) {
            --local-gutter: 30px;
            --local-mini-gutter: 8px;
        }

    }

    &-container {
        @include devices(lg) {}
    }

    .structure--main & {
        --local-line-height: 12px;
        --local-padding: 20px;
        height: 100%;
    }

    .structure--parts & {
        --local-line-height: 8px;
        --local-padding: 12px;
    }

    & {
        border-radius: 8px;
        background: var(--white);
        padding: calc(var(--local-padding) + var(--local-line-height)) var(--local-padding) var(--local-padding);
        position: relative;
        text-align: center;
        cursor: pointer !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-line {
            height: var(--local-line-height);
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            border-radius: 8px 8px 0 0;


            .structure--main & {
                background-color: var(--blue-4);


            }

            .structure--parts & {
                background: linear-gradient(270deg, #4ECBD3 0%, #25575A 100%);

            }

            #tab-general .structure--main > li:nth-child(2) & {
                background-color: #BECADD;
            }
        }

        &-count {
            @include font500(#778191, 18px);
            margin-bottom: 8px;
            padding: 3px 6px;
            border: 1px solid #DFE4ED;
            background: #F2F4F9;
            border-radius: 8px;
            margin-bottom: 16px;
        }

        &-img {
            width: 80px;
            height: 80px;
            border-radius: 555px;
            overflow: hidden;
            margin: 0 auto 12px auto;
            border: 1px solid white;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);

            &.main {
                width: 100px;
                height: 100px;
                transform: translate(-50%, calc(-50% - 10px));
                border: 2px solid white;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            @include font700(#242D3A, 20px);
            text-align: center;

            &.main {
                @include font700(var(--white), 20px);
            }

        }

        &-position {
            text-align: center;
            @include font500(#242D3A, 16px);
            margin-top: 5px;
            opacity: .8;

            &.main {
                @include font500(var(--white), 16px);
            }


            #tab-general .structure--main > li:nth-child(2) & {
                color: var(--green);
            }
        }
    }

    &--main {
        display: flex;
        gap: var(--local-gutter);
        position: relative;
        z-index: 1;
        margin-bottom: var(--local-half-gutter);

        @include devices(md) {
            gap: calc(var(--local-gutter) * 1.7);
        }

        @include devices(sm) {
            gap: calc(var(--local-gutter) * 2.25);
        }

        li {
            flex: 1;
            position: relative;

            .structure {
                color: #242D3A;
                transition: all 0.3s ease;

                &.main {
                    background: linear-gradient(180deg, #328286 0%, #206266 100%);
                    color: var(--white);
                    padding-top: calc(var(--local-padding) + var(--local-line-height) + 24px);
                }

                &:not(.main) {

                    .structure-line {
                        background: linear-gradient(270deg, #4ecbd3 0, #25575a 100%);
                    }
                }

                &:hover {
                    opacity: 0.9;
                }
            }



            @include devices(lg) {
                flex: unset;
                width: 100%;
            }

            &:not(:last-child) {
                @include devices(lg, min) {
                    &::after {
                        content: "";
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        width: var(--local-gutter);
                        border-top: var(--local-border);
                    }
                }
            }
        }

        @include devices(lg) {
            flex-wrap: wrap;
            padding-right: var(--local-gutter);

            &::before {
                content: "";
                position: absolute;
                right: var(--local-half-gutter);
                top: calc(var(--local-height) / 2);
                bottom: calc(0px - var(--local-half-gutter));
                border-left: var(--local-border);
            }

            &::after {
                content: "";
                position: absolute;
                right: var(--local-half-gutter);
                left: var(--local-half-gutter);
                bottom: calc(0px - var(--local-half-gutter));
                border-top: var(--local-border);
            }

            li {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: var(--local-half-gutter);
                    transform: translateX(100%);
                    border-top: var(--local-border);
                }
            }
        }
    }

    &--parts {
        display: flex;
        position: relative;

        @include devices(lg) {
            flex-wrap: wrap;
            padding-left: var(--local-gutter);
        }

        @include devices(lg, min) {
            margin: 0 calc(0px - var(--local-half-gutter) / 2);
            padding-top: var(--local-half-gutter);

        }

        &::before {
            @include devices(lg, min) {
                content: "";
                position: absolute;
                left: calc(100% / 3 * (1 / 2));
                right: calc(100% / 3 * (1 / 2));
                border-top: var(--local-border);
                top: 0;
            }

        }

        & > li {
            flex: 1;
            position: relative;
            padding-top: 40px;

            &::before {
                @include devices(lg, min) {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 100%;
                    transform: translateY(40px);
                    border-right: var(--local-border);
                    height: calc(var(--local-half-gutter) + 40px);
                }
            }

            @include devices(lg, min) {
                padding: 40px calc(var(--local-half-gutter) / 2);
            }

            @include devices(lg) {
                flex: unset;
                width: 100%;

                &:not(:last-child) {
                    padding-bottom: var(--local-half-gutter);
                }
            }

            &::before {
                @include devices(lg, min) {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 100%;
                    border-right: var(--local-border);
                    // height: var(--local-half-gutter);
                }
            }

            &:not(:last-child) {
                &::before {
                    @include devices(lg) {
                        content: "";
                        position: absolute;
                        left: calc(0px - var(--local-half-gutter));
                        border-right: var(--local-border);
                        top: 0px;
                        bottom: calc(0px - var(--local-height)/ 2 - 40px);
                    }

                }
            }

            & > .structure {
                transition: all 0.3s ease;
                border: 1px solid #DFE4ED;

                &:has(.structure-img) {
                    padding-top: calc(var(--local-padding) + var(--local-line-height) + 24px);

                }

                &:hover {
                    opacity: 0.7;
                }

                &::before {
                    @include devices(lg) {
                        content: "";
                        position: absolute;
                        left: 0%;
                        top: 50%;
                        border-top: var(--local-border);
                        width: var(--local-half-gutter);
                        transform: translateX(-100%);
                    }
                }
            }

            ul {
                @include devices(lg) {
                    flex-wrap: wrap;
                }

                & > li:first-child {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: calc(50% - var(--local-mini-gutter) / 2);
                        bottom: calc(100% + var(--local-mini-gutter));
                        border-right: var(--local-border);
                        height: var(--local-half-gutter);
                    }
                }
            }

            ul {
                padding-left: var(--local-mini-gutter);
                padding-top: var(--local-mini-gutter);
                margin-top: var(--local-half-gutter);
                position: relative;

                @include devices(lg) {
                    flex-wrap: wrap;
                }

                li {
                    position: relative;

                    @include devices(lg) {
                        width: 100%;
                    }

                    &:not(:last-child) {
                        margin-bottom: var(--local-mini-gutter);
                    }

                    .structure {
                        &::after {
                            content: "";
                            top: 50%;
                            right: 100%;
                            position: absolute;
                            width: var(--local-mini-gutter);
                            border-top: var(--local-border);
                        }
                    }
                }

                &::after {
                    content: "";
                    left: 0;
                    width: 50%;
                    top: 0;
                    position: absolute;
                    border-top: var(--local-border);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: calc(var(--local-height) / 2);
                    border-left: var(--local-border);
                }
            }
        }
    }
}