.univer-news {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include devices(sm) {
        margin-top: 20px;
        padding-top: 0;
        padding-bottom: 20px;
    }

    &__wrapper {
        margin-top: 50px;

        @include devices(sm) {
            margin-top: 20px;
        }

        &--img {
            display: flex;
            gap: 16px;

            @include devices(sm) {
                flex-direction: column;
                align-items: center;
            }

            &-item {
                position: relative;
                width: 416px;
                max-width: 100%;
                height: 320px;
                border-radius: 14px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 8px;
                padding: 15px;
                overflow: hidden;


                @include devices(md) {
                    gap: 4px;

                }

                &-overlay {
                    z-index: -1;
                    border-radius: 14px;
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(to bottom,
                            rgba(0, 0, 0, 0.15) 0%,
                            rgba(0, 0, 0, 0.35) 40%,
                            rgba(0, 0, 0, 0.65) 80%,
                            rgba(0, 0, 0, 0.80) 100%);
                }

                img {
                    position: absolute;
                    width: 100%;
                    border-radius: 14px;
                    z-index: -10;
                    height: 100%;
                    object-fit: cover;
                    left: 0px;
                    top: 0px;
                    transition: ease-in-out 0.3s;
                }

                &:hover img {
                    transform: scale(1.2);
                }

                >p:first-of-type {
                    @include font700(#FFFFFF, 20px);

                    @include devices(md) {
                        font-size: 16px;
                    }


                }

                >p:nth-of-type(2) {
                    @include font400(#D5D7DA, 14px);

                    @include devices(md) {
                        font-size: 12px;
                    }

                }

                &-date {
                    display: flex;
                    margin-top: 14px;
                    justify-content: space-between;

                    @include devices(md) {
                        margin-top: 4px;
                    }

                    &-data {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        i {
                            font-size: 24px;
                            color: #5454E3;

                            @include devices(md) {
                                font-size: 20px
                            }
                        }

                        p {
                            @include font600(#FFFFFF, 14px);

                            @include devices(md) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        &--card {
            margin-top: 20px;
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            justify-content: center;

            @include devices(md) {}

            &-item {
                border-radius: 14px;
                width: 308px;
                background-color: #FFFFFF;
                border: 1px solid #E9EAEB;

                @include devices(sm) {
                    width: 100%;
                    max-width: 416px;
                    background-color: transparent;
                    position: relative;
                    height: 320px;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    overflow: hidden;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        position: absolute;
                        background: linear-gradient(to bottom,
                                rgba(0, 0, 0, 0.15) 0%,
                                rgba(0, 0, 0, 0.35) 40%,
                                rgba(0, 0, 0, 0.65) 80%,
                                rgba(0, 0, 0, 0.80) 100%);
                    }
                }

                &-img {
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;

                    @include devices(sm) {
                        border: 2px solid red;

                    }

                    img {
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                        border-top-left-radius: 14px;
                        border-top-right-radius: 14px;
                        transition: ease-in-out 0.3s;

                        @include devices(sm) {
                            height: 320px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: 2;
                        }
                    }

                    &:hover img {
                        transform: scale(1.2);
                    }
                }

                &-text {
                    padding: 10px 12px 15px 12px;

                    @include devices(sm) {
                        position: relative;
                        z-index: 4;
                        bottom: 0;
                    }

                    >p:first-of-type {
                        @include font700(#181D27, 18px);

                        @include devices(lg) {
                            font-size: 14px;
                        }

                        @include devices(sm) {
                            color: white;
                        }
                    }

                    >p:nth-of-type(2) {
                        @include font500(#535862, 13px);

                        @include devices(lg) {
                            font-size: 12px;
                            line-height: 1.3;
                            margin-top: 0px;
                        }

                        @include devices(sm) {
                            color: #D5D7DA;
                        }

                        margin-top: 5px;
                    }

                    &-date {
                        margin-top: 15px;
                        display: flex;
                        justify-content: space-between;

                        @include devices(lg) {
                            margin-top: 10px;
                        }

                        &-data {
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            @include devices(lg) {
                                gap: 0px;
                            }

                            i {
                                font-size: 24px;
                                width: 24px;
                                color: #5454E3;

                                @include devices(lg) {
                                    font-size: 18px;
                                }
                            }

                            p {
                                @include font600(#000000, 14px);

                                @include devices(lg) {
                                    font-size: 12px;
                                }

                                @include devices(sm) {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}