.volunteers {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 6px;
        max-width: 1240px;
        margin: 0 auto;

        @include devices(lg) {
            width: 100%;
        }
    }

    .item {
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s ease;
        }
    }

    &__left {
        width: calc(50% - 8px);
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 6px;

        &-left {
            width: 54%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            > .item {
                width: 100%;
                flex: 1;
            }

            &-bottom {
                display: flex;
                flex-direction: row;
                gap: 6px;

                > .item {
                    width: 50%;
                    aspect-ratio: 1/1;
                }
            }
        }

        > .item {
            width: 46%;
            height: 100%;
        }
    }

    &__right {
        width: calc(50% - 8px);
        display: flex;
        flex-direction: row;
        gap: 6px;



        &-left {
            width: 43%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            .item:first-child {
                width: 100%;
                height: 60%;
            }

            .item {
                height: 40%;
            }

        }

        &-right {
            width: 57%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            > .item {
                width: 100%;
                flex: 1;
            }

            &-top {
                display: flex;
                flex-direction: row;
                gap: 6px;

                > .item {
                    width: 50%;
                    aspect-ratio: 1/1;
                }
            }
        }
    }

    @include devices(lg) {
        &__wrapper {
            flex-direction: column;
        }

        &__left,
        &__right {
            width: 100%;
        }
    }
}