.about-page {
    &__info {
        position: relative;
        border-radius: 14px;
        background-color: #FFFFFF;
        padding: 20px;
        z-index: 1;
        overflow: hidden;
        border: 1px solid #E9EAEB;


        &--tt {
            position: absolute;
            right: -2px;
            top: -2px;
            z-index: 2;
            opacity: 0.1;

        }

        h3 {
            position: relative;
            z-index: 3;
            @include font600(#000000, 22px);

            @include devices(md) {
                font-size: 20px;
            }
        }

        p {
            position: relative;
            z-index: 3;
            margin-top: 10px;
            @include font400(#000000, 16px);

            @include devices(md) {
                font-size: 14px;
            }

            @include devices(xs) {
                line-height: 1;
                margin-top: 5px;
            }
        }

        &--card {
            position: relative;
            z-index: 3;
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 16px;

            @include devices(sm) {
                grid-template-columns: 1fr 1fr;
            }


            &-item {
                padding: 15px;
                display: flex;
                gap: 12px;
                border-radius: 14px;

                &:nth-child(1) {
                    background: linear-gradient(to right, #E54519CC, #FFA288);

                    .about-page__info--card-item-img {
                        background: linear-gradient(to right, #FFA288, #E54519CC);
                    }
                }

                &:nth-child(2) {
                    background: linear-gradient(to right, #039855E5, #32D583CC);

                    .about-page__info--card-item-img {
                        background: linear-gradient(to right, #32D583CC, #039855E5);
                    }
                }

                &:nth-child(3) {
                    background: linear-gradient(to right, #444CE7E5, #8098F9E5);

                    .about-page__info--card-item-img {
                        background: linear-gradient(to right, #8098F9E5, #444CE7E5);
                    }
                }

                &:nth-child(4) {
                    background: linear-gradient(to right, #1C7776E5, #34DDDBCC);

                    .about-page__info--card-item-img {
                        background: linear-gradient(to right, #34DDDBCC, #1C7776E5);
                    }
                }

                @include devices(md) {

                    padding: 10px;
                }

                &-img {
                    padding: 15px;
                    border-radius: 8px;

                    @include devices(md) {
                        padding: 10px;
                    }

                    img {
                        width: 40px;
                        height: 40px;

                        @include devices(md) {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                &-info {
                    p {
                        @include font600(#FFFFFF, 20px);
                    }

                    span {
                        @include font500(#FFFFFFE5, 14px)
                    }
                }
            }
        }
    }

    &__images {
        margin-top: 16px;
        width: 100%;
        height: 300px;
        border-radius: 14px;

        img {
            border-radius: 14px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__mission {
        margin-top: 16px;
        display: flex;
        gap: 16px;

        @include devices(sm) {
            flex-direction: column;
        }

        &--item {
            border-radius: 14px;
            background-color: #F4D2BA4D;
            position: relative;
            padding: 20px;
            z-index: 1;

            @include devices(sm) {
                padding: 15px;
            }

            &-tt {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;

                @include devices(sm) {
                    img {
                        width: 80px;
                    }
                }
            }

            h4 {
                position: relative;
                z-index: 3;
                @include font600(#000000, 24px);

                @include devices(sm) {
                    font-size: 20px;
                }
            }

            p {
                margin-top: 10px;
                position: relative;
                z-index: 3;
                @include font400(#414651, 16px);

                @include devices(sm) {
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
    }

    &__values {
        margin-top: 40px;
        text-align: center;

        @include devices(md) {
            margin-top: 20px;
        }

        h4 {
            @include font600(#000000, 22px);
        }

        &--wrap {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 16px;

            @include devices(md) {
                margin-top: 10px;
            }

            @include devices(xs) {
                grid-template-columns: 1fr;
            }
        }


    }

    &__card {
        position: relative;
        border-radius: 14px;
        padding: 20px;
        background-color: #FFFFFF;
        overflow: hidden;
        border: 1px solid #F5F5F5;

        &:nth-child(1),
        &:nth-child(2) {
            grid-column: span 3;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            grid-column: span 2;
        }

        @include devices(md) {
            padding: 15px;
        }

        &--top {
            display: flex;
            align-items: center;
            gap: 10px;

            &-img {
                width: 38px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex-shrink: 0;
                background-color: #E54519;

                @include devices(xs) {
                    width: 30px;
                    height: 30px;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            h5 {
                text-align: start;
                @include font500(#000000, 22px);

                @include devices(xs) {
                    font-size: 18px;
                }
            }
        }

        p {
            margin-top: 8px;
            position: relative;
            z-index: 1;
            text-align: start;
            margin-left: 52px;
            @include font400(#414651, 16px);

            @include devices(md) {
                font-size: 14px;
                margin-top: 0px;
                line-height: 1;
            }
        }

        &--back {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;

            @include devices(md) {
                img {
                    width: 70px;
                }
            }
        }
    }

    &__guiding {
        margin-top: 40px;
        text-align: center;

        &--wrap {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 16px;

            @include devices(sm) {
                grid-template-columns: 1fr;
            }
        }


    }
}