.academic-comunity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    &__item {
        border: 1px solid #E9EAEB;
        border-radius: 14px;
        background-color: #FFFFFF;
        padding: 16px 16px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;

        &--tt {
            position: absolute;
            right: 0;
            top: 0;

            img {
                width: 73px;
                opacity: 0.1;
            }
        }

        &--top {
            display: flex;
            gap: 10px;

            &-images {
                flex-shrink: 0;
                background-color: #E545191A;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 24px;
                    color: #E54519;
                }
            }

            h3 {
                @include font500(#000000, 22px);
                letter-spacing: 0px;
            }
        }

        &--bottom {
            span {
                @include font400(#414651, 16px);
                margin-left: 48px;
                display: inline-block;
            }

            &-hr {
                margin-top: 15px;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, #E54519 0%,
                        #E54519 20%,

                        transparent 100%);

            }

            &-wrap {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    @include font400(#414651, 16px);
                }

                &-left {
                    position: relative;
                    width: 200px;


                    img:first-child img {
                        left: 0;
                    }

                    img:nth-child(2) {
                        left: 29px;
                    }

                    img:nth-child(3) {
                        left: 58px;
                    }

                    img:nth-child(4) {
                        left: 87px;
                    }

                    img {
                        top: -23px;
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        z-index: 2;
                        transition: ease 0.3s;
                    }
                }

                &-right {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #F5F5F5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &__item:hover {
        .academic-comunity__item--bottom-wrap-left {
            img:first-child img {
                left: 0;
            }

            img:nth-child(2) {
                left: 45px;
            }

            img:nth-child(3) {
                left: 90px;
            }

            img:nth-child(4) {
                left: 135px;
            }
        }
    }
}