.campus-faculty {
    &__info {
        padding: 16px;
        margin-bottom: 24px;
        background-color: #FFFFFF;
        border-radius: 14px;
        border: 1px solid #E9EAEB;

        h4 {
            @include font600(#000000, 22px);

            @include devices(sm) {
                font-size: 18px;
            }
        }

        &--wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
            margin-top: 20px;

            @include devices(sm) {
                grid-template-columns: 1fr 1fr;
            }

            @include devices(xs) {
                grid-template-columns: 1fr;
            }

            &-card {
                background-color: #FFFFFF;
                border: 1px solid #E9EAEB;
                border-radius: 8px;
                padding: 16px;

                &-top {
                    display: flex;
                    justify-content: space-between;

                    &-left {
                        p {
                            @include font600(#181D27, 24px);
                        }

                        span {
                            @include font400(#414651, 16px);
                        }
                    }

                    &-img {
                        width: 60px;
                        height: 60px;
                        background-color: #E545191A;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &-hr {
                    width: 100%;
                    height: 1px;
                    margin-top: 10px;
                    background: linear-gradient(to right,
                            #E54519 0%,
                            #E54519 40%,
                            rgba(229, 69, 25, 0.5) 50%,
                            rgba(229, 69, 25, 0.2) 80%,
                            transparent 100%);
                }

                &-bottom {
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        @include font400(#535862, 16px)
                    }

                    div {
                        width: 40px;
                        height: 40px;
                        background-color: #F5F5F5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;

                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    &__cards {
        display: flex;
        margin-top: 16px;
        justify-content: space-between;
        gap: 16px;

        @include devices(sm) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &--item {
            width: 100%;
            background-color: #FFFFFF;
            border-radius: 14px;
            border: 1px solid #E9EAEB;
            padding: 16px;
            display: flex;

            @include devices(md) {
                padding: 10px;
            }

            &-img {
                background-color: #EFF8FF;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 58px;
                height: 58px;
            }

            &-text {
                margin-left: 16px;

                p {
                    @include font500(#000000, 20px);
                }

                span {
                    @include font500(#00000099, 14px)
                }
            }
        }
    }
}