.clubs {
    h2 {
        @include font600(#000000, 22px);
    }

    &__wrap {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;

        @include devices(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }

        &--item {
            position: relative;
            cursor: pointer;

            &-head {
                border: 1px solid #E9EAEB;
                background-color: #FFFFFF;
                padding: 16px;
                border-radius: 8px;
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include devices(sm) {
                    padding: 12px
                }

                @include devices(xs) {
                    padding: 10px
                }

                p {
                    @include font500(#000000, 20px);

                    @include devices(sm) {
                        font-size: 18px;

                    }

                    @include devices(xs) {
                        font-size: 16px;

                    }
                }

                &-img {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: #E545191A;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include devices(xs) {
                        width: 34px;
                        height: 34px;
                    }
                }

                &-dropdown {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #E9EAEB;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -15px;
                    z-index: 3;
                    background-color: #FFFFFF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    i {
                        transition: all 0.3s ease;
                        font-size: 20px;
                        transform: rotate(180deg);
                    }
                }
            }

            &-body {
                // display: none;
                margin-top: 4px;
                border: 1px solid #E9EAEB;
                border-radius: 8px;
                background-color: #FFFFFF;
                position: relative;
                z-index: 1;
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s ease;

                ul {
                    padding: 6px 16px;

                    li {
                        border-bottom: 1px solid #E9EAEB;
                        padding: 10px;
                        @include font400(#181D27, 16px);
                        padding-left: 0;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }


    }
}

.clubs__wrap--item.active .clubs__wrap--item-body {
    opacity: 1;
    max-height: 500px;
}

.clubs__wrap--item.active .clubs__wrap--item-head-dropdown {
    i {
        transform: rotate(0deg);
    }
}