.contacts {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 100%;

        @include devices(md) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;

        @include devices(md) {
            width: 80%;
        }

        &--img {
            width: 520px;
            height: auto;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            z-index: 1;

            @include devices(md) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        > img {
            display: block;
            width: 600px;
            aspect-ratio: 1/1;
            max-width: 100%;
            height: auto;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;

        @include devices(md) {
            width: 100%;
            text-align: center;
            align-items: center;
            padding-bottom: 20px;
        }

        h5 {
            @include font600(var(--black), 48px);
            line-height: 60px;
            margin-bottom: 24px;
            transition: all 0.2s ease;
        }

        p {
            @include font400(#475467, 20px);
            line-height: 30px;
            transition: all 0.2s ease;
            margin-bottom: 40px;
        }

        span {
            display: flex;
            flex-direction: row;
            gap: 8px;
            @include font500(#475467, 20px);
            line-height: 24px;
            transition: all 0.2s ease;
            margin-bottom: 8px;

            i {
                transition: all 0.2s ease;
                transform: rotate(-45deg);
            }
        }

        .button {
            display: flex;
            flex-direction: row;
            gap: 4px;
            @include font600(#fff, 16px);
            line-height: 24px;
            transition: all 0.2s ease;
            background-color: var(--primary);
            padding: 12px 20px;
            margin: 0;
            border-radius: 8px;
        }

        .link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            @include font600(var(--black), 16px);
            line-height: 24px;
            transition: all 0.2s ease;
            padding: 12px 20px;
            box-shadow: 0px 1px 2px 0px #1018280D;
            border: 1px solid #D0D5DD;
            border-radius: 8px;

            &:hover {
                opacity: .7;
            }

            span {
                @include font600(var(--black), 16px);
                margin: 0;
            }




        }

        &--wrapper {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
        }
    }

    &-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        @include devices(md) {
            display: flex;
            flex-direction: column;
        }

        &__data {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 16px;

            &--title {
                @include font600(var(--black), 22px);
                line-height: 28px;
                letter-spacing: -2%;
            }

            &--form {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-top: 20px;

                &-group {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    width: 100%;

                    label {
                        @include font500(#242D3A, 16px);
                        line-height: 140%;
                        letter-spacing: -1%;
                    }

                    input {
                        @include font500(#778191, 16px);

                    }

                    textarea {
                        border-radius: 10px;
                        border: 1px solid #DFE4ED;
                        @include font500(#778191, 16px);
                        padding: 12px;
                        outline: none;
                    }
                }

                &-row {
                    display: flex;
                    gap: 16px;

                    @include devices(sm) {
                        flex-direction: column;
                    }
                }

                button {
                    background-color: #002266;
                    @include font500(#778191, 16px);
                    width: 126px;
                    border-radius: 10px;
                    color: #FFFFFF;
                    padding: 12px;
                    border: none;
                }
            }
        }

        &__contact {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;

            &--info {
                margin-top: 22px;
                display: flex;
                flex-direction: column;
                gap: 23px;

                &-item {
                    display: flex;
                    gap: 10px;

                    &-img {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        border: 1px solid #DFE4ED;

                        &-circle {
                            width: 42px;
                            height: 42px;
                            background: linear-gradient(180deg, #5491F3 0%, #2167D7 100%);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;

                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    &-numbers {
                        p {
                            @include font600(#010B1B, 16px);
                            line-height: 140%;
                            letter-spacing: -1%;
                        }

                        span {
                            @include font500(#002266, 16px);
                            line-height: 140%;
                            letter-spacing: -1%;
                        }
                    }
                }
            }
        }

        iframe {
            grid-column: span 2;
            width: 100%;
            height: 100%;
            min-height: 400px;
            border-radius: 16px;
        }
    }
}