.fees-funding {
    margin-top: 20px;


    &__top {
        border: 1px solid #E9EAEB;
        background-color: #FFFFFF;
        padding: 16px;
        border-radius: 14px;

        @include devices (sm) {
            padding: 12px
        }

        h4 {
            @include font500(#181D27, 20px);

            @include devices (sm) {
                font-size: 18px;

            }
        }

        &--wrap {
            margin-top: 20px;
            display: flex;
            gap: 16px;
            border-radius: 8px;

            @include devices (sm) {
                margin-top: 10px;
            }

            @include devices (xs) {
                flex-direction: column;
                gap: 10px;
            }

            &-card {
                position: relative;
                z-index: 1;
                padding: 16px;
                border: 1px solid #E9EAEB;
                border-radius: 8px;
                max-width: 400px;

                @include devices (sm) {
                    padding: 12px;
                }

                @include devices (xs) {
                    max-width: 100%;
                }

                &-tt {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 0;

                    img {
                        width: 59px;
                        opacity: 0.1;
                    }

                }

                h5 {
                    @include font500(#181D27, 20px);
                    position: relative;
                    z-index: 3;
                    margin-bottom: 15px;

                    @include devices (sm) {
                        font-size: 18px;
                    }
                }

                &-hr {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(to right,
                            #E54519 0%,
                            #E54519 40%,
                            rgba(229, 69, 25, 0.5) 50%,
                            rgba(229, 69, 25, 0.2) 80%,
                            transparent 100%);
                }

                p {
                    margin-top: 15px;
                    @include font500(#414651, 20px);

                    span {
                        color: #E54519;
                    }

                    @include devices (sm) {
                        font-size: 18px;
                        margin-top: 10px;
                        line-height: 1.1;
                    }
                }
            }
        }
    }

    &__bottom {
        border: 1px solid #E9EAEB;
        background-color: #FFFFFF;
        padding: 16px;
        border-radius: 14px;
        margin-top: 20px;

        @include devices (sm) {
            padding: 12px;
            margin-top: 10px
        }

        h4 {
            @include font500(#181D27, 20px);

            @include devices (sm) {
                font-size: 18px;
            }
        }

        p {
            margin-top: 10px;
            @include font400(#252B37, 16px);

            @include devices (sm) {
                font-size: 14px;
                line-height: 1.1;
                margin-top: 5px;
            }
        }

        &--wrap {
            margin-top: 30px;
            display: flex;
            gap: 16px;

            @include devices (sm) {
                margin-top: 10px;
            }

            @include devices (xs) {
                flex-direction: column;
                gap: 10px;
            }

            &-card {
                padding: 16px;
                border: 1px solid #E9EAEB;
                position: relative;
                z-index: 1;
                border-radius: 8px;
                max-width: 370px;

                @include devices (sm) {
                    padding: 12px;
                }

                @include devices (xs) {
                    max-width: 100%;
                }

                h6 {
                    @include font500(#E54519, 20px);

                    @include devices (sm) {
                        font-size: 18px;
                    }
                }

                p {
                    @include font400(#414651, 16px);
                    margin-top: 8px;
                    margin-bottom: 15px;

                    @include devices (sm) {
                        font-size: 14px;
                        line-height: 1.1;
                        margin-top: 5px;
                    }
                }

                &-img {
                    margin-top: 15px;
                    display: flex;
                    justify-content: end;

                    @include devices (sm) {
                        margin-top: 10px;
                    }

                    button {
                        border-radius: 8px;
                        background-color: #F5F5F5;
                        padding: 8px 16px;
                        border: none;

                        @include devices (sm) {
                            padding: 6px 12px;
                            font-size: 14px;
                        }
                    }
                }

                &-tt {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;

                    img {
                        width: 84px;
                        opacity: 0.1;
                    }
                }
            }
        }
    }
}