.football-team {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid #E9EAEB;

    @include devices(sm) {
        padding: 12px
    }

    @include devices(xs) {
        padding: 10px
    }

    p {
        @include font400(#252B37, 16px);

        @include devices(sm) {
            font-size: 14px;

        }

        @include devices(xs) {
            line-height: 1.1;

        }
    }

    &__img {
        margin-top: 16px;

        &--top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;

            @include devices(sm) {
                gap: 10px;
            }

            @include devices(xs) {
                grid-template-columns: 1fr 1fr;
            }

            &-item {
                height: 400px;
                border-radius: 8px;

                @include devices(md) {
                    height: 350px;
                }

                @include devices(sm) {
                    height: 300px;
                }

                @include devices(xs) {
                    height: 200px;
                }

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @include devices(xs) {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }

        &--bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 16px;
            gap: 16px;

            @include devices(sm) {
                gap: 10px;
                margin-top: 10px;
            }

            @include devices(xs) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            &-item {
                border-radius: 8px;
                height: 250px;

                @include devices(md) {
                    height: 220px;
                }

                @include devices(sm) {
                    height: 180px;
                }

                @include devices(xs) {
                    &:first-child {
                        display: none;
                    }
                }

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}