.football-team {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid #E9EAEB;

    p {
        @include font400(#252B37, 16px);
    }

    &__img {
        margin-top: 16px;

        &--top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;

            &-item {
                height: 400px;
                border-radius: 8px;

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &--bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 16px;
            gap: 16px;

            &-item {
                border-radius: 8px;
                height: 250px;

                img {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}