.german-professor {
    &__wrap {
        display: flex;
        flex-direction: column;
        border: 1px solid #E9EAEB;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding: 16px;
        overflow: hidden;

        &--row {
            display: grid;
            grid-template-columns: 1fr 430px;
            position: relative;
            z-index: 1;

            &-tttop {
                position: absolute;
                right: -20px;
                top: -20px;
                z-index: 2;

                img {
                    width: 145px;
                    opacity: 0.1;
                }
            }

            &-ttbottom {
                position: absolute;
                left: -30px;
                bottom: 0;
                z-index: 2;

                img {
                    width: 260px;
                    opacity: 0.1;
                }
            }

            &-text {
                position: relative;
                z-index: 3;

                h4 {
                    @include font600(#000000, 22px);
                }

                &-hr {
                    margin-top: 10px;
                    width: 100%;
                    height: 1px;
                    position: relative;
                    z-index: 2;
                    margin-bottom: 10px;

                    background: linear-gradient(to right,
                            #E54519 0%,
                            #E54519 40%,
                            rgba(229, 69, 25, 0.5) 50%,
                            rgba(229, 69, 25, 0.2) 80%,
                            transparent 100%);
                }

                p {
                    @include font400(#252B37, 16px)
                }

            }

            &-img {
                position: relative;
                z-index: 3;
                margin-left: 16px;

                &-top {
                    display: flex;
                    justify-content: space-between;

                    &-item {
                        padding: 10px 12px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border: 1px solid #E9EAEB;
                        border-radius: 8px;
                        background-color: #FFFFFF;

                        i {
                            font-size: 20px;
                            color: #5454E3;
                            width: 20px;
                        }

                        span {
                            @include font500(#252B37, 16px)
                        }
                    }
                }

                &-images {
                    border-radius: 8px;
                    width: 100%;
                    height: 390px;
                    margin-top: 16px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


        }

        &--p {

            p {
                @include font400(#252B37, 16px);
                margin-top: 0;
            }
        }
    }

    &__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        background-color: #FFFFFF;
        padding: 16px;
        border: 1px solid #E9EAEB;
        border-radius: 14px;
        margin-top: 16px;

        &--item {
            height: 258px;
            border-radius: 8px;

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}