.german-professor {
    &__wrap {
        display: flex;
        flex-direction: column;
        border: 1px solid #E9EAEB;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding: 16px;
        overflow: hidden;

        &--row {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
            position: relative;
            z-index: 1;
            justify-items: center;

            @include devices(sm) {
                grid-template-columns: 1fr;
            }

            &-tttop {
                position: absolute;
                right: -20px;
                top: -20px;
                z-index: 2;

                img {
                    width: 145px;
                    opacity: 0.1;
                }
            }

            &-ttbottom {
                position: absolute;
                left: -30px;
                bottom: 0;
                z-index: 2;

                img {
                    width: 260px;
                    opacity: 0.1;
                }
            }

            &-text {
                position: relative;
                z-index: 3;
                height: auto;

                @include devices(sm) {
                    order: 2;
                    margin-top: 15px
                }

                h4 {
                    @include font600(#000000, 22px);

                    @include devices(sm) {
                        font-size: 18px;
                    }

                    @include devices(xs) {
                        font-size: 16px;
                        line-height: 1;
                    }
                }

                &-hr {
                    margin-top: 10px;
                    width: 100%;
                    height: 1px;
                    position: relative;
                    z-index: 2;
                    margin-bottom: 10px;

                    background: linear-gradient(to right,
                            #E54519 0%,
                            #E54519 40%,
                            rgba(229, 69, 25, 0.5) 50%,
                            rgba(229, 69, 25, 0.2) 80%,
                            transparent 100%);
                }

                p {
                    @include font400(#252B37, 16px);

                    @include devices(md) {
                        line-height: 1.1;
                    }

                    @include devices(xs) {
                        line-height: 0.9;
                    }
                }

            }

            &-img {
                position: relative;
                z-index: 3;
                margin-left: 16px;
                max-width: 430px;
                overflow: hidden;
                border-radius: 8px;

                @include devices(sm) {
                    order: 1;
                    width: 100%;
                    margin-left: 0;
                }

                &-top {
                    display: flex;
                    justify-content: space-between;

                    @include devices(xs) {
                        gap: 5px;
                    }

                    &-item {
                        padding: 10px 8px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border: 1px solid #E9EAEB;
                        border-radius: 8px;
                        background-color: #FFFFFF;
                        font-size: 14px;

                        @include devices(md) {
                            padding: 5px;
                        }

                        @include devices(sm) {
                            padding: 5px 20px;
                        }

                        @include devices(xs) {
                            padding: 4px 1px;
                            gap: 4px;
                        }

                        i {
                            font-size: 20px;
                            color: #5454E3;
                            width: 20px;
                        }

                        span {
                            @include font500(#252B37, 16px);

                            @include devices(md) {
                                font-size: 14px;
                                display: block;
                                line-height: 1;
                            }

                            @include devices(xs) {
                                line-height: 0.9;
                            }
                        }
                    }
                }

                &-images {
                    border-radius: 8px;
                    width: 100%;
                    height: 100%;
                    max-height: 390px;
                    margin-top: 16px;

                    @include devices(xs) {
                        margin-top: 8px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px
                    }
                }
            }


        }

        &--p {

            p {
                @include font400(#252B37, 16px);
                margin-top: 0;

                @include devices(md) {
                    line-height: 1.1;
                }

                @include devices(xs) {
                    line-height: 0.9;
                }
            }
        }
    }

    &__carousel {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        background-color: #FFFFFF;
        padding: 16px;
        border: 1px solid #E9EAEB;
        border-radius: 14px;
        margin-top: 16px;

        @include devices(sm) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(xs) {
            padding: 10px;
            gap: 10px;
        }

        &--item {
            height: 258px;
            border-radius: 8px;

            @include devices(xs) {
                height: 180px;
            }

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}