.inter-office {
    &__contact {
        margin-top: 20px;

        &--bottom {
            margin-top: 16px;
            display: flex;
            gap: 200px;

            &-item {
                display: flex;
                align-items: center;
                gap: 9px;

                &-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    flex-shrink: 0;
                    background-color: #E545191A;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #E54519;
                        font-size: 26px;
                    }
                }
            }

            &-text {
                h5 {
                    @include font500(#000000, 16px);
                }

                #phone-number {
                    margin-top: 3px;
                    @include font400(#414651, 20px);
                    border: 2px solid red !important;
                }
            }

            &-left {
                display: flex;
                flex-direction: column;
                gap: 25px;
                width: 500px;
            }

            &-right {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

    }

    &__map {
        width: 100%;
        height: 400px;
        border-radius: 14px;
        margin-top: 16px;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}