.job-opurtunites {
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 16px;
    margin-top: 20px;

    h5 {
        @include font500(#181D27, 20px);
    }

    p {
        margin-top: 10px;
        @include font400(#252B37, 16px);

        span {
            display: block;
            margin-top: 30px;
        }
    }
}