.latest-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    &__item {
        border-radius: 14px;
        border: 1px solid #E9EAEB;
        background-color: #FFFFFF;

        &--img {
            height: 180px;
            width: 100%;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;

            img {
                border-top-left-radius: 14px;
                border-top-right-radius: 14px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--text {
            padding: 10px 12px;

            p {
                @include font700(#181D27, 18px);
            }

            span {
                @include font500(#535862, 13px);
                margin-top: 5px;
            }

            &-icon {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                margin-top: 15px;

                &-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    i {
                        font-size: 24px;
                        width: 24px;
                        color: #5454E3;
                    }

                    p {
                        @include font600(#000000, 14px);
                    }
                }
            }
        }
    }
}