.map {

    .container {
        max-width: 1360px;
        margin-bottom: 140px;

        @include devices(lg) {
            margin-bottom: 110px;
        }

        @include devices(md) {
            margin-bottom: 80px;
        }

        @include devices(sm) {
            margin-bottom: 60px;
        }

    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        @include devices(lg) {
            flex-direction: column;
            gap: 24px;
        }

        svg {
            flex: 1;
            width: auto;
            height: auto;
            display: block;
            max-width: 100%;

            // SVG region styles
            g.available {
                cursor: pointer;
                transition: all 0.2s ease;

                path {
                    fill: #ddf1f1;
                    stroke: white;
                    stroke-width: 2;
                    transition: all 0.1s ease;
                }

                &:hover {
                    path {
                        fill: var(--primary);
                        opacity: .7;
                    }
                }

                &.active {
                    path {
                        fill: var(--primary);
                        stroke-width: 1.5;
                    }

                    &:hover {
                        path {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__card {
        background: #fff;
        border-radius: 16px;
        overflow: hidden;
        width: 400px;
        box-shadow: 0px 5px 30px 15px #25575A14;

        @include devices(lg) {
            width: 80%;
        }

        @include devices(md) {
            width: 100%;
        }

    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 16px;

        &--item {
            background-color: #E5F4F4;
            border-radius: 8px;
            padding: 12px;
            box-shadow: var(--shadow-light);
            text-align: center;
            display: flex;
            flex-direction: column;
            transition: all 0.2s ease;

            &:hover {
                background-color: #E5F4F4;
                opacity: .7;
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__num {
        @include font700(var(--primary), var(--size-text-28));
        display: block;
    }

    &__label {
        @include font500(#757D8B, var(--size-text-14));
        text-align: start;
    }

    &__title {
        background: var(--primary);
        color: var(--white);
        padding: 16px;
        position: relative;
        overflow: hidden;
        @include font500(var(--white), var(--size-text-22));

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 20px;
            width: 50px;
            height: 45px;
            background: url("../images/sidebar-pattern.png");

        }

    }

}