.number-of {
    margin-top: 24px;
    overflow-x: auto;

    @include devices(sm) {
        margin-top: 0px;
    }

    .text-group {
        min-width: 1000px;
    }

    &__img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    p {
        margin-top: 20px;
        @include font400(#252B37, 16px);

        @include devices(sm) {
            font-size: 14px;
            line-height: 1.1;
        }
    }
}