.number-of {
    margin-top: 24px;

    &__img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    p {
        margin-top: 20px;
    }
}