.online-calculator {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &__score {
        background-color: #FFFFFF;
        border-radius: 14px;
        flex-shrink: 0;

        h5 {
            @include font500(#181D27, 22px);
            margin-bottom: 8.5px;
        }

        &--wrap {
            display: flex;
            gap: 20px;
            align-items: end;
            margin-top: 10px;

            &-left {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-item {
                    p {
                        @include font500(#414651, 14px);
                        margin-bottom: 6px;
                    }
                }
            }

            &-img {
                width: 140px;
                height: 140px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 140px;
                    height: 136px;
                }

                p {
                    @include font600(#181D27, 32px)
                }
            }
        }

        &--bottom {
            border: 1px solid #E9EAEB;
            border-radius: 9px;
            margin-top: 16px;
            padding: 16px;
            max-width: 370px;
            text-align: center;

            h6 {
                @include font600(#181D27, 18px);
            }
        }
    }


}