.partner-network {
    .erasmus {
        margin-top: 30px;
    }
}

.table-network {
    border-radius: 14px;
    border: 1px solid #E9EAEB;
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    overflow-x: auto;

    &__title {
        display: flex;
        min-width: 1000px;

        &--item {
            width: 100%;

            padding: 16px;
            text-align: center;
            background: linear-gradient(to right, #444CE7E5, #8098F9E5);

            h4 {
                @include font500(#FFFFFF, 20px);
                margin-bottom: 0;
            }
        }
    }

    &__body {
        display: flex;
        width: 100%;
        min-width: 1000px;

        &--element {
            width: 50%;

            &-item {
                border-bottom: 1px solid #E9EAEB;
                height: 72px;
                display: flex;
                flex-direction: column;
                align-items: start;
                padding-left: 16px;


                p {
                    @include font400(#181D27, 16px)
                }

                span {
                    @include font400(#535862, 14px)
                }
            }

            .black {
                background-color: #FAFAFA;
            }
        }
    }
}