.press {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 100%;


        @include devices(md) {
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        @include devices(md) {
            width: 100%;
        }

        &--img {
            width: 330px;
            height: auto;
            overflow: hidden;
            border-radius: 8px;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            @include devices(md) {
                width: 50%;
            }
        }

        > img {
            display: block;
            width: 800px;
            aspect-ratio: 1/1;
            max-width: 100%;
            height: auto;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include devices(md) {
                width: 100%;
            }
        }
    }

    &__right {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include devices(md) {
            width: 100%;
        }

        &--item {
            position: relative;
            padding: 0 24px;

            p {
                @include font600(#344054, 24px);
                line-height: 32px;
                transition: all 0.2s ease;
                margin-bottom: 16px;

                @include devices(md) {
                    font-size: 20px;
                }

                @include devices(sm) {
                    font-size: 18px;
                }
            }

            span {
                display: flex;
                flex-direction: row;
                gap: 8px;
                @include font500(#475467, 20px);
                line-height: 24px;
                transition: all 0.2s ease;
                margin-bottom: 8px;

                @include devices(sm) {
                    font-size: 16px;
                }

            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                background: #00000000;
                height: 0;
                transition: all 0.2s ease;
            }

            &:hover {
                &::after {
                    background: var(--primary);
                    height: 100%;
                }

                p {
                    color: var(--primary);
                }
            }
        }
    }
}