.research-centers {
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-top: 16px;

        &--card {
            display: flex;
            position: relative;
            z-index: 1;
            border-radius: 14px;
            border: 1px solid #E9EAEB;
            background-color: #FFFFFF;
            padding: 10px;
            overflow: hidden;

            &-img {
                flex-shrink: 0;
                width: 133px;
                height: 180px;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-text {
                position: relative;
                z-index: 3;
                padding: 6px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-top {

                    p {
                        @include font500(#000000, 18px);
                    }

                    &-hr {
                        width: 100%;
                        height: 1px;
                        position: relative;
                        z-index: 2;
                        margin-top: 5px;
                        background: linear-gradient(to right,
                                #E54519 0%,
                                #E54519 40%,
                                rgba(229, 69, 25, 0.5) 50%,
                                rgba(229, 69, 25, 0.2) 80%,
                                transparent 100%);
                    }

                    span {
                        @include font400(#535862, 14px);
                        margin-top: 5px;

                    }
                }

                &-btn {
                    display: flex;
                    justify-content: end;

                    button {
                        padding: 8px 16px;
                        @include font500(#252B37, 14px);
                        background-color: #F5F5F5;
                        border-radius: 8px;
                        border: none;
                    }
                }
            }

            &-tt {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;

                img {
                    width: 100px;
                    opacity: 0.1;
                }
            }
        }
    }
}