.software-engineering {
    &__tab {

        @include devices(sm) {
            width: 100%;
            display: flex;
            justify-content: start;
            margin-top: 0;
        }

        select {
            display: none;

            @include devices(sm) {
                display: block;
            }

            @include devices(xs) {
                font-size: 14px;
                padding: 5px;
            }
        }

        button {
            @include devices(sm) {
                display: none;
            }
        }

        p {
            @include font500(#252B37, 16px);

            @include devices(md) {
                font-size: 14px;
            }
        }
    }

    &__wrapper {
        display: flex;
        gap: 16px;

        @include devices(md) {
            flex-direction: column;
        }

        &--img {
            width: 374px;
            border-radius: 8px;
            overflow: hidden;
            flex-shrink: 0;

            @include devices(md) {
                width: 100%;
                height: 300px;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__toggle-btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        @include devices(sm) {
            margin-top: 10px;
        }
    }

    &__course {
        background-color: #FFFFFF;
        border-radius: 14px;
        border: 1px solid #E9EAEB;
        padding: 16px;
        margin-top: 20px;
        overflow-x: auto;

        @include devices(sm) {
            margin-top: 10px
        }

        h4 {
            @include font500(#181D27, 20px);
        }

        >p {
            margin-top: 10px;
            @include font400(#252B37, 16px);
            margin-bottom: 30px;

            @include devices(sm) {
                font-size: 14px;
                line-height: 1.1;
            }
        }

        &--table {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__tab {
        &--content {
            display: none;
        }

        &--content.active {
            display: block;
        }
    }
}