.software-engineering {
    &__wrapper {
        display: flex;
        gap: 16px;

        &--img {
            width: 374px;
            border-radius: 8px;

            overflow: hidden;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__toggle-btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__course {
        background-color: #FFFFFF;
        border-radius: 14px;
        border: 1px solid #E9EAEB;
        padding: 16px;
        margin-top: 20px;

        h4 {
            @include font500(#181D27, 20px);
        }

        >p {
            margin-top: 10px;
            @include font400(#252B37, 16px);
            margin-bottom: 30px;
        }

        &--table {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__tab {
        &--content {
            display: none;
        }

        &--content.active {
            display: block;
        }
    }
}