.sport-club {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;

    @include devices(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include devices(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include devices(xs) {
        gap: 7px;
    }

    &__item {
        // max-width: 300px;
        width: 100%;
        padding: 10px;
        border-radius: 14px;
        border: 1px solid #E9EAEB;
        position: relative;
        background-color: #FFFFFF;
        overflow: hidden;

        @include devices(xs) {
            padding: 5px;
        }

        &--img {
            border-radius: 8px;
            width: 100%;
            height: 177px;

            @include devices(xs) {
                height: 120px;
            }

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--text {
            margin-top: 10px;
            padding: 0px 6px;

            @include devices(xs) {
                margin-top: 5px;
            }

            p {
                @include font600(#181D27, 20px);

                @include devices(xs) {
                    font-size: 14px;
                }
            }

            &-hr {
                width: 100%;
                height: 1px;
                position: relative;
                margin-top: 8px;
                background: linear-gradient(to right,
                        #E54519 0%,
                        #E54519 40%,
                        rgba(229, 69, 25, 0.5) 50%,
                        rgba(229, 69, 25, 0.2) 80%,
                        transparent 100%);
            }
        }


        &--btn {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            padding: 6px;

            @include devices(xs) {
                margin-top: 5px;
            }

            button {
                display: flex;
                gap: 8px;
                padding: 8px 16px;
                border-radius: 8px;
                background-color: #F5F5F5;
                border: none;
                @include font500(#252B37, 14px);

                @include devices(xs) {
                    padding: 4px 8px;
                    font-size: 12px;
                }
            }
        }

        &--tt {
            position: absolute;
            left: 0;
            bottom: -10px;

            img {
                width: 84px;
                opacity: 0.1;

                @include devices(xs) {
                    width: 50px;
                }
            }
        }
    }
}