.state-grants {
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid #E9EAEB;
    padding: 16px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__top {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--tab {
            p {
                @include devices(sm) {
                    font-size: 14px;

                }
            }

            button {
                @include devices(xs) {
                    display: none;
                }
            }

            select {
                display: none;
                // width: 200px;
                // height: 20px;
                font-size: 14px;
                border: 1px solid #D5D7DA;
                border-radius: 8px;
                overflow: hidden;
                background-color: #FFFFFF;
                padding: 6px 8px;
                align-items: center;
                justify-content: center;

                @include devices(xs) {
                    display: flex;
                }
            }
        }

        &--select {
            width: 200px;
            height: 44px;
            border: 1px solid #D5D7DA;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            @include devices(sm) {
                width: 120px;
                height: 35px;
            }

            select {
                background-color: #FFFFFF;
            }

            option {
                width: 100%;
            }
        }
    }

    &__wrap {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 20px;

        @include devices(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(sm) {
            grid-template-columns: 1fr;
        }

        &--card {
            display: flex;
            padding: 10px;
            border: 1px solid #E9EAEB;
            border-radius: 14px;
            position: relative;
            z-index: 3;
            overflow: hidden;
            background-color: #FFFFFF;

            .orange {
                background: linear-gradient(to right, #E54519CC, #FFA288);
            }

            .green {
                background: linear-gradient(to right, #039855E5, #32D583CC);
            }

            .blue {
                background: linear-gradient(to right, #444CE7E5, #8098F9E5);
            }

            &-left {
                padding: 0 10px;
                min-height: 110px;
                display: flex;
                align-items: center;
                border-radius: 8px;

                p {
                    @include font600(#FFFFFF, 20px);

                    @include devices(xs) {
                        font-size: 16px;
                    }
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                gap: 8px;
                position: relative;
                z-index: 5;
                padding: 6px;
                margin-left: 4px;


                p {
                    @include font500(#414651, 16px);

                    span {
                        @include font500(#181D27, 16px);
                    }
                }
            }

            &-tt {
                position: absolute;
                right: 0;
                bottom: -30px;
                z-index: 4;

                img {
                    width: 84px;
                    opacity: 0.1;
                }
            }
        }
    }

    &__wrap.active {
        display: grid;
    }

    &__tt {
        position: absolute;
        z-index: 2;
        right: -30px;
        top: 0px;

        img {
            width: 182px;
            opacity: 0.1;
        }
    }
}

// .tab-content {
//     display: none;
// }

// .tab-content.active {
//     display: block;
// }