.structura {
    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;

        div {
            @include font400(#252B37, 16px);

            span {
                @include font500(#252B37, 18px);
            }
        }
    }

    &__img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-top: 16px;

        &--item {
            border-radius: 8px;
            height: 400px;

            img {
                border-radius: 8px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}