.univer-library {
    &__top {
        display: flex;
        gap: 16px;

        @include devices(sm) {
            flex-direction: column;
        }

        .text-group {
            border: 1px solid #E9EAEB;
        }

        &--img {
            width: 374px;
            height: 372px;
            border-radius: 8px;
            flex-shrink: 0;
            overflow: hidden;

            @include devices(sm) {
                width: 100%;
                height: 300px;
            }

            img {
                width: 100%;
                height: 100%;

                @include devices(sm) {
                    object-fit: cover;
                }
            }
        }
    }

    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-radius: 14px;
        margin-top: 16px;
        gap: 16px;

        @include devices(sm) {
            grid-template-columns: 1fr 1fr;
        }

        &--item {
            padding: 16px;
            display: flex;
            gap: 16px;
            border: 1px solid #E9EAEB;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 14px;

            @include devices(md) {
                padding: 10px;
                gap: 8px;
            }

            &-img {
                width: 58px;
                height: 58px;
                border-radius: 8px;
                flex-shrink: 0;
                background-color: #EFF8FF;
                display: flex;
                align-items: center;
                justify-content: center;

                @include devices(md) {
                    width: 48px;
                    height: 48px;
                }

                img {
                    width: 28px;
                }
            }

            &-text {
                margin-left: 16px;

                @include devices(md) {
                    margin-left: 0px
                }

                p {
                    @include font500(#000000, 20px)
                }

                span {
                    @include font500(#00000099, 14px);
                    margin-top: 6px;

                    @include devices(md) {
                        font-size: 12px;
                    }

                    line-height: 1;

                }
            }
        }
    }

    &__books {
        margin-top: 30px;

        @include devices(sm) {
            margin-top: 10px;
        }

        h5 {
            @include font600(#000000, 22px);

        }

        &--wrapper {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;

            @include devices(lg) {
                grid-template-columns: 1fr 1fr;
            }

            @include devices(sm) {
                grid-template-columns: 1fr;
                margin-top: 10px;
            }

            &-item {
                border-radius: 14px;
                border: 1px solid #E9EAEB;
                display: flex;
                padding: 10px;
                background-color: #FFFFFF;

                &-img {
                    background-color: #F5F5F5;
                    border-radius: 8px;
                    padding: 14px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 127px;
                        height: 167px;
                    }
                }

                &-text {
                    padding: 6px;
                    margin-left: 10px;

                    h4 {
                        @include font500(#000000, 18px);
                        line-height: 1;
                    }

                    div {
                        width: 100%;
                        height: 1px;
                        margin-top: 5px;
                        background: linear-gradient(to right,
                                #E54519 0%,
                                #E54519 40%,
                                rgba(229, 69, 25, 0.5) 50%,
                                rgba(229, 69, 25, 0.2) 80%,
                                transparent 100%);
                    }

                    p {
                        margin-top: 5px;
                        @include font400(#535862, 14px);
                        line-height: 1;
                    }
                }
            }
        }
    }

    &__statis {
        margin-top: 50px;
        padding: 16px;
        border-radius: 14px;
        background-color: #FFFFFF;
        border: 1px solid #E9EAEB;
        overflow-x: auto;

        &--top {
            display: flex;
            justify-content: space-between;

            h4 {
                @include devices(sm) {
                    font-size: 16px;
                }
            }

            &-right {
                display: flex;
                align-items: flex-start;

                &-date {
                    border-radius: 8px;
                    margin-right: 16px;
                    background-color: #FFFFFF;

                    @include devices(sm) {
                        width: 150px;

                    }

                    input {
                        padding: 5px;
                    }
                }
            }

            .toggle-button {
                button {

                    p {
                        @include font500(#252B37, 16px)
                    }
                }
            }
        }

        &--img {
            min-width: 1000px;
            margin-top: 30px;
        }
    }
}