<div class="about-page">
    <div class="about-page__info">
        <div class="about-page__info--tt">
            <img src="../../images/logo-tt.png">
        </div>
        <h3>About The University</h3>
        <p>Tashkent Tech will become a next-generation university offering world-class education in the fields of STEM
            (science,
            technology, engineering, and mathematics). The university will open in September 2026 It will serve as a
            platform for
            applied research and industrial collaboration. The first faculty will focus on the energy sector. Teaching
            and
            administration will be led by faculty with
            international experience</p>
        <div class="about-page__info--card">
            <div class="about-page__info--card-item ">
                <div class="about-page__info--card-item-img">
                    <img src="../../images/about-univer1.svg">
                </div>
                <div class="about-page__info--card-item-info">
                    <p>22,500</p>
                    <span>Students</span>
                </div>
            </div>
            <div class="about-page__info--card-item ">
                <div class="about-page__info--card-item-img">
                    <img src="../../images/about-univer3.svg">
                </div>
                <div class="about-page__info--card-item-info">
                    <p>112</p>
                    <span>Staff</span>
                </div>
            </div>
            <div class="about-page__info--card-item ">
                <div class="about-page__info--card-item-img">
                    <img src="../../images/about-univer2.svg">
                </div>
                <div class="about-page__info--card-item-info">
                    <p>6</p>
                    <span>Schools</span>
                </div>
            </div>
            <div class="about-page__info--card-item ">
                <div class="about-page__info--card-item-img">
                    <img src="../../images/about-univer4.svg">
                </div>
                <div class="about-page__info--card-item-info">
                    <p>68</p>
                    <span>Faculty</span>
                </div>
            </div>
        </div>
    </div>
    <div class="about-page__images">
        <img src="../../images/university-img.jpg">
    </div>
    <div class="about-page__mission">
        <div class="about-page__mission--item">
            <div class="about-page__mission--item-tt">
                <img src="../../images/tutuq.svg">
            </div>
            <h4>Missions</h4>
            <p>Tashkent University of Technology is committed to integrating advanced research with transformative
                education to nurture
                a diverse community of leaders, thinkers, and innovators. Through interdisciplinary .</p>
        </div>
        <div class="about-page__mission--item">
            <div class="about-page__mission--item-tt">
                <img src="../../images/tutuq.svg">
            </div>
            <h4>Vision</h4>
            <p>To be recognized globally as a leading institution that shapes the future through excellence in
                education,
                groundbreaking research, and meaningful
                partnerships that address the world's most pressing challenges.
            </p>
        </div>
    </div>
    <div class="about-page__values">
        <h4>Core Values</h4>
        <div class="about-page__values--wrap">
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/execellenge.svg">
                    </div>
                    <h5>Excellence</h5>
                </div>
                <p>We uphold the highest standards of academic rigor, innovation, and ethical conduct in all aspects
                    of our work.</p>
                <div class="about-page__card--back">
                    <img src="../../images/execellenge-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/impact.svg">
                    </div>
                    <h5>Impact</h5>
                </div>
                <p>We measure success by the positive influence we have on our students, the advancement of knowledge,
                    and the betterment
                    of society.</p>
                <div class="about-page__card--back">
                    <img src="../../images/impact-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/integrity.svg">
                    </div>
                    <h5>Integrity</h5>
                </div>
                <p>We are dedicated to transparency, honesty, and accountability in all our</p>
                <div class="about-page__card--back">
                    <img src="../../images/integrity-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/innovation.svg">
                    </div>
                    <h5>Innovation</h5>
                </div>
                <p>We embrace curiosity, creativity, and continuous improvement to drive.</p>
                <div class="about-page__card--back">
                    <img src="../../images/innovation-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/collabration.svg">
                    </div>
                    <h5>Collaboration</h5>
                </div>
                <p>We foster a culture of diversity and inclusivity, where a multitude ideas thrive.</p>
                <div class="about-page__card--back">
                    <img src="../../images/collabration-back.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="about-page__guiding">
        <h4>Guiding Principles</h4>
        <div class="about-page__guiding--wrap">
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/education.svg">
                    </div>
                    <h5>Integration of Research and Education</h5>
                </div>
                <p>We believe in the seamless fusion of research and education, inspiring critical thinking, creativity,
                    and lifelong
                    learning within a dynamic academic environment.</p>
                <div class="about-page__card--back">
                    <img src="../../images/education-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/global.svg">
                    </div>
                    <h5>Global Engagement</h5>
                </div>
                <p>We actively seek partnerships with leading global institutions to expand opportunities for our
                    students and faculty,
                    enhance research capabilities, and contribute to global knowledge.</p>
                <div class="about-page__card--back">
                    <img src="../../images/global-back.svg">
                </div>
            </div>

            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/engaga.svg">
                    </div>
                    <h5>Community Engagement</h5>
                </div>
                <p>We strive to be a catalyst for positive change in our local and regional communities through
                    outreach, collaboration,
                    and the dissemination of best practices in higher</p>
                <div class="about-page__card--back">
                    <img src="../../images/engaga-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/approach.svg">
                    </div>
                    <h5>Student-Centered Approach</h5>
                </div>
                <p>We prioritize the holistic development and well-being of our students, offering them the resources
                    and opportunities
                    needed to excel academically, professionally, and</p>
                <div class="about-page__card--back">
                    <img src="../../images/approach-back.svg">
                </div>
            </div>
            <div class="about-page__card">
                <div class="about-page__card--top">
                    <div class="about-page__card--top-img">
                        <img src="../../images/global.svg">
                    </div>
                    <h5>Continuous Improvement</h5>
                </div>
                <p>We are dedicated to a culture of continuous improvement, utilizing feedback and assessment to refine
                    and enhance the
                    quality of our programs, services.</p>
                <div class="about-page__card--back">
                    <img src="../../images/global-back.svg">
                </div>
            </div>
        </div>
    </div>
</div>