<div class="content">
    <div class="content__text">
        <p>
            “Vatandoshlar” jamoat fondi 2021 yil 11 avgustda tashkil etilgan. Bizning asosiy maqsadimiz- xorijda
            istiqomat qilayotgan vatandoshlarni tarixiy Vatani atrofida yanada jipslashtirish, ularning qalbi va ongida
            yurt bilan faxrlanish tuyg‘usini yuksaltirish, milliy o‘zlikni saqlab qolish, vatandoshlar va ular tomonidan
            tuzilgan jamoat birlashmalarini qo‘llab-quvvatlash, turli sohalarda faoliyat yuritayotgan
            vatandoshlarimizning salohiyatini mamlakatimiz taraqqiyotiga samarali yo‘naltirishdir!
        </p>
    </div>
</div>
<div class="content">
    <div class="content__text">
        <strong>
            Fondning ramzi
        </strong>
        <p>

            "Vatandoshlar" jamoat fondining ramzida asosan milliy qadriyatlarimizni anglatuvchi minoralar hamda tarixiy
            obidalarimizning naqshlarida aks etgan ko‘k rangdan foydalanilgan. Ko‘k rang – bu tinchlik va hotirjamlik
            ramzi bo‘lib, u yaxshilikni, donishmandlikni, halollikni va sadoqatni bildiradi.
            Markazda O‘zbekiston Respublikasining 30 yilligi munosabati bilan “Yangi O‘zbekiston” bog‘ida bunyod etilgan
            muhtasham obida “Mustaqillik monumenti” joy olgan. Obidaning eng yuqori qismida O‘zbekiston gerbidan ham
            o‘rin olgan “Humo qushi” tasvirlangan.
            Obidaning orqa tomonida globus tasviri tushirilgan bo‘lib, bu xorijda istiqomat qilayotgan vatandoshlar
            bilan ishlashni nazarda tutadi.
            Shuningdek, ramzda ochiq kaftlar keltirilgan bo‘lib, bu Fondning ochiqlik va qabul qilishlikni, halollik va
            samimiylikni, vatandoshlarni “Yangi O‘zbekiston” atrofida yanada jipslashishiga, ularga doimiy ravishda
            g‘amxo‘rlik qilishga ham tayyor ekanligini anglatadi.
        </p>
    </div>
    <div class="about__page">
        <div class="about__page--img">
            <img src="@/images/logo.png" alt="">
        </div>
    </div>
    <div class="content__text">
        "Vatandoshlar" jamoat fondining ramzida asosan milliy qadriyatlarimizni anglatuvchi minoralar hamda tarixiy
        obidalarimizning naqshlarida aks etgan ko‘k rangdan foydalanilgan. Ko‘k rang – bu tinchlik va hotirjamlik ramzi
        bo‘lib, u yaxshilikni, donishmandlikni, halollikni va sadoqatni bildiradi.
        Markazda O‘zbekiston Respublikasining 30 yilligi munosabati bilan “Yangi O‘zbekiston” bog‘ida bunyod etilgan
        muhtasham obida “Mustaqillik monumenti” joy olgan. Obidaning eng yuqori qismida O‘zbekiston gerbidan ham o‘rin
        olgan “Humo qushi” tasvirlangan.
        Obidaning orqa tomonida globus tasviri tushirilgan bo‘lib, bu xorijda istiqomat qilayotgan vatandoshlar bilan
        ishlashni nazarda tutadi.
        Shuningdek, ramzda ochiq kaftlar keltirilgan bo‘lib, bu Fondning ochiqlik va qabul qilishlikni, halollik va
        samimiylikni, vatandoshlarni “Yangi O‘zbekiston” atrofida yanada jipslashishiga, ularga doimiy ravishda
        g‘amxo‘rlik qilishga ham tayyor ekanligini anglatadi.
    </div>
</div>
<div class="about__page--video">
    <img src="@/images/about-video.jpg" alt="">
    <div class="play"><img src="@/images/play2.svg" alt=""></div>
</div>

<div class="content">

    <div class="content__text">
        <strong>
            Fondning tashkil topishi haqida
        </strong>
        <p>
            "Vatandoshlar" jamoat fondi 2021 yil 11 avgustda O‘zbekiston Respublikasi Prezidentining PQ-5220-sonli
            qarori
            bilan xorijiy davlatlardagi vatandoshlarimiz bilan doimiy va samarali aloqalar o‘rnatish va rivojlantirish
            hamda
            yagona Vatani atrofida jipslashtirish maqsadida tashkil etilgan.
        </p>
        <p>
            "Vatandoshlar" jamoat fondining vasiylik kengashi Fondning oliy organi hisoblanadi.
            Vasiylik kengashi tomonidan shakllantiriladigan Fond Boshqaruvi — Fondning ijro organi hisoblananadi.
        </p>
        <p>
            O‘zbekiston Respublikasi Oliy Majlisi huzuridagi Nodavlat notijorat tashkilotlarini va fuqarolik
            jamiyatining
            boshqa institutlarini qo‘llab -quvvatlash jamoat fondi mablag‘larini boshqarish bo‘yicha Parlament
            komissiyasiga
            har yili asoslangan buyurtmanoma asosida Fondning asosiy vazifalarini bajarish doirasidagi tadbirlarni
            tashkil
            etish va o‘tkazishni moliyalashtirish uchun subsidiya shaklida zarur mablag‘larni ajratadi.
        </p>
    </div>
</div>

<div class="content">
    <div class="content__title text-center" style="font-size: 20px;">
        Oliy maqsadimiz-xorijdagi vatandoshlarni Vatan atrofida birlashtirish, ularning qalbi va ongida yurtdan
        faxrlanish tuyg'usini yuksaltirish, milliy o'zlikni asrashdir!
    </div>

    <div class="carousel carousel3center owl-carousel ">
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-1.png" alt="">
            </div>
        </a>
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-2.png" alt="">
            </div>
        </a>
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-3.png" alt="">
            </div>
        </a>
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-1.png" alt="">
            </div>
        </a>
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-2.png" alt="">
            </div>
        </a>
        <a class="carousel__item" href="#">
            <div class="carousel__item--img">
                <img src="@/images/video-3.png" alt="">
            </div>
        </a>
    </div>
</div>