<div class="academic-comunity">
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/gear.png">
            </div>
            <h3>School of Engineering</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/laptop.png">
            </div>
            <h3>School of Computing</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/square-terminal.png">
            </div>
            <h3>Department of Software Engineering</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/shield-alt-1.png">
            </div>
            <h3>Department of Cyber security</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/atom.png">
            </div>
            <h3>Department of Chemical & Engineering</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/dna.png">
            </div>
            <h3>School of Humanities, and Social Sciences</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/calculator-list.png">
            </div>
            <h3>Department of Mathematics</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/magnet.png">
            </div>
            <h3>Department of Physics</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/ruler.png">
            </div>
            <h3>Department of Mechanical Engineering</h3>
        </div>
        <div class="academic-comunity__item--bottom">
            <span>Memeber: 5</span>
            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <div class="academic-comunity__item--bottom-wrap-left">
                    <img src="../../images/circle-img4.svg">
                    <img src="../../images/circle-img3.svg">
                    <img src="../../images/circle-img2.svg">
                    <img src="../../images/circle-img1.svg">
                </div>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="academic-comunity__item">
        <div class="academic-comunity__item--tt">
            <img src="../../images/logo-tt.png">
        </div>
        <div class="academic-comunity__item--top">
            <div class="academic-comunity__item--top-images">
                <img src="../../images/calculator-list.png">
            </div>
            <h3>Department of Mathematics</h3>
        </div>
        <div class="academic-comunity__item--bottom">

            <div class="academic-comunity__item--bottom-hr"></div>
            <div class="academic-comunity__item--bottom-wrap">
                <p>Members : 12</p>
                <div class="academic-comunity__item--bottom-wrap-right">
                    <i class="i-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>

</div>