<div class="admission-process">
    <div class="text-group">
        <h4>Admission Process for Transfer Students</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <p>
            We welcome students who wish to transfer their studies from other higher education institutions. Below, you
            will find detailed information about the transfer application process, requirements, and selection criteria.
            Application Deadlines
        <ol>
            <li>For Fall Semester: July 30</li>
            <li>For Fall Semester: July 30</li>
        </ol>
        <p>
            Any applications received after the deadline will be considered for the following semester.
            Applicants must submit their transfer applications through the university’s online platform. The following
            documents are required in electronic format:
        </p>
        <ul>
            <li>Passport or ID card</li>
            <li>Passport or ID card</li>
            <li>Passport or ID card</li>
            <li>Passport or ID card</li>
            <li>English proficiency certificate
                <ol>
                    <li>IELTS 5.5 or higher</li>
                    <li>IELTS 5.5 or higher</li>
                </ol>
            </li>
        </ul>
        </p>
    </div>
    <div class="table-wrapper">
        <table class="ielts-table">
            <thead>
                <tr>
                    <th>Certificates equivalent to the IELTS certificate</th>
                    <th>IELTS 5.5</th>
                    <th>IELTS 6.0</th>
                    <th>IELTS 6.5</th>
                    <th>IELTS 7.0</th>
                    <th>IELTS 7.5</th>
                    <th>IELTS 8.0</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TOEFL iBT*</td>
                    <td>46</td>
                    <td>60</td>
                    <td>79</td>
                    <td>94</td>
                    <td>102</td>
                    <td>110</td>
                </tr>
                <tr>
                    <td>CEFR</td>
                    <td>51–55</td>
                    <td>51–55</td>
                    <td>51–55</td>
                    <td>51–55</td>
                    <td>51–55</td>
                    <td>51–55</td>
                </tr>
                <tr>
                    <td>English B at Higher Level in the International Baccalaureate Diploma</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>English B at Standard Level in the International Baccalaureate Diploma</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Cambridge C1 Advanced / C2 Proficiency / B2 First</td>
                    <td>162</td>
                    <td>167</td>
                    <td>172</td>
                    <td>180</td>
                    <td>186</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Pearson Edexcel International GCSE English Language</td>
                    <td>D</td>
                    <td>C</td>
                    <td>A</td>
                    <td>A</td>
                    <td>B</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>IGCSE English as a First Language</td>
                    <td>D</td>
                    <td>D</td>
                    <td>C</td>
                    <td>C</td>
                    <td>A</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>GCE A-Level / AS-Level / GCSE / GCE O-Level English Language</td>
                    <td>36</td>
                    <td>46</td>
                    <td>55</td>
                    <td>66</td>
                    <td>72</td>
                    <td>80</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="admission-process__personal text-group">
        <h4>Apply Now</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="admission-process__personal--info">
            <h5>Personal Information</h5>

            <form class="admission-process__personal--info-form">
                <div class="admission-process__personal--info-form-top">
                    <div class="admission-process__personal--info-form-element">
                        <label>First Name *</label>
                        <input type="text" placeholder="Enter">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>Last Name *</label>
                        <input type="text" placeholder="Enter">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>Patronymic name *</label>
                        <input type="text" placeholder="Enter">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>Gender *</label>
                        <select>
                            <option value="">Enter</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Date of Birth *</label>
                        <input type="date">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>Email *</label>
                        <input type="email" placeholder="Enter">
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Mobile phone number *</label>
                        <input type="tel" placeholder="Enter">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>Passport or ID card number *</label>
                        <input type="text" placeholder="Enter">
                    </div>
                </div>


                <div class="admission-process__personal--info-form-upload">
                    <label>Upload your passport or ID card (pdf format) *</label>
                    <div class="admission-process__personal--info-form-upload-item">
                        <label for="uploadBox">
                            <span>📎 Click to upload</span>
                            <p>or drag and drop</p>
                        </label>
                        <input id="uploadBox" type="file" accept=".pdf">
                        <div class="files-names">
                            <ul class="files-list">
                            </ul>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="admission-process__personal--info">
            <h5>Education Background</h5>

            <form class="admission-process__personal--info-form">
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Current university name *</label>
                        <input type="text" placeholder="Enter">
                    </div>
                    <div class="admission-process__personal--info-form-element">
                        <label>Which program do you want to transfer? *</label>
                        <select>
                            <option value="">Enter</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div>
                        <label>Upload high school/lyceum/col diploma (pdf format) *</label>
                        <div class="admission-process__personal--info-form-upload-item">
                            <label for="uploadBoxSchool">
                                <span>📎 Click to upload</span>
                                <p>or drag and drop</p>
                            </label>
                            <input id="uploadBoxSchool" type="file" accept=".pdf">
                            <div class="files-names-school">
                                <ul class="files-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Upload motivational letter *</label>
                        <div class="admission-process__personal--info-form-upload-item">
                            <label for="uploadBoxLetter">
                                <span>📎 Click to upload</span>
                                <p>or drag and drop</p>
                            </label>
                            <input id="uploadBoxLetter" type="file" accept=".pdf">
                            <div class="files-names-letter">
                                <ul class="files-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div>
                        <label>Upload university transcript (if available)</label>
                        <div class="admission-process__personal--info-form-upload-item">
                            <label for="uploadBoxUniver">
                                <span>📎 Click to upload</span>
                                <p>or drag and drop</p>
                            </label>
                            <input id="uploadBoxUniver" type="file" accept=".pdf">

                            <div class="files-names-univer">
                                <ul class="files-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Upload additional academic achievements (if available)</label>
                        <div class="admission-process__personal--info-form-upload-item">
                            <label for="uploadBoxAcademic">
                                <span>📎 Click to upload</span>
                                <p>or drag and drop</p>
                            </label>
                            <input id="uploadBoxAcademic" type="file" accept=".pdf">
                            <div class="files-names-academic">
                                <ul class="files-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="admission-process__personal--info-form-upload">
                    <label>Upload English proficiency certificate (if available)</label>
                    <div class="admission-process__personal--info-form-upload-item">
                        <label for="uploadBoxEnglish">
                            <span>📎 Click to upload</span>
                            <p>or drag and drop</p>
                        </label>
                        <input id="uploadBoxEnglish" type="file" accept=".pdf">
                        <div class="files-names-english">
                            <ul class="files-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="admission-process__personal--btn">
            <button>Send</button>
        </div>
    </div>
</div>
<script>
    const uploadInput = document.getElementById('uploadBox');
    const fileList = document.querySelector('.files-list');

    uploadInput.addEventListener('change', function () {
        fileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            fileList.appendChild(li);
        });
    });

    fileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadInput.files = dt.files;
        uploadInput.dispatchEvent(new Event('change'));
    });
    const uploadSchoolInput = document.getElementById('uploadBoxSchool');
    const schoolFileList = document.querySelector('.files-names-school .files-list');

    uploadSchoolInput.addEventListener('change', function () {
        schoolFileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            schoolFileList.appendChild(li);
        });
    });

    // delete qilish
    schoolFileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadSchoolInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadSchoolInput.files = dt.files;
        uploadSchoolInput.dispatchEvent(new Event('change'));
    });

    const uploadLetterInput = document.getElementById('uploadBoxLetter');
    const letterFileList = document.querySelector('.files-names-letter .files-list');

    uploadLetterInput.addEventListener('change', function () {
        letterFileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            letterFileList.appendChild(li);
        });
    });

    // delete qilish
    letterFileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadLetterInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadLetterInput.files = dt.files;
        uploadLetterInput.dispatchEvent(new Event('change'));
    });

    const uploadUniverInput = document.getElementById('uploadBoxUniver');
    const univerFileList = document.querySelector('.files-names-univer .files-list');

    uploadUniverInput.addEventListener('change', function () {
        univerFileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            univerFileList.appendChild(li);
        });
    });

    // delete qilish
    univerFileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadUniverInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadUniverInput.files = dt.files;
        uploadUniverInput.dispatchEvent(new Event('change'));
    });
    const uploadAcademicInput = document.getElementById('uploadBoxAcademic');
    const academicFileList = document.querySelector('.files-names-academic .files-list');

    uploadAcademicInput.addEventListener('change', function () {
        academicFileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            academicFileList.appendChild(li);
        });
    });

    // delete qilish
    academicFileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadAcademicInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadAcademicInput.files = dt.files;
        uploadAcademicInput.dispatchEvent(new Event('change'));
    });
    const uploadEnglishInput = document.getElementById('uploadBoxEnglish');
    const englishFileList = document.querySelector('.files-names-english .files-list');

    uploadEnglishInput.addEventListener('change', function () {
        englishFileList.innerHTML = '';

        Array.from(this.files).forEach((file, index) => {
            const li = document.createElement('li');

            li.innerHTML = `
            <span>${file.name}</span>
            <i class="fa-solid fa-trash" data-index="${index}"></i>
        `;

            englishFileList.appendChild(li);
        });
    });

    // delete qilish
    englishFileList.addEventListener('click', function (e) {
        if (!e.target.classList.contains('fa-trash')) return;

        const index = e.target.dataset.index;
        const dt = new DataTransfer();

        Array.from(uploadEnglishInput.files).forEach((file, i) => {
            if (i != index) dt.items.add(file);
        });

        uploadEnglishInput.files = dt.files;
        uploadEnglishInput.dispatchEvent(new Event('change'));
    });

</script>