<div class="albert-flores">
    <div class="albert-flores__info text-group">
        <div class="albert-flores__info--contact">
            <div class="albert-flores__info--contact-icon">
                <p><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</p>
                <p><i class="fa-solid fa-envelope"></i>info@tashkenttech-edu.uz</p>
            </div>
            <div class="albert-flores__info--contact-link">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="albert-flores__info--body">
            <h4>About</h4>
            <div class="hr"></div>
            <p>Emily Rodriguez was born in 1988 in Weimer in Germany. She graduated from the University of World Economy
                and Diplomacy
                in Tashkent with a major in International economic relations. Khilola Umarova is a researcher at the
                Academy of Public
                Administration under the President of the Republic of Uzbekistan. She is fluent in Uzbek, Russian and
                English. Emily
                Rodriguez is married and has one child.</p>
        </div>
        <div class="albert-flores__info--experience ">
            <h4>Experience</h4>
            <div class="hr"></div>
            <p>
            <ol>
                <li>2019 - 2019 — Chief Manager on the affairs of supporting active entrepreneurship, innovative ideas
                    and technologies at
                    Inha University in Tashkent.
                </li>
                <li>
                    2019 - 2020 — Director of the specialized school named after Muhammad al-Khorazmi, specializing in
                    advanced education in
                    information and communication technologies.
                </li>
                <li>2020 - 2022 — Director of the Agency for Presidential Educational Institutions of the Republic of
                    Uzbekistan</li>
                <li>2022-2025 – Minister of Preschool and School Education.</li>
                <li>2025 – Deputy Head of the Presidential Administration for Education Reform.</li>
            </ol>
            </p>
        </div>
    </div>
    <div class="albert-flores__images">
        <div class="albert-flores__images--top">
            <img src="../../images/dr-adhamov.png">
        </div>
        <div class="albert-flores__images--text">
            <div class="albert-flores__images--text-top">
                <div class="albert-flores__images--text-top-element">
                    <div></div>
                    <span>Rector</span>
                </div>
                <img src="../../images/logo-tt.svg">
            </div>
            <h3>Dr. Adham Khudaykulov</h3>
        </div>
    </div>
</div>