<div class="campus-faculty">
    <div class="campus-faculty__info">
        <h4>Ulugbek Central Auditorium (U.C.A.)</h4>
        <div class="campus-faculty__info--wrapper">
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/desktop-stul.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right"></i></div>
                </div>
            </div>
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/desk-stol.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right"></i></div>
                </div>
            </div>
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/globus.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right" i></i></div>
                </div>
            </div>
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/seats.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right"></i></div>
                </div>
            </div>
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/book-seats.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right"></i></div>
                </div>
            </div>
            <div class="campus-faculty__info--wrapper-card">
                <div class="campus-faculty__info--wrapper-card-top">
                    <div class="campus-faculty__info--wrapper-card-top-left">
                        <p>34</p>
                        <span>Office</span>
                    </div>
                    <div class="campus-faculty__info--wrapper-card-top-img">
                        <img src="../../images/meeting-seats.png">
                    </div>
                </div>
                <div class="campus-faculty__info--wrapper-card-hr"></div>
                <div class="campus-faculty__info--wrapper-card-bottom">
                    <p>10 photos</p>
                    <div><i class="i-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-group">
        <h4>Campus Environmental Condition</h4>
        <div class="hr"></div>
        <p>Tashkent University of Technology (TTU) prioritizes environmental sustainability. Currently, 0.45 hectares,
            or 30% of the total campus area, is greened.
            The campus is home to ___ trees, with this number steadily increasing each year. According to the
            university's strategic plan, 200 trees are planted annually to expand the greenery on campus.
            Enhancing the ecological environment and preserving natural beauty are among our key priorities. The
            campus's green spaces not only provide aesthetic pleasure but also contribute to the well-being of students
            and create a conducive learning environment.</p>
    </div>
    <div class="campus-faculty__cards">
        <div class="campus-faculty__cards--item">
            <div class="campus-faculty__cards--item-img">
                <img src="../../images/trees.png">
            </div>
            <div class="campus-faculty__cards--item-text">
                <p>10</p>
                <span>Trees</span>
            </div>
        </div>
        <div class="campus-faculty__cards--item">
            <div class="campus-faculty__cards--item-img">
                <img src="../../images/flowers.png">
            </div>
            <div class="campus-faculty__cards--item-text">
                <p>10</p>
                <span>Trees</span>
            </div>
        </div>
        <div class="campus-faculty__cards--item">
            <div class="campus-faculty__cards--item-img">
                <img src="../../images/fruits.png">
            </div>
            <div class="campus-faculty__cards--item-text">
                <p>10</p>
                <span>Trees</span>
            </div>
        </div>
        <div class="campus-faculty__cards--item">
            <div class="campus-faculty__cards--item-img">
                <img src="../../images/fir-trees.png">
            </div>
            <div class="campus-faculty__cards--item-text">
                <p>10</p>
                <span>Trees</span>
            </div>
        </div>
    </div>
</div>