<div class="careers">
    <div class="careers-item">
        <h2 class="careers-title">Bosh mutaxassis</h2>
        <p class="careers-desc">O‘zbekiston Respublikasi Iqtisodiyot va moliya vazirligi</p>
        <hr>
        <div class="careers-item-content mb-2">
            <i class="i-cash"></i>
            <span>Ish haqi:</span>
            <span class="bold">8 000 000 so‘m</span>
        </div>
        <div class="careers-item-content mb-2">
            <i class="i-calendar"></i>
            <span>Bandlik turi:</span>
            <span class="bold">Qisman</span>
        </div>
        <div class="careers-item-content m-0">
            <i class="i-location"></i>
            <span>Hudud:</span>
            <span class="bold">Toshkent shahar</span>
        </div>
        <hr>
        <div class="careers-footer">
            <a href="career-view.html" class=" button">Batafsil <i class="i-arrow-right"></i></a>
            <div class="divider"></div>
            <div class="date"><i class="i-calendar-clock"></i>30.12.2023</div>
            <div class="view"><i class="i-eye"></i><span>2312</span></div>
        </div>
    </div>
    <div class="careers-item">
        <h2 class="careers-title">Bosh mutaxassis</h2>
        <p class="careers-desc">O‘zbekiston Respublikasi Iqtisodiyot va moliya vazirligi</p>
        <hr>
        <div class="careers-item-content  mb-2">
            <i class="i-cash"></i>
            <span>Ish haqi:</span>
            <span class="bold">8 000 000 so‘m</span>
        </div>
        <div class="careers-item-content  mb-2">
            <i class="i-calendar"></i>
            <span>Bandlik turi:</span>
            <span class="bold">Qisman</span>
        </div>
        <div class="careers-item-content m-0">
            <i class="i-location"></i>
            <span>Hudud:</span>
            <span class="bold">Toshkent shahar</span>
        </div>
        <hr>
        <div class="careers-footer">
            <a href="career-view.html" class="button">Batafsil <i class="i-arrow-right"></i></a>
            <div class="divider"></div>
            <div class="date"><i class="i-calendar-clock"></i>30.12.2023</div>
            <div class="view"><i class="i-eye"></i><span>2312</span></div>
        </div>
    </div>
</div>