<div class="careers-view">
    <div class="careers-view-header">
        <h2 class="careers-title">Bosh mutaxassis</h2>
        <p class="careers-desc">O‘zbekiston Respublikasi Iqtisodiyot va moliya vazirligi</p>
        <hr>
        <div class="careers-item-wrapper">
            <div class="careers-item-content">
                <i class="icon-cash"></i>
                <span>Ish haqi:</span>
                <span class="bold">8 000 000 so‘m</span>
            </div>
            <div class="careers-item-content">
                <i class="icon-calendar"></i>
                <span>Bandlik turi:</span>
                <span class="bold">Qisman</span>
            </div>
            <div class="careers-item-content ">
                <i class="icon-location"></i>
                <span>Hudud:</span>
                <span class="bold">Toshkent shahar</span>
            </div>
        </div>
    </div>
    <div class="careers-view-body">
        <h2 class="careers-view-body-title">Malakaviy talablar</h2>
        <p class="careers-view-body-desc">Bakalavr darajasiga ega, ta'lim muassasalarida kamida 3 yillik
            mehnat
            staji
            bo'lishi, badiiy ta'lim sohasida amaliy va nazariy ko'nikmalarga ega, estetik, axloqiy, huquqiy
            va siyosiy madaniyatning nazariy va amaliy asoslari borasida bilimlari bor, badiiy akademiyaga
            doir qonun va qonunosti hujjatlari ijrosi bilan bog'liq ko'nikmalari shakllangan, qonun va va
            qonuosti hujjatlarni tayyorlash to'g'risidagi qonunga muvofiq loyihalar tayyorlash bilimiga ega,
            manfaatlar to'qnashuvi va korrupsiyaga murosasizlik, halollik, kasbiy odob doirasida axloqiy
            fazilatlarga ega hamda tizimdagi ta'lim muasssalarida boshqaruv etikasi talablari bilan ishlay
            oladigan, yoshlar siyosatiga doir loyihalarni amalga oshira olishi lozim.</p>
        <h2 class="careers-view-body-title">Lavozimiy majburiyatlari</h2>
        <p class="careers-view-body-desc">Lavozim yo'riqnomada belgilangan majburiyatlarni bajarishi lozim.
        </p>
        <h2 class="careers-view-body-title">Ish sharoitlari</h2>
        <p class="careers-view-body-desc">5 kunlik ish rejimi</p>
        <h2 class="careers-view-body-title">Mutaxassisligi</h2>
        <p class="careers-view-body-desc">Ta'lim yo'nalishi</p>

        <div class="button"><i class="icon-send"></i>Ariza yuborish</div>
    </div>

</div>