<div class="choose-univer">
    <div class="choose-univer__info">
        <div class="choose-univer__info--tttop">
            <img src="../../images/logo-tt.png">
        </div>
        <h4>Why Choose Tashkent University of Technology?</h4>
        <div class="choose-univer__info--hr"></div>
        <div class="choose-univer__info--text">
            <p>
                Tashkent University of Technology offers a dynamic and rigorous academic environment designed to empower
                students with the knowledge and skills necessary for success. Our key features include:

                <span>
                    Diverse Academic Programs
                </span>

                Our four schools offer a wide range of specializations:
            </p>
        </div>
        <div class="choose-univer__info--table">
            <div class="choose-univer__info--table-item">
                <div class="choose-univer__info--table-item-head">
                    <p>School of Engineering</p>
                    <div class="choose-univer__info--table-item-head-dropdown">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
            </div>
            <div class="choose-univer__info--table-item">
                <div class="choose-univer__info--table-item-head">
                    <p>School of Engineering</p>
                    <div class="choose-univer__info--table-item-head-dropdown">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
            </div>
            <div class="choose-univer__info--table-item">
                <div class="choose-univer__info--table-item-head">
                    <p>School of Engineering</p>
                    <div class="choose-univer__info--table-item-head-dropdown">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
            </div>
            <div class="choose-univer__info--table-item">
                <div class="choose-univer__info--table-item-head">
                    <p>School of Engineering</p>
                    <div class="choose-univer__info--table-item-head-dropdown">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
                <div class="choose-univer__info--table-item-body">
                    <p>Materials engineering</p>
                </div>
            </div>
        </div>
        <div class="choose-univer__info--description">
            <p>State-of-the-Art Facilities
                Experience a modern campus equipped with cutting-edge laboratories, collaborative co-working spaces, and
                a
                comprehensive library to support your academic journey.
                Vibrant Student Life
                Engage in various student organizations, cultural events, and leadership opportunities that enhance your
                university experience.
                Required Documents:
                High school transcripts, personal statement, recommendation letters, and standardized test scores.
                Start your undergraduate journey at NewUU—where innovation meets opportunity</p>
        </div>
        <div class="choose-univer__info--ttbottom">
            <img src="../../images/logo-tt.png">
        </div>
    </div>
    <h4 class="choose-univer__admission">Admissions Timeline</h4>
    <div class="choose-univer__timeline">
        <div class="choose-univer__timeline--info">
            <div class="choose-univer__timeline--info-wrap">
                <div class="choose-univer__timeline--info-wrap-item">

                    <p>20th January</p>
                    <div class="choose-univer__timeline--info-wrap-item-before">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__timeline--info-wrap-item">
                    <p>Start of Admission</p>
                </div>
            </div>
            <div class="choose-univer__timeline--info-wrap">
                <div class="choose-univer__timeline--info-wrap-item">

                    <p>20th January</p>
                    <div class="choose-univer__timeline--info-wrap-item-before">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__timeline--info-wrap-item">
                    <p>Start of Admission</p>
                </div>
            </div>
            <div class="choose-univer__timeline--info-wrap">
                <div class="choose-univer__timeline--info-wrap-item">

                    <p>20th JanuaryCEFR or other
                        equivalents)· International certificate (SAT, International Baccalaureate (IB), International AS
                        & A Levels) - if
                        available· Secondary school / Academic lyceum / Professional college diploma with academic
                        transcripts· Document of</p>
                    <div class="choose-univer__timeline--info-wrap-item-before">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__timeline--info-wrap-item">
                    <p>Start of Admission</p>
                </div>
            </div>
            <div class="choose-univer__timeline--info-wrap">
                <div class="choose-univer__timeline--info-wrap-item">

                    <p>20th January</p>
                    <div class="choose-univer__timeline--info-wrap-item-before">
                        <i class="i-dropdown"></i>
                    </div>
                </div>
                <div class="choose-univer__timeline--info-wrap-item">
                    <p>Deadline for Submission of Documents· English proficiency test certificate (IELTS, TOEFL iBT,
                        CEFR or other
                        equivalents)· International certificate (SAT, International Baccalaureate (IB), International AS
                        & A Levels) - if
                        available· Secondary school / Academic lyceum / Professional college diploma with academic
                        transcripts· Document of
                        Unified Register of Social Protection (Ijtimoiy himoya yagona reestri) - if available·
                        International Olympiad
                        certificate - if available</p>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-univer__courses">
        <div class="choose-univer__courses--tttop">
            <img src="../../images/logo-tt.png">
        </div>
        <h4>General Entry Requirements For All Undergraduate Courses</h4>
        <div class="choose-univer__courses--hr"></div>
        <div class="choose-univer__courses--text">
            <p>
                <span>Educational Background:</span>
                Applicants must have completed secondary school, academic lyceum, or professional college and provide
                diploma with
                academic transcripts.
                <span>Minimum English Proficiency:</span>
                IELTS: 5.5 or;
                CEFR: B2 or;
                TOEFL iBT: 46 or equivalents
                (Note: Only TOEFL iBT tests taken at approved test centers are accepted. The TOEFL iBT Home Edition is
                not accepted.)

                <span>Entrance Exam Requirement:</span>
                Applicants must pass the Math & Logical Thinking entrance exam. Applicants with an international
                certificate (SAT,
                International Baccalaureate (IB), International AS & A Levels) may be exempt from the entrance exam.
                Their math section
                scores from international certificates will be considered. To compare international certificate math
                scores with the
                entrance exam scores, applicants may use the online equivalency calculator. If applicants prefer, they
                may still take
                the entrance exam. In case of a difference between the entrance exam score and the score derived from
                their
                international certificate, the higher score will be considered.

                <span>Begin Your Journey at TTU</span>
                Embark on a transformative educational journey at TTU, where your potential is nurtured, and your
                aspirations are
                realized. Join a community committed to academic excellence and personal growth.
            </p>
        </div>
        <div class="choose-univer__courses--btn">
            <button>Start your application</button>
        </div>
        <div class="choose-univer__courses--ttbottom">
            <img src="../../images/logo-tt.png">
        </div>
    </div>
</div>