<div class="clubs">
    <h2>Clubs</h2>
    <div class="clubs__wrap">
        <div class="clubs__wrap--item">
            <div class="clubs__wrap--item-head">
                <p>Entertainment</p>
                <div class="clubs__wrap--item-head-img">
                    <img src="../../images/gaming-pad.png">
                </div>
                <div class="clubs__wrap--item-head-dropdown">
                    <i class="i-dropdown"></i>
                </div>
            </div>
            <div class="clubs__wrap--item-body">
                <ul>
                    <li>Cybersport</li>
                    <li>Karaoke</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                </ul>
            </div>
        </div>
        <div class="clubs__wrap--item">
            <div class="clubs__wrap--item-head">
                <p>Entertainment</p>
                <div class="clubs__wrap--item-head-img">
                    <img src="../../images/graduation-hat.png">
                </div>
                <div class="clubs__wrap--item-head-dropdown">
                    <i class="i-dropdown"></i>
                </div>
            </div>
            <div class="clubs__wrap--item-body">
                <ul>
                    <li>Cybersport</li>
                    <li>Karaoke</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                </ul>
            </div>
        </div>
        <div class="clubs__wrap--item">
            <div class="clubs__wrap--item-head">
                <p>Entertainment</p>
                <div class="clubs__wrap--item-head-img">
                    <img src="../../images/trophy.png">
                </div>
                <div class="clubs__wrap--item-head-dropdown">
                    <i class="i-dropdown"></i>
                </div>
            </div>
            <div class="clubs__wrap--item-body">
                <ul>
                    <li>Cybersport</li>
                    <li>Karaoke</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                </ul>
            </div>
        </div>
        <div class="clubs__wrap--item">
            <div class="clubs__wrap--item-head">
                <p>Entertainment</p>
                <div class="clubs__wrap--item-head-img">
                    <img src="../../images/book-subject.png">
                </div>
                <div class="clubs__wrap--item-head-dropdown">
                    <i class="i-dropdown"></i>
                </div>
            </div>
            <div class="clubs__wrap--item-body">
                <ul>
                    <li>Cybersport</li>
                    <li>Karaoke</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                    <li>Cybersport</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.clubs__wrap--item-head').forEach(head => {
        head.addEventListener('click', () => {
            head.parentElement.classList.toggle('active');
        });
    });
</script>