<div class="contact-us text-group">
    <div class="contact-us__left">
        <h4>Contact Us</h4>
        <div class="contact-us__left--hr"></div>
        <div class="contact-us__left--item">
            <div class="contact-us__left--item-icon">
                <i class="i-phone1"></i>
            </div>
            <div class="contact-us__left--item-text">
                <p>Phone Number</p>
                <span>+998 (77) 288 82 82</span>
            </div>
        </div>
        <div class="contact-us__left--item">
            <div class="contact-us__left--item-icon">
                <i class="i-location"></i>
            </div>
            <div class="contact-us__left--item-text">
                <p>Location</p>
                <span>2/1 Universitetskaya Street</span>
            </div>
        </div>
        <div class="contact-us__left--item">
            <div class="contact-us__left--item-icon">
                <i class="i-mail"></i>
            </div>
            <div class="contact-us__left--item-text">
                <p>Email</p>
                <span>info@tashkenttech-edu.uz</span>
            </div>
        </div>
        <div class="contact-us__left--item">
            <div class="contact-us__left--item-icon">
                <i class="i-calendar"></i>
            </div>
            <div class="contact-us__left--item-text">
                <p>Work time</p>
                <span>Mon - Fri: 09:00 - 18:00 </span>
            </div>
        </div>
        <div class="contact-us__left--social">
            <p>Follow our social media</p>
            <div class="contact-us__left--social-wrap">
                <a href="#">
                    <i class="i-instagram-card"></i>
                </a>
                <a href="#">
                    <i class="i-facebook-circle"></i>
                </a>
                <a href="#">
                    <i class="i-telegram-circle"></i>
                </a>
                <a href="#">
                    <i class="i-youtube-strong"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="contact-us__right">
        <div class="contact-us__right--wrap">
            <h4>Send an Application</h4>
            <div class="contact-us__right--wrap-hr"></div>
            <div class="contact-us__right--wrap-input">
                <label>Full Name *</label>
                <input placeholder="Enter" type="text" />
            </div>
            <div class="contact-us__right--wrap-input">
                <label>Phone Number *</label>
                <input placeholder="Enter" type="tel" />
            </div>
            <div class="contact-us__right--wrap-input">
                <label>Message *</label>
                <input placeholder="Enter" type="text" />
            </div>
        </div>
        <div class="contact-us__right--btn">
            <button>Sen Application</button>
        </div>
    </div>
</div>