<div class="entry-requirements">
    <h3>Entry Requirements</h3>
    <div class="entry-requirements__info">
        <ul>
            <li><span>1. High school/Lyceum/College diploma or higher</span></li>
            <li>
                <span>2. Proof of English Language Proficiency:</span>

                <ul>
                    <li>TOEFL iBT 46 or higher</li>
                    <li><span>Note:</span>We accept only the TOEFL iBT taken at approved test centers. We do not accept
                        the
                        TOEFL
                        iBT
                        Home Edition.</li>
                    <li>IELTS 5.5 or higher</li>
                    <li>CEFR B2</li>
                    <li>Exemptions<span>(with a minimum pass mark)</span>from the TOEFL, IELTS or CEFR are given for
                        students who
                        have
                        one of the following
                        equivalents:</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="entry-requirements__table">
        <div class="table-structura">
            <div class="top">
                <div class="title">
                    <h3>International certificate score (Math section)</h3>
                </div>
                <div class="title">
                    <h3>Tashkent University of Technology Entrance Score</h3>
                </div>
            </div>
            <div class="section">
                <p>SAT</p>
            </div>
            <div class="body">
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
            </div>
            <div class="section">
                <p>SAT</p>
            </div>
            <div class="body">
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
            </div>
            <div class="section">
                <p>SAT</p>
            </div>
            <div class="body">
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
                <div class="element">
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                    <div class="item">
                        <p>800</p>
                    </div>
                    <div class="item black">
                        <p>800</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>