<div class="event-calendar text-group">
    <h4>Event Calendar</h4>
    <div class="hr"></div>
    <div class="event-calendar__data">
        <div class="event-calendar__data--left">
            <div class="event-calendar__data--left-btn">
                <button> &lt; </button>
                <button> &gt; </button>
            </div>
            <p>15 December 2025</p>
        </div>
        <div class="event-calendar__data--right">
            <input type="date" />
            <select>
                <option>Months</option>
                <option>bvfhdvbhdf</option>
                <option>fdvfdvd</option>
                <option>dcscds</option>
            </select>
        </div>
    </div>
    <div class="event-calendar__img">
        <img src="../../images/event-calendar.png">
    </div>
</div>