<section class="faq">
    <button class="faq-item active">
        <p class="question">Vatandosh kim? <span class="toggle-btn i-dropdown"></span>
        </p>
        <p class="answer">
            O‘zbekiston hududidan tashqarida doimo istiqomat qiladigan yoki ta’lim olish, mehnat faoliyati bilan
            shug‘ullanish, oilaviy sabablar va boshqa sharoitlardan kelib chiqib, vaqtinchalik chet elda yurgan
            O‘zbekiston Respublikasi fuqarosi Xorijga chiqqan va chet el fuqaroligini olgan, Vataniga ma’naviy va
            madaniy nuqtai nazardan mansublikni his qilgan hamda O‘zbekiston Respublikasi bilan madaniy-gumanitar,
            ijtimoiy-iqtisodiy va boshqa aloqalarni rivojlantirishga harakat qilayotgan O‘zbekistondan chiqib ketgan
            shaxs va uning avlodi Etnik, til va madaniy-tarixiy nuqtai nazardan o‘zini o‘zbeklar yoki qoraqalpoqlar
            sifatida identifikatsiya qilgan hamda O‘zbekiston bilan har tomonlama aloqada bo‘lish xohishida bo‘lgan
            xorijda istiqomat qilayotgan chet el fuqarolari va fuqaroligi bo‘lmagan shaxslar xorijda istiqomat
            qilayotganlar.
        </p>
    </button>
    <button class="faq-item">
        <p class="question">“Vatandoshlar” jamoat fondi qanday tashkilot ?
            <span class="toggle-btn i-dropdown"></span>
        </p>
        <p class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, impedit?
        </p>
    </button>
    <button class="faq-item">
        <p class="question">
            “Vatandoshlar” jamoat fondi pul mablag‘ini kimdan oladi?
            <span class="toggle-btn i-dropdown"></span>
        </p>
        <p class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, impedit?
        </p>
    </button>

</section>