<div class="fees-funding">
    <div class="fees-funding__top">
        <h4>Tuition Fee for 2025/2026 Academic Year</h4>
        <div class="fees-funding__top--wrap">
            <div class="fees-funding__top--wrap-card">
                <div class="fees-funding__top--wrap-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
                <h5>Local student</h5>
                <div class="fees-funding__top--wrap-card-hr"></div>
                <p><span>38 000 000 UZS</span> /pre academic year</p>
            </div>
            <div class="fees-funding__top--wrap-card">
                <div class="fees-funding__top--wrap-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
                <h5>Local student</h5>
                <div class="fees-funding__top--wrap-card-hr"></div>
                <p><span>38 000 000 UZS</span> /pre academic year</p>
            </div>
        </div>
    </div>
    <div class="fees-funding__bottom">
        <h4>Scholarships</h4>
        <p>We are committed to supporting our students’ educational journeys through a variety of scholarship
            opportunities.
            Scholarships at New Uzbekistan University are categorized into two main types: 1-Year Scholarships and
            4-Year
            Scholarships.</p>
        <div class="fees-funding__bottom--wrap">
            <div class="fees-funding__bottom--wrap-card">
                <h6>1-year Scholarship</h6>
                <p>These scholarships cover tuition fees for one academic year only.</p>
                <div class="fees-funding__top--wrap-card-hr"></div>
                <div class="fees-funding__bottom--wrap-card-img">
                    <button>
                        See More
                    </button>
                </div>
                <div class="fees-funding__bottom--wrap-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="fees-funding__bottom--wrap-card">
                <h6>1-year Scholarship</h6>
                <p>These scholarships cover tuition fees for one academic year only.</p>
                <div class="fees-funding__top--wrap-card-hr"></div>
                <div class="fees-funding__bottom--wrap-card-img">

                    <button>
                        See More
                    </button>
                </div>
                <div class="fees-funding__bottom--wrap-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
    </div>
</div>