<div class="football-team">
    <p>TTU University Football Team Triumphs Over National Research Nuclear University MEPHI with a 10-1 Victory on
        "Student
        League" on football We are

    </p>
    <p>
        proud of you! We look forward to witnessing more such bright performances in future
        matches. "New Uzbekistan" university football team played against "Millat Umidi" University in the Student
        League,
    </p>
    <p>
        ending in a 4-4 draw! Reminding that we have had 10-1 victory against National Research Nuclear University
        MEPHI! More
        exciting matches are coming up, and stay tuned for more updates The intensity, the passion, the street-style
        flair — the
    </p>
    <p>
        Volta 3x3 Soccer Tournament brought it all to the pitch! After a thrilling series of matches, we’re proud to
        announce
        the top teams who claimed the spotlight: Champions: Sagittarius – unstoppable teamwork and clinical
        finishes! 2nd Place:
        Remontada – a fierce comeback squad that gave it their all. 3rd Place: Uzuvuza – fast, fearless, and full of
        flair! Huge
        thanks to everyone who participated, supported, and brought the energy. Volta was more than a tournament — it
        was a
        movement.
    </p>
    <div class="football-team__img">
        <div class="football-team__img--top">
            <div class="football-team__img--top-item">
                <img src="../../images/footbol400.png">
            </div>
            <div class="football-team__img--top-item">
                <img src="../../images/footbol400.png">
            </div>
            <div class="football-team__img--top-item">
                <img src="../../images/footbol400.png">
            </div>
        </div>
        <div class="football-team__img--bottom">
            <div class="football-team__img--bottom-item">
                <img src="../../images/footbol250.png">
            </div>
            <div class="football-team__img--bottom-item">
                <img src="../../images/footbol250.png">
            </div>
            <div class="football-team__img--bottom-item">
                <img src="../../images/footbol250.png">
            </div>
            <div class="football-team__img--bottom-item">
                <img src="../../images/footbol250.png">
            </div>
        </div>
    </div>
</div>