<div class="news-view">
    <div class="news-view__wrap">
        <div class="news-view__wrap--row">
            <div class="news-view__wrap--row-text">
                <h4>German Professor Delivers an Open Lecture on Europe’s CO₂ Policies at New Uzbekistan University</h4>
                <div class="news-view__wrap--row-text-hr"></div>
                <p>New Uzbekistan University hosted an open lecture by Professor Franz Wolfgang Hubert, a distinguished
                    scholar
                    from Humboldt University of Berlin, which ranks 84th in the world. Professor Hubert has been
                    teaching and conducting
                    research at Humboldt University since 2000 and is widely recognized for his expertise in economics
                    and environmental
                    policy.
                    During the lecture, Professor Hubert discussed Europe’s CO₂ policies, focusing on the challenges and
                    consequences
                    of centralized planning approaches. He explained how excessive centralization has often resulted
                    in inefficiencies,
                    rising political costs, and a gradual decline in public and political support for climate policies.
                    The session provided students with valuable insights into the complexities of environmental
                    regulation and policy-making
                    in Europe, encouraging them to think critically about sustainable development and innovation.
                    Students described the lecture as informative, engaging, and</p>
            </div>
            <div class="news-view__wrap--row-tttop">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="news-view__wrap--row-ttbottom">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="news-view__wrap--row-img">
                <div class="news-view__wrap--row-img-top">
                    <div class="news-view__wrap--row-img-top-item"><i class="i-calendar"></i><span>19
                            November,
                            2025</span></div>
                    <div class="news-view__wrap--row-img-top-item"><i class="i-eye"></i><span>356</span>
                    </div>
                    <div class="news-view__wrap--row-img-top-item"><i class="i-share"></i><span>Share</span>
                    </div>
                </div>
                <div class="news-view__wrap--row-img-images">
                    <img src="../../images/professor.png">
                </div>
            </div>
        </div>
        <div class="news-view__wrap--p">
            <p>
                New Uzbekistan University hosted an open lecture by Professor Franz Wolfgang Hubert, a distinguished
                scholar
                from Humboldt University of Berlin, which ranks 84th in the world. Professor Hubert has been teaching
                and conducting
                research at Humboldt University since 2000 and is widely recognized for his expertise in economics and
                environmental
                policy.
                During the lecture, Professor Hubert discussed Europe’s CO₂ policies, focusing on the challenges and
                consequences
                of centralized planning approaches. He explained how excessive centralization has often resulted
                in inefficiencies,
                rising political costs, and a gradual decline in public and political support for climate policies.
                The session provided students with valuable insights into the complexities of environmental regulation
                and policy-making
                in Europe, encouraging them to think critically about sustainable development and innovation.
                Students described the lecture as informative, engaging, and
            </p>
        </div>
    </div>
    <div class="news-view__carousel owl-carousel owl-theme">
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
        <div class="news-view__carousel--item item">
            <img src="../../images/german-carousel.png">
        </div>
    </div>
</div>
<script>
    $('.news-view__carousel').owlCarousel({
        loop: true,
        margin: 16,
        nav: false,
        dots: true,
        autoplay: true,
        autoplayTimeout: 3000,
        smartSpeed: 800,
        responsive: {
            0: {
                items: 2
            },
            660: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    });

</script>