<div class="gl-partners-logo">
    <div class="gl-partners-logo__item text-group">
        <h4>Strategic Partners</h4>
        <div class="hr"></div>
        <div class="gl-partners-logo__item--logo">
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/global-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/microsoft-logo-partner.svg">
            </div>
        </div>
    </div>
    <div class="gl-partners-logo__item text-group">
        <h4>Strategic Partners</h4>
        <div class="hr"></div>
        <div class="gl-partners-logo__item--logo">
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/global-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/microsoft-logo-partner.svg">
            </div>
        </div>
    </div>
    <div class="gl-partners-logo__item text-group">
        <h4>Strategic Partners</h4>
        <div class="hr"></div>
        <div class="gl-partners-logo__item--logo">
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/global-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/microsoft-logo-partner.svg">
            </div>
        </div>
    </div>
    <div class="gl-partners-logo__item text-group">
        <h4>Strategic Partners</h4>
        <div class="hr"></div>
        <div class="gl-partners-logo__item--logo">
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/global-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/meta-partner-logo.svg">
            </div>
            <div class="gl-partners-logo__item--logo-item">
                <img src="../../images/microsoft-logo-partner.svg">
            </div>
        </div>
    </div>
</div>