<div class="graduation">
    <h4>Graduation Requirements</h4>
    <p>Students will be allowed to graduate upon completion of all requirements listed below:</p>
    <ol>
        <li>Students must have a minimum 2.00 GPA/CGPA at the end of their final semester;</li>
        <li>Student must have a minimum of 240 ECTS or as designated in Handbook;</li>
        <li>Students must successfully complete all University and Program requirements;</li>
        <li>Students cannot have any outstanding Incompletes or IP grades on their transcripts;</li>
        <li>Student must complete all degree requirements within 7 (seven) years including any leave periods, of the
            initial program
            registration date.</li>
    </ol>
</div>