<div class="inter-office">
    <div class="text-group">
        <h4>Introduction</h4>
        <div class="hr"></div>
        <p>
            <span>The International Relations Department at Tashkent University of Technology has rapidly emerged as one
                of the most
                dynamic engines of the university’s growth, transforming it into a recognized hub of academic and
                cultural exchange in
                Central Asia. Far beyond signing memorandums, the department fosters living, breathing partnerships that
                actively shape
                the experiences of students, faculty, and collaborators from around the world.</span>
            <span>Today, TTU enjoys strong ties with more than 50 universities and institutions spanning Europe, Asia,
                the Middle East,
                and North America. This network supports a wide range of initiatives: semester- and year-long student
                exchanges, faculty
                research collaborations, dual-degree opportunities, and joint events. Prestigious partner universities
                include Khalifa
                University (UAE), University of Passau (Germany), Comenius University Bratislava (Slovakia), ITMO
                University (Russia), Technische Hochschule Ingolstadt (Germany), Nazarbayev
                University (Kazakhstan), Sejong
                University (Korea), Khazar University (Azerbaijan), University of Debrecen (Hungary), İstanbul Gelişim
                University (Turkey), and the Daegu Gyeongbuk Institute of Science and Technology (DGIST) in
                Korea.</span>
            <span>Through its Summer School programs, the department connects NewUU students to unique learning
                environments and
                perspectives. From the historic halls of Peking University to the innovation-driven labs of MIT,
                from Hong Kong
                Polytechnic University to Xi’an Jiaotong University, these programs immerse students in global issues,
                cutting-edge
                research, and cultural discovery. Others take part in specialized gatherings like the HPAIR Asia
                Conference at the
                University of Tokyo, the Aral Sea Symposium in Kazakhstan, or collaborative programs with institutions
                like Harbin
                Institute of Technology, Shenyang Normal University, and Sichuan University.</span>
            <span>The department also acts as a gateway for influential voices. In just the past year, TTU has hosted or
                met with a
                remarkable lineup of global figures and institutions. Notable visitors include Arkady Dvorkovich,
                President of FIDE;
                leading economists and policy experts from the Asian Development Bank; delegations from universities
                such as
                the University of Lisbon, Karlsruhe Institute of Technology, and Queen Rania Teacher Academy; as well as
                representatives
                from international organizations including DAAD, ACCA, and AMBA & BGA.</span>
        </p>
    </div>
    <div class="inter-office__contact text-group">
        <h4>Contact information</h4>
        <div class="hr"></div>
        <div class="inter-office__contact--bottom">
            <div class="inter-office__contact--bottom-left">
                <div class="inter-office__contact--bottom-left-item">
                    <div class="inter-office__contact--bottom-left-item-img">
                        <i class="i-phone1"></i>
                    </div>
                    <div class="inter-office__contact--bottom-left-item-text">
                        <h5>Phone Number</h5>
                        <span class="phone-number">+998 (71) 289 99 99</span>
                    </div>
                </div>
                <div class="inter-office__contact--bottom-left-item">
                    <div class="inter-office__contact--bottom-left-item-img">
                        <i class="i-mail"></i>
                    </div>
                    <div class="inter-office__contact--bottom-left-item-text">
                        <h5>Email Address</h5>
                        <span class="phone-number">info@tashkenttech-edu.uz</span>
                    </div>
                </div>
            </div>
            <div class="inter-office__contact--bottom-right">
                <div class="inter-office__contact--bottom-right-item">
                    <div class="inter-office__contact--bottom-right-item-img">
                        <i class="i-calendar"></i>
                    </div>
                    <div class="inter-office__contact--bottom-right-item-text">
                        <h5>Work Time</h5>
                        <span class="phone-number">Mon - Fri: 09:00 - 18:00</span>
                    </div>
                </div>
                <div class="inter-office__contact--bottom-right-item">
                    <div class="inter-office__contact--bottom-right-item-img">
                        <i class="i-location"></i>
                    </div>
                    <div class="inter-office__contact--bottom-right-item-text">
                        <h5>Location</h5>
                        <p class="phone-number">2/1 Universitetskaya Street, Almazar District,
                            Tashkent 150100, Republic of Uzbekistan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inter-office__map">
        <iframe src="https://yandex.uz/map-widget/v1/?um=constructor%3A..." width="100%" height="250" frameborder="0">
        </iframe>
    </div>
</div>