<div class="job-opurtunites">
    <h5>Job Opportunities</h5>
    <p>Graduates of this program enjoy excellent employment prospects. With the ability to handle the increasing demands
        of
        scientific, technological and commercial development in the 21st century, they will be in high demand with the
        wide-ranging companies and organizations increasingly dependent on computer technology. They might start out
        as:  Front-end engineer - they design, develop, build, and maintain user interfaces (UI) using common
        programming
        languages<span> such as JavaScript and CSS  Back-end engineer – they write server-side scripts and application
            programming</span>
        interfaces (APIs) that ensure the functionality of websites and applications. Daily tasks include server
        optimization,
        security, <span>and data handling  Full-stack engineer - they possess the technical skills of both front-end and
            back-end</span>
        engineers. As such, they handle both client-side and server-side responsibilities  Quality assurance (QA)
        engineer –
        they are <span>responsible for analyzing software and identifying any issues, bugs, or errors. They are involved
            in virtually</span>
        every phase of the software development life cycle, ensuring the software meets all company requirements and
        validating
        the final product  Data <span>engineer - their primary responsibility is to convert raw data into information
            that is easily
            accessed and analyzed. To achieve this goal,</span> date engineers develop software systems that can
        compile, manage, and
        transform data into actionable information DevOps engineer - they utilize their proficiencies in programming and
        engineering to create systems, tools, and methodologies designed to improve technologies used within a company.
    </p>
</div>