<div class="latest-news">
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
    <div class="latest-news__item">
        <div class="latest-news__item--img">
            <img src="../../images/latest-news.png">
        </div>
        <div class="latest-news__item--text">
            <p>Twitter sues Elon Musk to enforce original merger </p>
            <span>SEC Targets Crypto Scams – The U.S. </span>
            <div class="latest-news__item--text-icon">
                <div class="latest-news__item--text-icon-item">
                    <i class="i-calendar"></i>
                    <p>15 May 2020 9:00</p>
                </div>
                <div class="latest-news__item--text-icon-item">
                    <i class="i-eye"></i>
                    <p>267</p>
                </div>
            </div>
        </div>
    </div>
</div>