<div class="leadership">
    <div class="leadership__top">
        <div class="leadership__top--card">
            <div class="leadership__top--card-tttop">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="leadership__top--card-img">
                <img src="../../images/xudaykulov.svg">
                <div class="leadership__top--card-img-element">
                    <div class="leadership__top--card-img-element-line"></div>
                    <div class="leadership__top--card-img-element-circle">
                        <img src="../../images/logo-tt.png">
                    </div>
                </div>
            </div>
            <div class="leadership__top--card-info">
                <div class="leadership__top--card-info-name">
                    <div class="leadership__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadership__top--card-info-contact">
                    <span><i class="i-mail"></i>info@ttu.uz</span>
                    <span><i class="i-phone1"></i>+998 (71) 123 45 67</span>
                    <button>See More</button>
                </div>
            </div>
            <div class="leadership__top--card-ttbottom">
                <img src="../../images/logo-tt.png">
            </div>
        </div>
        <div class="leadership__top--card">
            <div class="leadership__top--card-tttop">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="leadership__top--card-img">
                <img src="../../images/kurbanove.png">
                <div class="leadership__top--card-img-element">
                    <div class="leadership__top--card-img-element-line"></div>
                    <div class="leadership__top--card-img-element-circle">
                        <img src="../../images/logo-tt.png">
                    </div>
                </div>
            </div>
            <div class="leadership__top--card-info">
                <div class="leadership__top--card-info-name">
                    <div class="leadership__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Kurbanova Muazzam</h4>
                </div>
                <div class="leadership__top--card-info-contact">
                    <span><i class="i-mail"></i>info@ttu.uz</span>
                    <span><i class="i-phone1"></i>+998 (71) 123 45 67</span>
                    <button>See More</button>
                </div>
            </div>
            <div class="leadership__top--card-ttbottom">
                <img src="../../images/logo-tt.png">
            </div>
        </div>
    </div>
    <div class="leadership__bottom">
        <div class="leadership__top--card">
            <div class="leadership__top--card-tttop">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="leadership__top--card-img">
                <img src="../../images/dr-erkinov.svg">

            </div>
            <div class="leadership__top--card-info">
                <div class="leadership__top--card-info-name">
                    <div class="leadership__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadership__top--card-info-contact">
                    <span><i class="i-mail"></i>info@ttu.uz</span>
                    <span><i class="i-phone1"></i>+998 (71) 123 45 67</span>
                    <button class="leadership__bottom--btn">See More</button>
                </div>
            </div>
            <div class="leadership__top--card-ttbottom">
                <img src="../../images/logo-tt.png">
            </div>
        </div>
        <div class="leadership__top--card">
            <div class="leadership__top--card-tttop">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="leadership__top--card-img">
                <img src="../../images/dr-erkinov.svg">

            </div>
            <div class="leadership__top--card-info">
                <div class="leadership__top--card-info-name">
                    <div class="leadership__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadership__top--card-info-contact">
                    <span><i class="i-mail"></i>info@ttu.uz</span>
                    <span><i class="i-phone1"></i>+998 (71) 123 45 67</span>
                    <button class="leadership__bottom--btn">See More</button>
                </div>
            </div>
            <div class="leadership__top--card-ttbottom">
                <img src="../../images/logo-tt.png">
            </div>
        </div>
    </div>
</div>