<div class="leadershiptwo">
    <div class="leadershiptwo__top">
        <div class="leadershiptwo__top--card">
            <div class="leadershiptwo__top--card-tttop">
                <img src="../../images/logo-tt.svg">
            </div>
            <div class="leadershiptwo__top--card-info">
                <div class="leadershiptwo__top--card-info-name">
                    <div class="leadershiptwo__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadershiptwo__top--card-info-contact">
                    <span><i class="fa-solid fa-envelope"></i>info@ttu.uz</span>
                    <span><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</span>
                    <button>See More</button>
                </div>
            </div>
            <div class="leadershiptwo__top--card-img">
                <img src="../../images/xudaykulov.svg">
                <div class="leadershiptwo__top--card-img-element">
                    <div class="leadershiptwo__top--card-img-element-line"></div>
                    <div class="leadershiptwo__top--card-img-element-circle">
                        <img src="../../images/logo-tt.svg">
                    </div>
                </div>
            </div>

            <div class="leadershiptwo__top--card-ttbottom">
                <img src="../../images/logo-tt.svg">
            </div>
        </div>
        <div class="leadershiptwo__top--card">
            <div class="leadershiptwo__top--card-tttop">
                <img src="../../images/logo-tt.svg">
            </div>
            <div class="leadershiptwo__top--card-info">
                <div class="leadershiptwo__top--card-info-name">
                    <div class="leadershiptwo__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Kurbanova Muazzam</h4>
                </div>
                <div class="leadershiptwo__top--card-info-contact">
                    <span><i class="fa-solid fa-envelope"></i>info@ttu.uz</span>
                    <span><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</span>
                    <button>See More</button>
                </div>
            </div>
            <div class="leadershiptwo__top--card-img">
                <img src="../../images/kurbanove.svg">
                <div class="leadershiptwo__top--card-img-element">
                    <div class="leadershiptwo__top--card-img-element-line"></div>
                    <div class="leadershiptwo__top--card-img-element-circle">
                        <img src="../../images/logo-tt.svg">
                    </div>
                </div>
            </div>

            <div class="leadershiptwo__top--card-ttbottom">
                <img src="../../images/logo-tt.svg">
            </div>
        </div>
    </div>
    <div class="leadershiptwo__bottom">
        <div class="leadershiptwo__top--card">
            <div class="leadershiptwo__top--card-tttop">
                <img src="../../images/logo-tt.svg">
            </div>

            <div class="leadershiptwo__top--card-info">
                <div class="leadershiptwo__top--card-info-name">
                    <div class="leadershiptwo__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadershiptwo__top--card-info-contact">
                    <span><i class="fa-solid fa-envelope"></i>info@ttu.uz</span>
                    <span><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</span>
                    <button class="leadershiptwo__bottom--btn">See More</button>
                </div>
            </div>
            <div class="leadershiptwo__top--card-img">
                <img src="../../images/xudaykulov.svg">
                <div class="leadershiptwo__top--card-img-element">
                    <div class="leadershiptwo__top--card-img-element-line bottom-line"></div>
                    <div class="leadershiptwo__top--card-img-element-circle bottom-circle">
                        <img src="../../images/tt-kulrang.svg">
                    </div>
                </div>
            </div>
            <div class="leadershiptwo__top--card-ttbottom">
                <img src="../../images/logo-tt.svg">
            </div>
        </div>
        <div class="leadershiptwo__top--card">
            <div class="leadershiptwo__top--card-tttop">
                <img src="../../images/logo-tt.svg">
            </div>

            <div class="leadershiptwo__top--card-info">
                <div class="leadershiptwo__top--card-info-name">
                    <div class="leadershiptwo__top--card-info-name-top">
                        <div></div>
                        <p>Rector of the University</p>
                    </div>
                    <h4>Dr. Adham Khudaykulov</h4>
                </div>
                <div class="leadershiptwo__top--card-info-contact">
                    <span><i class="fa-solid fa-envelope"></i>info@ttu.uz</span>
                    <span><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</span>
                    <button class="leadershiptwo__bottom--btn">See More</button>
                </div>
            </div>
            <div class="leadershiptwo__top--card-img">
                <img src="../../images/xudaykulov.svg">
                <div class="leadershiptwo__top--card-img-element">
                    <div class="leadershiptwo__top--card-img-element-line bottom-line"></div>
                    <div class="leadershiptwo__top--card-img-element-circle bottom-circle">
                        <img src="../../images/tt-kulrang.svg">
                    </div>
                </div>
            </div>
            <div class="leadershiptwo__top--card-ttbottom">
                <img src="../../images/logo-tt.svg">
            </div>
        </div>
    </div>
</div>