<div class="leadership-view">
    <div class="leadership-view__info text-group">
        <div class="leadership-view__info--about">
            <h4>About</h4>
            <div class="hr"></div>
            <div>Emily Rodriguez was born in 1988 in Weimer in Germany. She graduated from the University of World
                Economy
                and Diplomacy
                in Tashkent with a major in International economic relations. Khilola Umarova is a researcher at the
                Academy of Public
                Administration under the President of the Republic of Uzbekistan. She is fluent in Uzbek, Russian and
                English. Emily
                Rodriguez is married and has one child.</div>
        </div>
        <div class="leadership-view__info--experience ">
            <h4>Experience</h4>
            <div class="hr"></div>
            <div>
                <ul>
                    <li>2019 - 2019 — Chief Manager on the affairs of supporting active entrepreneurship, innovative
                        ideas
                        and technologies at
                        Inha University in Tashkent.
                    </li>
                    <li>
                        2019 - 2020 — Director of the specialized school named after Muhammad al-Khorazmi, specializing
                        in
                        advanced education in
                        information and communication technologies.
                    </li>
                    <li>2020 - 2022 — Director of the Agency for Presidential Educational Institutions of the Republic
                        of
                        Uzbekistan</li>
                    <li>2022-2025 – Minister of Preschool and School Education.</li>
                    <li>2025 – Deputy Head of the Presidential Administration for Education Reform.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="leadership-view__img">
        <div class="leadership-view__img--images">
            <img src="../../images/xudaykulov.svg">
        </div>
        <div class="leadership-view__img--text">
            <div class="leadership-view__img--text-top">
                <div class="leadership-view__img--text-top-element">
                    <div></div>
                    <span>Rector</span>
                </div>
                <img src="../../images/logo-tt.png">
            </div>
            <h3>Dr. Adham Khudaykulov</h3>
            <div class="leadership-view__img--text-info">
                <a href="#">
                    <i class="i-phone1"></i>+998 (71) 123 45 67
                </a>

                <a href="#">
                    <i class="i-mail"></i>info@tashkenttech-edu.uz
                </a>
            </div>
            <div class="leadership-view__img--text-link">
                <a href="#">
                    <i class="i-instagram-card"></i>
                </a>
                <a href="#">
                    <i class="i-telegram-circle"></i>
                </a>
                <a href="#">
                    <i class="i-facebook-circle"></i>
                </a>
                <a href="#">
                    <i class="i-youtube-strong"></i>
                </a>
            </div>
        </div>
    </div>
</div>