<div class="leadership-list">
    <div class="leadership-list__item">
        <div class="leadership-list__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="leadership-list__item--img">
            <img src="../../images/kurbanove.svg">
        </div>
        <div class="leadership-list__item--info">
            <div class="leadership-list__item--info-top">
                <div></div>
                <span>
                    President of the University
                </span>
            </div>
            <h3>Fatullayeva Nargiza</h3>
            <p>Emily Rodriguez was born in 1988 in
                Weimer in Germany. She graduated from the University of World Economy and Diplomacy
                in Tashkent with a major in International economic relations.....
            </p>
            <div class="leadership-list__item--info-hr"></div>
            <div class="leadership-list__item--info-contact">
                <p><i class="fa-solid fa-envelope"></i>info@tashkenttech-edu.uz</p>
                <p><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</p>
            </div>
        </div>
    </div>
    <div class="leadership-list__item">
        <div class="leadership-list__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="leadership-list__item--img">
            <img src="../../images/kurbanove.svg">
        </div>
        <div class="leadership-list__item--info">
            <div class="leadership-list__item--info-top">
                <div></div>
                <span>
                    President of the University
                </span>
            </div>
            <h3>Fatullayeva Nargiza</h3>
            <p>Emily Rodriguez was born in 1988 in
                Weimer in Germany. She graduated from the University of World Economy and Diplomacy
                in Tashkent with a major in International economic relations.....
            </p>
            <div class="leadership-list__item--info-hr"></div>
            <div class="leadership-list__item--info-contact">
                <p><i class="fa-solid fa-envelope"></i>info@tashkenttech-edu.uz</p>
                <p><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</p>
            </div>
        </div>
    </div>
    <div class="leadership-list__item">
        <div class="leadership-list__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="leadership-list__item--img">
            <img src="../../images/kurbanove.svg">
        </div>
        <div class="leadership-list__item--info">
            <div class="leadership-list__item--info-top">
                <div></div>
                <span>
                    President of the University
                </span>
            </div>
            <h3>Fatullayeva Nargiza</h3>
            <p>Emily Rodriguez was born in 1988 in
                Weimer in Germany. She graduated from the University of World Economy and Diplomacy
                in Tashkent with a major in International economic relations.....
            </p>
            <div class="leadership-list__item--info-hr"></div>
            <div class="leadership-list__item--info-contact">
                <p><i class="fa-solid fa-envelope"></i>info@tashkenttech-edu.uz</p>
                <p><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</p>
            </div>
        </div>
    </div>
    <div class="leadership-list__item">
        <div class="leadership-list__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="leadership-list__item--img">
            <img src="../../images/kurbanove.svg">
        </div>
        <div class="leadership-list__item--info">
            <div class="leadership-list__item--info-top">
                <div></div>
                <span>
                    President of the University
                </span>
            </div>
            <h3>Fatullayeva Nargiza</h3>
            <p>Emily Rodriguez was born in 1988 in
                Weimer in Germany. She graduated from the University of World Economy and Diplomacy
                in Tashkent with a major in International economic relations.....
            </p>
            <div class="leadership-list__item--info-hr"></div>
            <div class="leadership-list__item--info-contact">
                <p><i class="fa-solid fa-envelope"></i>info@tashkenttech-edu.uz</p>
                <p><i class="fa-solid fa-phone"></i>+998 (71) 123 45 67</p>
            </div>
        </div>
    </div>
</div>