<div class="live-statistics text-group">

    <h4>Live Statistics Overview</h4>
    <div class="hr"></div>
    <p>
    <ul>
        <li><span>Explanation:</span></li>
        <li>1.  In accordance with the regulations approved by the Resolution No. 300 of the Cabinet of Ministers of the
            Republic of
            Uzbekistan dated June 2, 2022, on the procedure for awarding state grants to talented students of “New
            Uzbekistan”
            University, the following categories of students will be granted 4-year state grants:</li>
        <li>
            <ol>
                <li>
                    Graduates of the Presidential Schools within the system of the Agency for Specialized Educational
                    Institutions who hold
                    a “Cambridge International AS & A Level” certificate.
                </li>
                <li>
                    Graduates of the Presidential Schools within the system of the Agency for Specialized Educational
                    Institutions who
                    hold
                    a “Cambridge International AS & A Level” certificate.
                </li>
                <li>
                    Graduates of the Presidential Schools within the system of the Agency for Specialized Educational
                    Institutions who
                    hold
                    a “Cambridge International AS & A Level” certificate.
                </li>
                <li>
                    Graduates of the Presidential Schools within the system of the Agency for Specialized Educational
                    Institutions who
                    hold
                    a “Cambridge International AS & A Level” certificate.
                </li>
            </ol>
        </li>
        <li>2. No separate quotas will be allocated in advance for graduates of Presidential Schools, applicants
            included in the
            “Unified Register of Social Protection”, and international Olympiad winners. After these applicants         
            secure a
            place through the general admission process, these places will be reflected in the “Reserved” column for the
            respective
            field of study in the table above.</li>
        <li>
            When places are reserved under this procedure, the number of available quotas for tuition-fee basis and/or
            tiered state
            grants within the total admission quota for the respective field of study will be proportionally reduced.
        </li>
    </ul>
    </p>
    <div class="live-statistics__table table-structura">
        <div class="section">
            <p>Rank Group (for each field of study)
            </p>
            <p>State Grant Quota (relative to the total admission quota for each field of study)
            </p>
            <p>State Grant Funding per Applicant
            </p>
        </div>
        <div class="body">
            <div class="element">

                <div class="item black">
                    <p>
                        Group 1
                    </p>
                </div>
                <div class="item">
                    <p>
                        Group 2
                    </p>
                </div>
                <div class="item black">
                    <p>
                        Group 3
                    </p>
                </div>
            </div>
            <div class="element">

                <div class="item black">
                    <p>
                        Group 1
                    </p>
                </div>
                <div class="item">
                    <p>
                        Group 2
                    </p>
                </div>
                <div class="item black">
                    <p>
                        Group 3
                    </p>
                </div>
            </div>
            <div class="element">

                <div class="item black">
                    <p>
                        Group 1
                    </p>
                </div>
                <div class="item">
                    <p>
                        Group 2
                    </p>
                </div>
                <div class="item black">
                    <p>
                        Group 3
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="live-statistics__text">
        <p>
            The allocation of tiered 1-year state grants will be reviewed annually by the University based on the
            specified
            criteria, and grants will be awarded to eligible applicants in accordance with the established procedure.
               4. The total admission quota for each field of study may be adjusted by the Admissions Commission based
            on the number
            of applicants and their requests. In this case, the number of state grants and tuition-fee places will be
            adjusted
            proportionally.
               5. Since the statistical data on the admission process for applicants in the table above is updated in
            real-time, it
            is recommended to monitor this table regularly.
        </p>
    </div>
</div>