<div class="news__page">
    <div class="news__page--grid">
        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-1.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>

        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-2.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>
        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-3.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>

        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-1.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>

        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-2.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>

        <a href="news-view.html" class="news__page--grid-item">
            <div class="news__page--grid-item-img">
                <img src="@/images/news-img-3.png" alt="">
            </div>
            <div class="news__page--grid-item-text">
                <p class="line-clamp-3">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</p>
                <div class="news__page--grid-item-links">
                    <div><i class="i-calendar"></i><span>12.02.2025</span></div>
                    <div><i class="i-eye"></i><span>123</span></div>
                </div>
            </div>
        </a>
    </div>

    @@include('../layout/pagination.html')
</div>