<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

<div class="news-view">
    <div class="news-view--main">
        <h2 class="text">Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
                <div class="swiper-slide"><img src="@/images/news-img-1.png" alt=""></div>
            </div>
            <div class="swiper-button-next"><i class="i-next"></i></div>
            <div class="swiper-button-prev"><i class="i-prev"></i></div>
            <div class="swiper-pagination"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
        <h4 class="text-2">Bugun Tatariston Respublikasidagi “O‘zbekiston” o‘zbek milliy-madaniy avtonomiyasi
            faoliyati
            haqida ma'lumot beramiz</h4>
        <div class="text-wrapper">
            <p class="body2">
                Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam suspendisse morbi eleifend faucibus
                eget
                vestibulum felis. Dictum quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris posuere
                vulputate
                arcu amet, vitae nisi, tellus tincidunt. At feugiat sapien varius id.
            </p>
            <p>
                Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat mollis at volutpat lectus velit,
                sed
                auctor. Porttitor fames arcu quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
                risus, at
                donec. In turpis vel et quam imperdiet. Ipsum molestie aliquet sodales id est ac volutpat.
            </p>
            <p>Dolor enim eu tortor urna sed duis nulla. Aliquam vestibulum, nulla odio nisl vitae. In aliquet
                pellentesque
                aenean hac vestibulum turpis mi bibendum diam. Tempor integer aliquam in vitae malesuada fringilla.
            </p>
            <p>Elit nisi in eleifend sed nisi. Pulvinar at orci, proin imperdiet commodo consectetur convallis
                risus. Sed
                condimentum enim dignissim adipiscing faucibus consequat, urna. Viverra purus et erat auctor
                aliquam. Risus,
                volutpat vulputate posuere purus sit congue convallis aliquet. Arcu id augue ut feugiat donec
                porttitor
                neque.
                Mauris, neque ultricies eu vestibulum, bibendum quam lorem id. Dolor lacus, eget nunc lectus in
                tellus,
                pharetra, porttitor.</p>
            <p>Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris id. Non pellentesque congue eget
                consectetur turpis. Sapien, dictum molestie sem tempor. Diam elit, orci, tincidunt aenean tempus.
                Quis velit
                eget ut tortor tellus. Sed vel, congue felis elit erat nam nibh orci.</p>
        </div>
        <div class="iframe-text">
            <iframe width="100%" height="550" style="border-radius: 12px; margin-bottom: 20px;"
                src="https://www.youtube.com/embed/ABlDIMruZ0k"
                title="Узбекистан vs Таджикистан — Разница шокирует! Кто живёт лучше?" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <div class="iframe-text--link">
                <a href=""><i class="i-calendar"></i>12.02.2025</a>
                <a href=""><i class="i-eye"></i>12</a>
            </div>
            <div class="iframe-text--line"></div>
            <div class="iframe-text--copy">
                <p>Bo’lishish</p>
                <div class="copy-flex">
                    <button class="btn-copy"><i class="i-copy"></i>Copy link</button>
                    <button class="btn-ilova"><i class="i-telegram"></i></button>
                    <button class="btn-ilova"><i class="i-facebook"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>