<div class="number-of">
    <div class="text-group">
        <h4>Number of Applicants, Quota, Reserved</h4>
        <div class="hr"></div>
        <div class="number-of__img">
            <img src="../../images/Chart-diagramma.png">
        </div>
        <div class=" table-structura">
            <div class="section">
                <p>Rank Group (for each field of study)
                </p>
                <p>State Grant Quota (relative to the total admission quota for each field of study)
                </p>
                <p>State Grant Funding per Applicant
                </p>
            </div>
            <div class="body">
                <div class="element">
                    <div class="item black">
                        <p>
                            Group 1
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            Group 2
                        </p>
                    </div>
                    <div class="item black">
                        <p>
                            Group 3
                        </p>
                    </div>
                </div>
                <div class="element">

                    <div class="item black">
                        <p>
                            Group 1
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            Group 2
                        </p>
                    </div>
                    <div class="item black">
                        <p>
                            Group 3
                        </p>
                    </div>
                </div>
                <div class="element">

                    <div class="item black">
                        <p>
                            Group 1
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            Group 2
                        </p>
                    </div>
                    <div class="item black">
                        <p>
                            Group 3
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p>The allocation of tiered 1-year state grants will be reviewed annually by the University based on the
        specified
        criteria, and grants will be awarded to eligible applicants in accordance with the established procedure.
           4. The total admission quota for each field of study may be adjusted by the Admissions Commission based
        on the number
        of applicants and their requests. In this case, the number of state grants and tuition-fee places will be
        adjusted
        proportionally.
           5. Since the statistical data on the admission process for applicants in the table above is updated in
        real-time, it
        is recommended to monitor this table regularly.</p>
</div>