<div class="online-calculator">
    <div class="text-group">
        <h4>Online equivalency calculator</h4>
        <div class="hr"></div>
        <p>
            Applicants with an international certificate (SAT, International Baccalaureate (IB), International AS & A
            Levels) may be
            exempt from the entrance exam for undergraduate programs. Their math section scores from international
            certificates will
            be considered. The online equivalency calculator is made to compare international certificate math section
            scores with
            the entrance exam scores.
            If applicants prefer, they may still take the entrance exam. In case of a difference between the entrance
            exam score and
            the score derived from their international certificate, the higher score will be considered.
        </p>
        <div class="tt182">
            <img src="../../images/logo-tt.png">
        </div>
    </div>
    <div class="online-calculator__score text-group">
        <h5>Your score</h5>
        <div class="hr"></div>
        <div class="online-calculator__score--wrap">
            <div class="online-calculator__score--wrap-left">
                <div class="online-calculator__score--wrap-left-item">
                    <p>International certificate:</p>
                    <select>
                        <option>select option</option>
                        <option> option</option>
                        <option> option</option>
                    </select>
                </div>
                <div class="online-calculator__score--wrap-left-item">
                    <p>International certificate:</p>
                    <input placeholder="Enter your score" type="number" />
                </div>
            </div>
            <div class="online-calculator__score--wrap-img">
                <img src="../../images/score.png">
                <p>65%</p>
            </div>
        </div>
        <div class="online-calculator__score--bottom">
            <h6>Tashkent University of Technology Entrance Exam Score</h6>
        </div>
    </div>
</div>