<div class="open-doors">
    <div class="text-group">
        <h4>Open Doors Day at Tashkent University of Technology</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <p>
            Join us for Open Doors Day at Tashkent University of Technology (TTU)! This is your chance to:
        <ol>
            <li>Explore our world-class facilities.</li>
            <li>Meet our dedicated faculty.</li>
            <li>Discover the diverse academic programs we offer.</li>
        </ol>
        Gain valuable insights into our innovative learning environment and connect with current students. Don't miss
        this
        exciting opportunity!
        </p>
    </div>
    <div class="text-group">
        <h4>Reserve Your Spot Now!</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="admission-process__personal--info">
            <h5>Personal Information</h5>

            <form class="admission-process__personal--info-form">
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Full Name *</label>
                        <input type="text" placeholder="Enter">
                    </div>
                    <div class="admission-process__personal--info-form-element">
                        <label>Date of Birth *</label>
                        <input type="date">
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Mobile phone number *</label>
                        <input type="email" placeholder="Enter">
                    </div>
                    <div class="admission-process__personal--info-form-element">
                        <label>Select your preferred Open Doors Day date *</label>
                        <select>
                            <option value="">Enter</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="admission-process__personal--info-form-body">
                    <div class="admission-process__personal--info-form-element">
                        <label>Write the name of your school/lyceum/college *</label>
                        <input type="tel" placeholder="Enter">
                    </div>

                    <div class="admission-process__personal--info-form-element">
                        <label>How did you hear about Open Doors Day? *</label>
                        <select>
                            <option value="">Enter</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="admission-process__personal--btn">
            <button>Send</button>
        </div>
    </div>
</div>