<div class="partner-network">
    <div class="text-group">
        <h4>Erasmus+ Programme</h4>
        <div class="hr"></div>
        <div class="table-network">
            <div class="table-network__title">
                <div class="table-network__title--item">
                    <h4>OID Number and Project Applications</h4>
                </div>
            </div>
            <div class="table-network__body">
                <div class="table-network__body--element">
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item ">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item">
                        <p>Organization name:</p>
                    </div>
                </div>
                <div class="table-network__body--element">
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item ">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Organization name:</p>
                    </div>
                    <div class="table-network__body--element-item">
                        <p>Organization name:</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="table-network">
            <div class="table-network__title">
                <div class="table-network__title--item">
                    <h4>Academic contact at partner institution
                    </h4>
                </div>
                <div class="table-network__title--item">
                    <h4>Person responsible for international agreements at the partner institution</h4>
                </div>
                <div class="table-network__title--item">
                    <h4>Person responsible for international students at partner institution</h4>
                </div>
            </div>
            <div class="table-network__body">
                <div class="table-network__body--element">
                    <div class="table-network__body--element-item black">
                        <p>Full name:</p>
                        <span>Rebecca L. Carter</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Position:</p>
                        <span>Head of Academic Administration</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>E-mail:</p>
                        <span>info@tashkenttech-edu.uz</span>
                    </div>
                </div>
                <div class="table-network__body--element">
                    <div class="table-network__body--element-item black">
                        <p>Full name:</p>
                        <span>Rebecca L. Carter</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Position:</p>
                        <span>Head of Academic Administration</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>E-mail:</p>
                        <span>info@tashkenttech-edu.uz</span>
                    </div>
                </div>
                <div class="table-network__body--element">
                    <div class="table-network__body--element-item black">
                        <p>Full name:</p>
                        <span>Rebecca L. Carter</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>Position:</p>
                        <span>Head of Academic Administration</span>
                    </div>
                    <div class="table-network__body--element-item black">
                        <p>E-mail:</p>
                        <span>info@tashkenttech-edu.uz</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="erasmus">
            <h4>ERASMUS+ Institutional Coordinator and ERASMUS+ Coordinator Staff</h4>
            <div class="hr"></div>
            <div class="table-network">
                <div class="table-network__title">
                    <div class="table-network__title--item">
                        <h4>Academic contact at partner institution
                        </h4>
                    </div>
                    <div class="table-network__title--item">
                        <h4>Person responsible for international agreements at the partner institution</h4>
                    </div>
                </div>
                <div class="table-network__body">
                    <div class="table-network__body--element">
                        <div class="table-network__body--element-item ">
                            <p>Full name:</p>
                            <span>Rebecca L. Carter</span>
                        </div>
                        <div class="table-network__body--element-item ">
                            <p>Position:</p>
                            <span>Head of Academic Administration</span>
                        </div>
                        <div class="table-network__body--element-item ">
                            <p>E-mail:</p>
                            <span>info@tashkenttech-edu.uz</span>
                        </div>
                    </div>
                    <div class="table-network__body--element">
                        <div class="table-network__body--element-item ">
                            <p>Full name:</p>
                            <span>Rebecca L. Carter</span>
                        </div>
                        <div class="table-network__body--element-item ">
                            <p>Position:</p>
                            <span>Head of Academic Administration</span>
                        </div>
                        <div class="table-network__body--element-item ">
                            <p>E-mail:</p>
                            <span>info@tashkenttech-edu.uz</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>