<div class="programs">
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="school__wrap--con-card">
        <div class="school__wrap--con-card-img">
            <img src="../../images/school-card.png">
        </div>
        <div class="school__wrap--con-card-info">
            <h5>Chemical and Materials Engineering</h5>
            <div class="school__wrap--con-card-info-hr"></div>
            <p>Applicants:<span>107</span></p>
            <p>Quota: <span>39</span></p>
            <p>Reserved: <span>27</span></p>
        </div>
        <div class="school__wrap--con-card-tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
</div>