<div class="rector">
    <div class="rector__info">
        <div class="rector__info--tttop">
            <img src="../../images/logo-tt.svg">
        </div>
        <h3>Dear students, parents, partners, and friends of Tashkent University of Technology</h3>
        <div class="rector__info--hr"></div>
        <div class="rector__info--text">
            <p>It is a great honor for me to lead a university that not only delivers academic programs and research
                initiatives, but
                also fulfills a national mission to transform the entire education and research ecosystem of Uzbekistan.
                As the
                President of the Republic of Uzbekistan has rightly stated, New Uzbekistan University is a flagship
                institution of a new
                generation, built for breakthrough built for the future.</p>
            <p>I carry a dual responsibility, I serve as both Deputy Head of the Presidential Administration for
                Education Reform and
                the Rector of Tashkent University of Technology. These two roles are united by a single vision to create
                an integrated
                and progressive educational ecosystem where every child, from kindergarten to university, is supported,
                inspired, and
                empowered.</p>
            <p>Tashkent University of Technology is a place for the most talented young minds of our nation. Our highly
                selective
                admissions process is designed to identify true potential, a passion for learning, and a readiness to
                act. Our students
                represent the intellectual elite of Uzbekistan, and I can confidently say: no other university in the
                country brings
                together such a concentration of gifted, driven, and ambitious youth.</p>
        </div>
        <div class="rector__info--ttbottom">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="rector__img">
        <div class="rector__img--images">
            <img src="../../images/dr-adhamov.png">
        </div>
        <div class="rector__img--text">
            <div class="rector__img--text-top">
                <div class="rector__img--text-top-left">
                    <div class="rector__img--text-top-left-line"></div>
                    <p class="rector__img--text-top-left-p">Rector</p>
                </div>
                <img src="../../images/logo-tt.svg">
            </div>
            <p class="rector__img--text-name">Dr. Adham Khudaykulov</p>
        </div>
    </div>
</div>