<div class="research-centers">
    <div class="text-group">
        <h4>Research Centers</h4>
        <div class="hr"></div>
        <p>TTU hosts several world-class research centers dedicated to interdisciplinary research aimed at solving
            complex global
            challenges. Our flagship centers, such as the Central Asian Center for Development Studies and the Greater
            Eurasia
            Research Center (GEAR), are designed to foster innovation, collaboration, and sustainable development in
            Central Asia
            and beyond. Each center is a hub for scholars, experts, and students, driving initiatives that impact
            policy, society,
            and the environment.</p>
    </div>
    <div class="research-centers__wrap">
        <div class="research-centers__wrap--card">
            <div class="research-centers__wrap--card-img">
                <img src="../../images/research-centers.png">
            </div>
            <div class="research-centers__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="research-centers__wrap--card-text">
                <div class="research-centers__wrap--card-text-top">
                    <p>Innovative Project Development</p>
                    <div class="research-centers__wrap--card-text-top-hr"></div>
                    <span>Building a vibrant community of creative and accomplished.</span>
                </div>
                <div class="research-centers__wrap--card-text-btn">
                    <button>See More</button>
                </div>
            </div>
        </div>
        <div class="research-centers__wrap--card">
            <div class="research-centers__wrap--card-img">
                <img src="../../images/research-centers.png">
            </div>
            <div class="research-centers__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="research-centers__wrap--card-text">
                <div class="research-centers__wrap--card-text-top">
                    <p>Innovative Project Development</p>
                    <div class="research-centers__wrap--card-text-top-hr"></div>
                    <span>Building a vibrant community of creative and accomplished.</span>
                </div>
                <div class="research-centers__wrap--card-text-btn">
                    <button>See More</button>
                </div>
            </div>
        </div>
        <div class="research-centers__wrap--card">
            <div class="research-centers__wrap--card-img">
                <img src="../../images/research-centers.png">
            </div>
            <div class="research-centers__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="research-centers__wrap--card-text">
                <div class="research-centers__wrap--card-text-top">
                    <p>Innovative Project Development</p>
                    <div class="research-centers__wrap--card-text-top-hr"></div>
                    <span>Building a vibrant community of creative and accomplished.</span>
                </div>
                <div class="research-centers__wrap--card-text-btn">
                    <button>See More</button>
                </div>
            </div>
        </div>
    </div>
</div>