<div class="research-global">
    <div class="text-group">
        <h4>Expanding Global Research Networks</h4>
        <div class="hr"></div>
        <p>New Uzbekistan University is committed to fostering strong global partnerships with leading academic and
            research institutions. Through collaborations with international universities, research bodies, and industry
            leaders, we are enhancing our research capabilities and contributing to global solutions. Our collaborations
            facilitate knowledge exchange, joint projects, and cross-border innovation to create a lasting impact on
            society.</p>
    </div>
    <div class="research-global__wrap">
        <div class="text-group">
            <h4>By Partner Type</h4>
            <div class="hr"></div>
            <div class="research-global__wrap--cards">
                <div class="research-global__wrap--cards-item">
                    <div class="research-global__wrap--cards-item-top">
                        <span>87</span>
                        <div class="research-global__wrap--cards-item-top-icon"><i class="i-human-foregion"></i></div>
                    </div>
                    <div class="hr"></div>
                    <p>Number of foreign partners</p>
                </div>
                <div class="research-global__wrap--cards-item">
                    <div class="research-global__wrap--cards-item-top">
                        <span>15</span>
                        <div class="research-global__wrap--cards-item-top-icon"><i class="i-landmark"></i></div>
                    </div>
                    <div class="hr"></div>
                    <p>Number of foreign partners</p>
                </div>
                <div class="research-global__wrap--cards-item">
                    <div class="research-global__wrap--cards-item-top">
                        <span>45</span>
                        <div class="research-global__wrap--cards-item-top-icon"><i class="i-dna"></i></div>
                    </div>
                    <div class="hr"></div>
                    <p>Number of foreign partners</p>
                </div>
                <div class="research-global__wrap--cards-item">
                    <div class="research-global__wrap--cards-item-top">
                        <span>67</span>
                        <div class="research-global__wrap--cards-item-top-icon icon"><i class="i-school-flag"></i></div>
                    </div>
                    <div class="hr"></div>
                    <p>Number of foreign partners</p>
                </div>
            </div>
        </div>
        <div class="text-group">
            <h4>Partners by Region</h4>
            <div class="hr"></div>
            <div class="research-global__wrap--img">
                <img src="../../images/region.png">
            </div>
        </div>
    </div>
</div>