<div class="school">

    <div class="school__wrap">
        <div class="school__wrap--select">
            <h4>School of Engineering</h4>
            <div>
                <select>
                    <option>all</option>
                    <option>filter</option>
                    <option>bhda</option>
                    <option>cdhsbajkw</option>
                </select>
            </div>
        </div>
        <div class="school__wrap--con">
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
        <h4>School of Computing</h4>
        <div class="school__wrap--con">
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
        <h4>School of Humanities, Natural & Social Sciences</h4>
        <div class="school__wrap--con">
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
        <h4>School of Management</h4>
        <div class="school__wrap--con">
            <div class="school__wrap--con-card">
                <div class="school__wrap--con-card-img">
                    <img src="../../images/school-card.png">
                </div>
                <div class="school__wrap--con-card-info">
                    <h5>Chemical and Materials Engineering</h5>
                    <div class="school__wrap--con-card-info-hr"></div>
                    <p>Applicants:<span>107</span></p>
                    <p>Quota: <span>39</span></p>
                    <p>Reserved: <span>27</span></p>
                </div>
                <div class="school__wrap--con-card-tt">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
    </div>
</div>