<div class="software-engineering">

    <div class="software-engineering__course">
        <h4>Course Structure</h4>
        <p>Learning takes place through a combination of face-to-face teaching and independent study, including
            lectures, practical
            tutorials, laboratory sessions, personal development sessions, real-life project briefs and case studies.
            Students study
            60 ECTS credits per year. The course structure is validated by the Technical University of Munich (26th in
            World
            University Rankings 2025), but the structure of the course is a subject to change by feedback received from
            a variety of
            sources.</p>
        <div class="software-engineering__course--table">
            <div class="table-structura">
                <div class="top">
                    <div class="title">
                        <h3>
                            FIRST YEAR
                        </h3>
                    </div>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <p class="name">Semester</p>
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">
                        <p class="name">Course</p>
                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">

                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
            </div>
            <div class="table-structura">
                <div class="top">
                    <div class="title">
                        <h3>
                            FIRST YEAR
                        </h3>
                    </div>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <p class="name">Semester</p>
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">
                        <p class="name">Course</p>
                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">

                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
            </div>
            <div class="table-structura">
                <div class="top">
                    <div class="title">
                        <h3>
                            FIRST YEAR
                        </h3>
                    </div>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <p class="name">Semester</p>
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">
                        <p class="name">Course</p>
                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">

                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
            </div>
            <div class="table-structura">
                <div class="top">
                    <div class="title">
                        <h3>
                            FIRST YEAR
                        </h3>
                    </div>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <p class="name">Semester</p>
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">
                        <p class="name">Course</p>
                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
                <div class="wrap">
                    <div class="wrap-left">
                        <div class="info">
                            <span>Semester 1</span>
                        </div>
                    </div>
                    <div class="wrap-right">

                        <div class="data">
                            <div class="item black">Computer Programming 1</div>
                            <div class="item">Academic and Communication Skills 1</div>
                            <div class="item black">Information Systems and Digital Technologies</div>
                            <div class="item">First Principles of TTU</div>
                            <div class="item black">Calculus 1</div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <p>Semester Total Hours / Credits: <span>100 hour / 30 Cresits</span></p>
                </div>
            </div>
        </div>
    </div>
</div>