<div class="sport-club">
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="sport-club__item">
        <div class="sport-club__item--img">
            <img src="../../images/footbal.png">
        </div>
        <div class="sport-club__item--text">
            <p>Football Team</p>
            <div class="sport-club__item--text-hr"></div>
        </div>
        <div class="sport-club__item--btn">
            <button>See More <i></i></button>
        </div>
        <div class="sport-club__item--tt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
</div>