<div class="sport-facilities">
    <div class="text-group">
        <h4>Sport Facilities</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.png">
        </div>
        <div class="sport-facilities__text">
            <div>
                We encourage students to stay active and engaged through a variety of sports facilities available on
                campus. Our
                well-equipped spaces allow students to participate in different sports, whether for recreation or
                competition. Our
                sports areas are open 24/7 to all students, promoting a healthy lifestyle, teamwork, and personal
                growth.
            </div>
            <div>Sports Facilities</div>
            <div>
                Table Tennis Chess-checkers spaces Field for football, volleyball, basketball, athletics, badminton, and
                chess. Rented
                Fields – Additional spaces available for tennis and football for those who want to take their game to
                the next level.
            </div>
        </div>
        <div class="sport-facilities__img">
            <div class="sport-facilities__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="sport-facilities__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="sport-facilities__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="sport-facilities__img--item">
                <img src="../../images/structura.png">
            </div>
        </div>
    </div>
</div>