<div class="structura">
    <div class="text-group">
        <h4>Structure</h4>
        <div class="hr"></div>
        <div class="structura__text">
            <div>The Student Council at Tashkent University of Technology is the official representative body of
                students, working to enhance student life and ensure their voices are heard. The council plays a key
                role in fostering leadership, organizing events, and addressing student concerns.</div>
            <div>
                <span>
                    What the Student Council Does:
                </span>
            </div>
            <div>
                <div>
                    <span>
                        Represents Students –
                    </span>
                    Acts as a bridge between students and university administration.
                </div>
                <div>
                    <span>
                        Organizes Events& Initiatives –
                    </span>
                    Plans social, academic, and cultural activities.
                </div>
                <div><span>
                        Advocates for Student Rights –
                    </span>
                    Addresses student concerns and proposes improvements.
                </div>
                <div>
                    <span>
                        Promotes Leadership & Engagement –
                    </span>
                    Encourages
                    students to participate in university life.
                </div>
            </div>
            <div>
                The Student Council is made up of elected student representatives who are committed to making the
                university a better place for everyone. Below is the current structure of the council:
            </div>
        </div>
        <div class="structura__img">
            <div class="structura__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="structura__img--item">
                <img src="../../images/structura.png">
            </div>
        </div>
    </div>
</div>