<div class="student-council">
    <div class="text-group">
        <h4>Student Council Presidential Election Rules</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="student-council__text">
            <div><span>Election Process Overview</span></div>
            <div>
                <ul>
                    <li>The election begins in Week 9 of the second semester each academic year.</li>
                    <li>The authorized department announces the start of the election on the first working day,
                        including:
                        <ul>
                            <li>
                                Election stages
                            </li>
                            <li>Requirements for candidates</li>
                            <li>Incentives for candidates</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <span>Nomination & Selection Process</span>
            </div>
            <div>
                <ul>
                    <li>Students must submit their application and campaign program via email to info@newuu.uz by
                        the end of Week 11.</li>
                    <li>Students must submit their application and campaign program via email to info@newuu.uz by
                        the end of Week 11.</li>
                    <li>Students must submit their application and campaign program via email to info@newuu.uz by
                        the end of Week 11.</li>
                </ul>
            </div>
            <div>
                <span>Campaign & Election</span>
            </div>
            <div>
                <ul>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                    <li>Candidates conduct campaign activities in Weeks 13-14.</li>
                </ul>
            </div>
            <div>
                <span>Election Validity & Inauguration</span>
            </div>
            <div>
                <ul>
                    <li>The election is valid if at least 40% of students If not, it is reorganized.</li>
                    <li>The election is valid if at least 40% of students If not, it is reorganized.</li>
                </ul>
            </div>
            <div>
                The inauguration ceremony takes place on the first working day of Week 16, where the elected President
                receives the
                official Student Council President badge.
            </div>
        </div>
        <div class="student-council__img">
            <div class="student-council__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="student-council__img--item">
                <img src="../../images/structura.png">
            </div>
        </div>
    </div>
</div>