<div class="students-dormitories">
    <div class="text-group">
        <h4>Student Dormitories of New Uzbekistan University</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.png">
        </div>
        <div class="students-dormitories__text">
            <div>The New Uzbekistan University provides two student dormitories, offering a comfortable and secure
                living environment for
                students during their studies.</div>
            <span>Accommodation & Facilities</span>
            <div>Dormitory 1: Located within the University of World Economy and Diplomacy student residence.</div>
            <div>
                <ul>
                    <li>
                        <span>
                            Total Rooms:256

                        </span>
                    </li>
                    <li>
                        <span>
                            Rooms for Female Students: 107

                        </span>
                    </li>
                    <li>
                        <span>
                            Rooms for Male Students: 149
                        </span>
                    </li>
                    <li>
                        <span>
                            Monthly Fee: 640,000 UZS (includes accommodation, heating, electricity, water, and essential
                            services).
                        </span>
                    </li>
                </ul>
            </div>
            <div>
                <span>Dormitory 2:</span> Located at the Abdulla Avloniy National Institute of Pedagogical Mastery.
            </div>
            <div>
                <ul>
                    <li>
                        <span>
                            Capacity:
                        </span>100 places
                    </li>
                    <li>
                        <span>
                            Features:
                        </span> Equipped with modern furniture and all necessary facilities for comfortable living and
                        studying.
                    </li>
                </ul>
            </div>
            <div>
                <span>Room Types:</span>
            </div>
            <div>
                <ul>
                    <li>
                        Single rooms (1 person)
                    </li>
                    <li>
                        Double rooms (2 people)
                    </li>
                    <li>
                        Shared rooms (4 people)
                    </li>
                </ul>
            </div>
            <div>
                <span>Room Amenities:</span>
            </div>
            <div>
                <p>Refrigerator</p>
                <p>
                    Electronic locks
                    Air
                </p>
                <p>
                    conditioningSink
                    Bathtub or shower cabin
                </p>
                <p>

                    Toilet & bathroom
                    Wardrobe & bedside
                </p>
                <p>
                    tables
                    Wi-Fi access</p>
            </div>
            <div>
                <span>
                    How to Apply for Accommodation?
                </span>
            </div>
            <div>
                To apply for a dormitory, students must contact the tutor assigned to their course, who will guide them
                through the
                application process. Tutors assist in ensuring a smooth transition into student housing.
            </div>
        </div>
    </div>
    <div class="students-dormitories__img text-group">
        <h4>Dormitory of Abdulla Avloniy National Institute of Pedagogical Mastery</h4>
        <div class="hr"></div>
        <div class="students-dormitories__img--wrap">
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
            <div class="students-dormitories__img--wrap-item">
                <img src="../../images/students-dormitories.png">
            </div>
        </div>
    </div>
</div>