<div class="student-club">
    <div class="text-group">
        <h4>Student Club Voting Process</h4>
        <div class="hr"></div>
        <div class="tt182">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="student-club__text">
            <div>
                <span>Voting Organization</span>
            </div>
            <div>
                <ul>
                    <li>The voting is done once a year and the date is determined by the Rector’s order regarding annual
                        budget limits for club
                        groups.</li>
                    <li>The Student Affairs Department ensures a fair, equal, and timely voting process.</li>
                    <li>The Student Affairs Department ensures a fair, equal, and timely voting process.</li>
                </ul>
            </div>
            <div>
                <span>Voting Rules & Duration</span>
            </div>
            <div>
                <ul>
                    <li>
                        Each student can vote for up to three clubs within a club group.
                    </li>
                    <li>Each student can vote for up to three clubs within a club group.</li>
                </ul>
            </div>
            <div>
                <span>Voting Rules & Duration</span>
            </div>
            <div>
                <ul>
                    <li>
                        Each student can vote for up to three clubs within a club group.
                    </li>
                    <li>Each student can vote for up to three clubs within a club group.</li>
                </ul>
            </div>
            <div>
                If a club is disbanded, its allocated budget is equally redistributed among the remaining clubs in its
                group.n.
            </div>
        </div>
        <div class="student-club__img">
            <div class="student-club__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="student-club__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="student-club__img--item">
                <img src="../../images/structura.png">
            </div>
            <div class="student-club__img--item">
                <img src="../../images/structura.png">
            </div>
        </div>
    </div>
</div>