<div class="under-admission">
    <div class="text-group">
        <h4>Undergraduate</h4>
        <div class="hr"></div>
        <p>We are committed to supporting our students’ educational journeys through a variety of scholarship
            opportunities. Scholarships at New Uzbekistan University are categorized into two main types: 1-Year
            Scholarships and 4-Year Scholarships</p>
        <div class="tt182">
            <img src="../../images/logo-tt.png">
        </div>
    </div>
    <div class="under-admission__wrap">
        <div class="under-admission__wrap--card">
            <p>1-year Scholarship</p>
            <span>These scholarships cover tuition fees for one academic year only.</span>
            <div class="under-admission__wrap--card-hr"></div>
            <div class="under-admission__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="under-admission__wrap--card-btn">
                <button>See More</button>
            </div>
        </div>
        <div class="under-admission__wrap--card">
            <p>1-year Scholarship</p>
            <span>These scholarships cover tuition fees for one academic year only.</span>
            <div class="under-admission__wrap--card-hr"></div>
            <div class="under-admission__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="under-admission__wrap--card-btn">
                <button>See More</button>
            </div>
        </div>
        <div class="under-admission__wrap--card">
            <p>1-year Scholarship</p>
            <span>These scholarships cover tuition fees for one academic year only.</span>
            <div class="under-admission__wrap--card-hr"></div>
            <div class="under-admission__wrap--card-tt">
                <img src="../../images/logo-tt.png">
            </div>
            <div class="under-admission__wrap--card-btn">
                <button>See More</button>
            </div>
        </div>
    </div>
</div>