<div class="undergraduate">
    <div class="undergraduate__computing school-card">
        <h4>School of Computing</h4>
        <div class="wrapper">
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
        </div>
    </div>
    <div class="undergraduate__engineering school-card">
        <h4>School of Engineering</h4>
        <div class="wrapper">
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>

            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
        </div>
    </div>
    <div class="undergraduate__natural school-card">
        <h4>School of Humanities, Natural & Social Sciences</h4>
        <div class="wrapper">
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
        </div>
    </div>
    <div class="undergraduate__management school-card">
        <h4>School of Management</h4>
        <div class="wrapper">
            <div class="item">
                <div class="top">
                    <img src="../../images/computing.png">
                </div>
                <p>B.Sc. Software Engineering</p>
                <div class="hr"></div>
                <div class="btn">
                    <button>
                        <span>see more</span>
                    </button>
                </div>
                <div class="tt">
                    <img src="../../images/logo-tt.png">
                </div>
            </div>
        </div>
    </div>
</div>