<div class="univer-govermance">
    <div class="univer-govermance__card">
        <div class="univer-govermance__card--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="univer-govermance__card--img">
            <img src="../../images/dr-erkinov.svg">
            <div class="univer-govermance__card--img-before">
                <div class="univer-govermance__card--img-before-line"></div>
                <div class="univer-govermance__card--img-before-circle">
                    <img src="../../images/logo-tt.svg">
                </div>
            </div>
        </div>
        <div class="univer-govermance__card--info">
            <div class="univer-govermance__card--info-top">
                <p>Dr. Erkinov Azizbek</p>

            </div>
            <div class="univer-govermance__card--info-bottom">
                <div><i class="i-mail"></i>info@ttu.uz</div>
                <div><i class="i-phone1"></i>+998 (71) 123 45 67</div>
            </div>
        </div>
        <div class="univer-govermance__card--bottomtt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>

    <div class="univer-govermance__card">
        <div class="univer-govermance__card--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="univer-govermance__card--img">
            <img src="../../images/dr-erkinov.svg">

        </div>
        <div class="univer-govermance__card--info">
            <div class="univer-govermance__card--info-top">
                <p>Dr. Erkinov Azizbek</p>
                <div class="univer-govermance__card--info-top-element">
                    <div></div>
                    <p>Director of the Agency for Specialized Educational Institutions, Deputy Chairman of the
                        Supervisory Board</p>
                </div>
            </div>

        </div>
        <div class="univer-govermance__card--bottomtt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="univer-govermance__card">
        <div class="univer-govermance__card--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="univer-govermance__card--img">
            <img src="../../images/dr-erkinov.svg">

        </div>
        <div class="univer-govermance__card--info">
            <div class="univer-govermance__card--info-top">
                <p>Dr. Erkinov Azizbek</p>
                <div class="univer-govermance__card--info-top-element">
                    <div></div>
                    <p>Director of the Agency for Specialized Educational Institutions, Deputy Chairman of the
                        Supervisory Board</p>
                </div>
            </div>

        </div>
        <div class="univer-govermance__card--bottomtt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
    <div class="univer-govermance__card">
        <div class="univer-govermance__card--tt">
            <img src="../../images/logo-tt.svg">
        </div>
        <div class="univer-govermance__card--img">
            <img src="../../images/dr-erkinov.svg">

        </div>
        <div class="univer-govermance__card--info">
            <div class="univer-govermance__card--info-top">
                <p>Dr. Erkinov Azizbek</p>
                <div class="univer-govermance__card--info-top-element">
                    <div></div>
                    <p>Director of the Agency for Specialized Educational Institutions, Deputy Chairman of the
                        Supervisory Board</p>
                </div>
            </div>

        </div>
        <div class="univer-govermance__card--bottomtt">
            <img src="../../images/logo-tt.svg">
        </div>
    </div>
</div>