<div class="univer-library">
    <div class="univer-library__top">
        <div class="text-group">
            <h4>The library of Tashkent University of Technology</h4>
            <div class="hr"></div>
            <p>Tashkent University of Technology (TTU) NEWUU Library is dedicated to supporting the success of higher
                education
                students, educators, and learners by tailoring course materials to their specific requirements. From its
                humble
                beginnings as a small library, NUU Library has experienced significant growth, enabling it to meet the
                increasing
                educational demands. This expansion involves the provision of high-quality books and the cultivation of
                a competitive
                learning environment. To enhance accessibility to online resources, the library offers the use of iMacs
                and iPads.

                Access to E-Library https://library.tashkenttech-edu.uz

                Notification Message: Please register for access to the electronic library with the help of a librarian
                and obtain your
                login and password.</p>
        </div>
        <div class="univer-library__top--img">
            <img src="../../images/univer-library.png">
        </div>
    </div>
    <div class="univer-library__info">
        <div class="univer-library__info--item">
            <div class="univer-library__info--item-img">
                <img src="../../images/library-books.png">
            </div>
            <div class="univer-library__info--item-text">
                <p>22,500</p>
                <span>Library books</span>
            </div>
        </div>
        <div class="univer-library__info--item">
            <div class="univer-library__info--item-img">
                <img src="../../images/journal.png">
            </div>
            <div class="univer-library__info--item-text">
                <p>12,548</p>
                <span>Journals</span>
            </div>
        </div>
        <div class="univer-library__info--item">
            <div class="univer-library__info--item-img">
                <img src="../../images/imac.png">
            </div>
            <div class="univer-library__info--item-text">
                <p>22,500</p>
                <span>iMAc</span>
            </div>
        </div>
        <div class="univer-library__info--item">
            <div class="univer-library__info--item-img">
                <img src="../../images/humans.png">
            </div>
            <div class="univer-library__info--item-text">
                <p>22,500</p>
                <span>Seats</span>
            </div>
        </div>
    </div>
    <div class="univer-library__books">
        <h5>Books</h5>
        <div class="univer-library__books--wrapper">
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study, Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
            <div class="univer-library__books--wrapper-item">
                <div class="univer-library__books--wrapper-item-img">
                    <img src="../../images/univer-books.svg">
                </div>
                <div class="univer-library__books--wrapper-item-text">
                    <h4>Collection of the state museum </h4>
                    <div></div>
                    <p>World Society for Study , Preservation and Popularization of Cultural Legacy of Uzbekistan</p>
                </div>
            </div>
        </div>
    </div>
    <div class="univer-library__statis">
        <div class="univer-library__statis--top">
            <h4>Library visit statistics</h4>
            <div class="univer-library__statis--top-right">
                <div class="univer-library__statis--top-right-date"><input type="date"></div>
                <div class="toggle-button">
                    <button class="active">
                        <p>1months</p>
                    </button>
                    <button>
                        <p>6months</p>
                    </button>
                    <button>
                        <p>1years</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="univer-library__statis--img">
            <img src="../../images/statistike.png">
        </div>
    </div>
</div>