<div class="upcoming-events">
    <div class="toggle-button">
        <button class="active">Upcoming Events</button>
        <button>Previous Events</button>
    </div>
    <div class="upcoming__content upcoming-events__wrap">
        <div class="upcoming__content--item">
            <div class="upcoming__content--item-left">
                <p><i class="i-calendar"></i>Today</p>
                <span>17:00</span>
            </div>
            <div class="upcoming__content--item-right">
                <h4>Inflammation & Immune Regulation</h4>

                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="upcoming__content--item">
            <div class="upcoming__content--item-left">
                <p><i class="i-calendar"></i>14Dec</p>
                <span>16:00</span>
            </div>
            <div class="upcoming__content--item-right">
                <h4>Cellular Mechanisms in Pathology</h4>

                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="upcoming__content--item">
            <div class="upcoming__content--item-left">
                <p><i class="i-calendar"></i>13Dec</p>
                <span>17:00</span>
            </div>
            <div class="upcoming__content--item-right">
                <h4>Inflammation & Immune Regulation</h4>

                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="upcoming__content--item">
            <div class="upcoming__content--item-left">
                <p><i class="i-calendar"></i>15Dec</p>
                <span>15:00</span>
            </div>
            <div class="upcoming__content--item-right">
                <h4>Advances in Genetic Research</h4>

                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
    </div>
</div>