<div class="events-page">
    <div class="events-page__tab toggle-button">
        <button class="active">Upcoming Events</button>
        <button>Previous Events</button>
    </div>
    <div class="events-page__content active">
        <div class="events-section__content events-page__wrap">
            <div class="events-section__content--item one">
                <div class="events-section__content--item-left">
                    <p><i class="i-calendar"></i>Today</p>
                    <span>17:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Inflammation & Immune Regulation</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>
            <div class="events-section__content--item two">
                <div class="events-section__content--item-left">
                    <p><i class="i-calendar"></i>14Dec</p>
                    <span>16:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Cellular Mechanisms in Pathology</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>
            <div class="events-section__content--item three">
                <div class="events-section__content--item-left ">
                    <p><i class="i-calendar"></i>13Dec</p>
                    <span>17:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Inflammation & Immune Regulation</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>
            <div class="events-section__content--item four">
                <div class="events-section__content--item-left ">
                    <p><i class="i-calendar"></i>15Dec</p>
                    <span>15:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Advances in Genetic Research</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>
        </div>
    </div>
    <div class="events-page__content">
        <div class="events-section__content upcoming-events__wrap">
            <div class="events-section__content--item one">
                <div class="events-section__content--item-left">
                    <p><i class="i-calendar"></i>Today</p>
                    <span>17:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Inflammation & Immune Regulation</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>
            <div class="events-section__content--item two">
                <div class="events-section__content--item-left">
                    <p><i class="i-calendar"></i>14Dec</p>
                    <span>16:00</span>
                </div>
                <div class="events-section__content--item-right">
                    <h4>Cellular Mechanisms in Pathology</h4>

                    <div></div>
                    <span> <i class="i-location"></i>Tashkent University of Technology</span>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    const buttons = document.querySelectorAll('.events-page__tab button');
    const contents = document.querySelectorAll('.events-page__content');

    buttons.forEach((btn, index) => {
        btn.addEventListener('click', () => {
            // button active
            buttons.forEach(b => b.classList.remove('active'));
            btn.classList.add('active');

            // content active (index orqali)
            contents.forEach(c => c.classList.remove('active'));
            contents[index].classList.add('active');
        });
    });

</script>