<div class="breadcrumbs mini">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__list--item">
                <a href="/" class="breadcrumbs__link fs4">Asosiy</a>
            </li>
            <li class="breadcrumbs__list--item">
                <i class="i-dropdown"></i>
            </li>
            <li class="breadcrumbs__list--item">
                <a href="" class="breadcrumbs__link active">
                    Sahifalar
                </a>
            </li>
        </ul>
    </div>
</div>