<footer class="footer">
    <div class="footer__overlay"></div>
    <div class="footer__content container">
        <div class="footer__content--logorow">
            <img src="../../images/footer-logo.svg">
            <p>Empowering minds, shaping futures. Join us in our
                mission to provide world-class education and create
                tomorrow's
                leaders.
            </p>
            <div class="footer__content--logorow-social">
                <a href="#">
                    <i class="i-instagram-card"></i>
                </a>
                <a href="#">
                    <i class="i-telegram-circle"></i>
                </a>
                <a href="#">
                    <i class="i-facebook-social"></i>
                </a>
                <a href="#">
                    <i class="i-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="footer__content--row">
            <div class=" footer__content--row-link">
                <h4>Quick Links</h4>
                <p>Admissions</p>
                <p>Programs</p>
                <p>News</p>
                <p>Campus Life</p>
                <p>About</p>
                <p>Contact Us</p>
            </div>

        </div>
        <div class="footer__content--link">
            <h4>Quick Links</h4>
            <p>Admissions</p>
            <p>Programs</p>
            <p>News</p>
            <p>Campus Life</p>
            <p>About</p>
            <p>Contact Us</p>
        </div>
        <div class="footer__content--contact">
            <h4>Contact Us</h4>
            <p><i class="i-location"></i>123 University Avenue, Tech City, TC 12345</p>
            <p><i class="i-mail"></i>info@tashkenttech-edu.uz</p>
            <p><i class="i-phone1"></i>+998 77 288 82 82</p>
        </div>
        <div class="footer__content--map">
            <iframe src="https://yandex.uz/map-widget/v1/?um=constructor%3A..." width="100%" height="250"
                frameborder="0">
            </iframe>
        </div>
    </div>
    <div class=" footer__content--row-contact">
        <h4>Contact Us</h4>
        <p><i class="i-location"></i>123 University Avenue, Tech City, TC 12345</p>
        <p><i class="i-mail"></i>info@tashkenttech-edu.uz</p>
        <p><i class="i-phone1"></i>+998 77 288 82 82</p>
    </div>
    <div class="footer__content--row-map">
        <iframe src="https://yandex.uz/map-widget/v1/?um=constructor%3A..." width="100%" height="250" frameborder="0">
        </iframe>
    </div>

    <div class="footer__bottom container">
        <div class="footer__bottom--hr"></div>
        <div class="footer__bottom--info">
            <h4>Copyright © 2025 New Uzbekistan University. All Rights Reserved.</h4>
            <p>Developed by: <img src="../../images/pro-end.svg"></p>
        </div>
    </div>
</footer>