<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Vatandoshlar Jamoat Fondi rasmiy veb-sayti">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="@/images/logo.png">
<link rel="stylesheet" href="@/assets/libs/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="@/assets/libs/aos/main.min.css">
<link rel="stylesheet" href="@/assets/flatpickr/flatpickr.css">
<link rel="stylesheet" href="@/assets/libs/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="@/assets/libs/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="@/assets/fonts/stylesheet.css">
<link rel="stylesheet" href="@/assets/icomoon/style.css">
<link rel="stylesheet" href="@/css/main.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="@/assets/libs/aos/main.min.js"></script>
<!-- jQuery (majburiy) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel JS -->
<script src="@/assets/libs/owl-carousel/owl.carousel.min.js"></script>



<title>Title</title>