<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menyu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu">
            <li class="menu-item menu-item--dropdown">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false"
                    aria-controls="submenu1">
                    Agentlik
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="submenu1">
                    <li class="submenu-item">
                        <a href="about.html" class="submenu-link">
                            Biz haqimizda
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="leadership.html" class="submenu-link">
                            Bizning Jamoa
                        </a>
                    </li>
                    <li class="submenu-item submenu-item--dropdown">
                        <span class="submenu-link" data-bs-toggle="collapse" data-bs-target="#submenu2"
                            aria-expanded="false" aria-controls="submenu2">
                            Regional Offices
                            <i class="i-angle-right"></i>
                        </span>
                        <ul class="submenu collapse" id="submenu2">
                            <li class="submenu-item">
                                <a href="tashkent-office.html" class="submenu-link">
                                    Tashkent Office
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="samarkand-office.html" class="submenu-link">
                                    Samarkand Office
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="bukhara-office.html" class="submenu-link">
                                    Bukhara Office
                                </a>
                            </li>
                            <li class="submenu-item submenu-item--dropdown">
                                <span class="submenu-link" data-bs-toggle="collapse" data-bs-target="#submenu3"
                                    aria-expanded="false" aria-controls="submenu3">
                                    Regional Offices
                                    <i class="i-angle-right"></i>
                                </span>
                                <ul class="submenu collapse" id="submenu3">
                                    <li class="submenu-item">
                                        <a href="tashkent-office.html" class="submenu-link">
                                            Tashkent Office
                                        </a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="samarkand-office.html" class="submenu-link">
                                            Samarkand Office
                                        </a>
                                    </li>
                                    <li class="submenu-item">
                                        <a href="bukhara-office.html" class="submenu-link">
                                            Bukhara Office
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="empty.html" class="menu-link">
                    Bo'sh sahifa
                </a>
            </li>
            <li class="menu-item">
                <a href="list.html" class="menu-link">
                    Ma'lumotlar bazasi
                </a>
            </li>
            <li class="menu-item">
                <a href="table.html" class="menu-link">
                    Jadval
                </a>
            </li>
            <li class="menu-item">
                <a href="stats.html" class="menu-link">
                    Expertlar statistikasi
                </a>
            </li>
            <li class="menu-item">
                <a href="news.html" class="menu-link">
                    Yangiliklar
                </a>
            </li>
            <li class="menu-item">
                <a href="faq.html" class="menu-link">
                    Faq
                </a>
            </li>
            <li class="menu-item">
                <a href="contacts.html" class="menu-link">
                    Kontaktlar
                </a>
            </li>
        </ul>
    </div>
</div>