<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu"
    aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <div class="offcanvas-header-logo">
            <img src="@/images/footer-logo.svg">
        </div>
        <div class="header__lang menu-lang">
            <button data-bs-toggle="dropdown" class="header__lang-btn" type="button" aria-haspopup="true"
                aria-expanded="false">
                <img src="@/images/flag-uz.png" alt="uz">
                O'zb<span class="i-dropdown"></span>
            </button>
            <ul class="dropdown-menu header__lang-dropdown">
                <li class="header__lang-item">
                    <a class="header__lang-link header__lang-link--active" href="#">
                        <img src="@/images/flag-uz.png" alt="uz">
                        O'zb
                    </a>
                </li>
                <li class="header__lang-item">
                    <a class="header__lang-link" href="#">
                        <img src="@/images/flag-ru.png" alt="ru">
                        Рус
                    </a>
                </li>
                <li class="header__lang-item">
                    <a class="header__lang-link" href="#">
                        <img src="@/images/flag-en.png" alt="en">
                        Eng
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="menu">
            <li class="menu-item menu-item--dropdown">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="false"
                    aria-controls="submenu1">
                    About
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="about">
                    <li class="submenu-item">
                        <a href="about.html" class="submenu-link">
                            About the university
                        </a>
                    </li>
                    <li class="submenu-item submenu-item--dropdown">
                        <span class="submenu-link" data-bs-toggle="collapse" data-bs-target="#dradham"
                            aria-expanded="false" aria-controls="submenu2">
                            Dr. Adham Khudaykulov <i class="i-dropdown"></i>
                            <i class="i-angle-right"></i>
                        </span>
                        <ul class="submenu collapse" id="dradham">
                            <li class="submenu-item">
                                <a href="albert-flores.html" class="submenu-link">
                                    Dr. Adham Khudaykulov About
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="albert-flores-contact.html" class="submenu-link">
                                    Dr. Adham Khudaykulov contact
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="rector.html" class="submenu-link">
                                    DR. Adham Khudayqulov rector
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu-item submenu-item--dropdown">
                        <span class="submenu-link" data-bs-toggle="collapse" data-bs-target="#leadership"
                            aria-expanded="false" aria-controls="submenu2">
                            Leadership <i class="i-dropdown"></i>
                            <i class="i-angle-right"></i>
                        </span>
                        <ul class="submenu collapse" id="leadership">
                            <li class="submenu-item">
                                <a href="leadership-team.html" class="submenu-link">
                                    Leadership Team
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="leadership-team-two.html" class="submenu-link">
                                    Leadership Team Two
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="leadership-list.html" class="submenu-link">
                                    Leadership List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu-item">
                        <a href="academic-comunity.html" class="submenu-link">
                            Academic comunity
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="univer-govermance.html" class="submenu-link">
                            Univer govermance
                        </a>
                    </li>
                    <li class="submenu-item submenu-item--dropdown">
                        <span class="submenu-link" data-bs-toggle="collapse" data-bs-target="#global"
                            aria-expanded="false" aria-controls="global">
                            Global <i class="i-dropdown"></i>
                            <i class="i-angle-right"></i>
                        </span>
                        <ul class="submenu collapse" id="global">
                            <li class="submenu-item">
                                <a href="global-partner.html" class="submenu-link">
                                    Global partner
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="partner-strategic.html" class="submenu-link">
                                    Partner strategic
                                </a>
                            </li>
                            <li class="submenu-item">
                                <a href="global-partner-logo.html" class="submenu-link">
                                    Global Partner logo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu-item">
                        <a href="international-office.html" class="submenu-link">
                            Introduction
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="partner-network.html" class="submenu-link">
                            Partner network
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="academic-excellense.html" class="submenu-link">
                            Academic excellense
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="governance.html" class="submenu-link">
                            Governance
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="univer-library.html" class="submenu-link">
                            univer Library
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="campus-faculty.html" class="submenu-link">
                            Ulugbek Central Auditorium (U.C.A.)
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#academics" aria-expanded="false"
                    aria-controls="submenu1">
                    Academics
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="academics">
                    <li class="submenu-item">
                        <a href="undergraduate.html" class="submenu-link">
                            School of Computing
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="software-engineering.html" class="submenu-link">
                            Software engineering
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#admission" aria-expanded="false"
                    aria-controls="submenu1">
                    Admissions
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="admission">
                    <li class="submenu-item">
                        <a href="choose-univer.html" class="submenu-link">
                            choose universitet
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="live-statistics.html" class="submenu-link">
                            Live statistics
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="under-admission.html" class="submenu-link">
                            Undergraduate admission
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="online-calculator.html" class="submenu-link">
                            Online equivalency calculator
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="exam-specification.html" class="submenu-link">
                            Exam Specification
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="admission-process.html" class="submenu-link">
                            Admission process
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="open-doors.html" class="submenu-link">
                            Open Doors Day at Tashkent University of Technology
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#research" aria-expanded="false"
                    aria-controls="submenu1">
                    Research
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="research">
                    <li class="submenu-item">
                        <a href="research-pioneering.html" class="submenu-link">
                            Pioneering Breakthroughs
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="research-centers.html" class="submenu-link">
                            Research Centers
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="research-global.html" class="submenu-link">
                            Expanding global research
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="research-inovation.html" class="submenu-link">
                            Innovation Hub
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="research-studies.html" class="submenu-link">
                            Case Studies
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="research-supporting.html" class="submenu-link">
                            Supporting Your Journey to Success
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#campus" aria-expanded="false"
                    aria-controls="submenu1">
                    Campus life
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="campus">
                    <li class="submenu-item">
                        <a href="research-supporting.html" class="submenu-link">
                            Supporting Your Journey to Success
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="students-dormitories.html" class="submenu-link">
                            Student Dormitories of New Uzbekistan University
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="structura.html" class="submenu-link">
                            Structura
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="student-council.html" class="submenu-link">
                            Student council
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="student-club.html" class="submenu-link">
                            Student Club
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="clubs.html" class="submenu-link">
                            Clubs
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="sport-facilities.html" class="submenu-link">
                            Sport Facilities
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="sport-club.html" class="submenu-link">
                            Sport Club
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="football-team.html" class="submenu-link">
                            Football team
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="event-calendar.html" class="submenu-link">
                            Event calendar
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="elections.html" class="submenu-link">
                            Elections
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#news" aria-expanded="false"
                    aria-controls="submenu1">
                    News & Events
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="news">
                    <li class="submenu-item">
                        <a href="latest-news.html" class="submenu-link">
                            Latest news
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="german-professor.html" class="submenu-link">
                            German professor
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="upcoming-events.html" class="submenu-link">
                            Upcoming events
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="central-asia.html" class="submenu-link">
                            Central Asia
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="german-teacher.html" class="submenu-link">
                            German teacher
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <span class="menu-link" data-bs-toggle="collapse" data-bs-target="#contact" aria-expanded="false"
                    aria-controls="submenu1">
                    Contact Us
                    <i class="i-angle-bot"></i>
                </span>
                <ul class="submenu collapse" id="contact">
                    <li class="submenu-item">
                        <a href="contact-us.html" class="submenu-link">
                            Contact us
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="contact-home.html" class="submenu-link">
                            Home Contact
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="rector-reception.html" class="submenu-link">
                            Rector reception
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="offcanvas-footer">
        <div class="offcanvas-footer-icons">
            <a href="#">
                <i class="i-instagram-menu"></i>
            </a>
            <a href="#">
                <i class="i-telegram-menu"></i>
            </a>
            <a href="#">
                <i class="i-facebook-menu"></i>
            </a>
            <a href="#">
                <i class="i-linkedin-menu"></i>
            </a>
        </div>
        <div class="offcanvas-footer-logo">
            <img src="@/images/TT-logo.svg">
        </div>
    </div>
</div>