<div class="social-media container">
    <div class="social-media__content container">
        <div class="social-media__content--overlay">
            <img src="../../images/social-media-overlay.svg">
        </div>
        <div class="social-media__content--text">
            <h3>Social Media</h3>
            <p>Follow us for the latest news</p>
            <div class="social-media__content--text-img">
                <div class="social-media__content--text-img-item">
                    <i class="i-instagram-card"></i>
                    <p>Instagram</p>
                </div>
                <div class="social-media__content--text-img-item">
                    <i class="i-telegram-circle"></i>
                    <p>Telegram</p>
                </div>
                <div class="social-media__content--text-img-item">
                    <i class="i-facebook-social"></i>
                    <p>Facebook</p>
                </div>
                <div class="social-media__content--text-img-item">
                    <i class="i-linkedin"></i>
                    <p>Linkedin</p>
                </div>
            </div>
        </div>
        <div class="social-media__content--tel">
            <div class="social-media__content--tel-ins"><img src="../../images/instagram-tel.png"></div>
            <div class="social-media__content--tel-ins2"><img src="../../images/instagram-tel2.png"></div>
            <div class="social-media__content--tel-fac"><img src="../../images/facebok-tel.png"></div>
            <div class="social-media__content--tel-tg"><img src="../../images/telegram-tel.png"></div>
        </div>
    </div>
</div>