<div class="about-section">
    <div class="about-section__logo--top">
        <img src="../../images/logo-tt.png">
    </div>
    <div class=" container">
        <h2 class="components-title">About The <span>University</span></h2>
        <div class="about-section__wrapper">
            <div class="about-section__wrapper-text">
                <div class="about-section__wrapper-text-name">
                    <h3>Tashkent University of Technology</h3>
                    <p>In a laoreet purus. Integer turpis q
                        uam, laoreet id orci nec, ultrices lacinia nunc. Aliquam erat
                        vo Aliquam pulvinar
                        vestibulum blandit. Donec sed nisl libero. Fusce dignissim luctus sem eu dapibus.</p>
                </div>
                <div class="about-section__wrapper-text-btn">
                    <button>Learn More <i class="i-arrow-right"></i></button>
                </div>
                <div class="about-section__wrapper-text-grid">
                    <div class="about-section__wrapper-text-grid-item">
                        <div class="about-section__wrapper-text-grid-item-img student">
                            <img src="../../images/Stats-magistr.svg">
                        </div>
                        <div class="about-section__wrapper-text-grid-item-info">
                            <p>22,500</p>
                            <span>Students</span>
                        </div>
                    </div>
                    <div class="about-section__wrapper-text-grid-item">
                        <div class="about-section__wrapper-text-grid-item-img staff">
                            <img src="../../images/Stats-student.svg">
                        </div>
                        <div class="about-section__wrapper-text-grid-item-info">
                            <p>112</p>
                            <span>Staff</span>
                        </div>
                    </div>
                    <div class="about-section__wrapper-text-grid-item">
                        <div class="about-section__wrapper-text-grid-item-img school">
                            <img src="../../images/Stats-bino.svg">
                        </div>
                        <div class="about-section__wrapper-text-grid-item-info">
                            <p>6</p>
                            <span>Schools</span>
                        </div>
                    </div>
                    <div class="about-section__wrapper-text-grid-item">
                        <div class="about-section__wrapper-text-grid-item-img faculty">
                            <img src="../../images/faculty.png">
                        </div>
                        <div class="about-section__wrapper-text-grid-item-info">
                            <p>68</p>
                            <span>Faculty</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-section__wrapper-img">
                <div class="about-section__wrapper-img-grid">
                    <img src="../../images/About-grid-1.svg">
                </div>
                <div class="about-section__wrapper-img-grid">
                    <img src="../../images/About-grid2.svg">
                    <img src="../../images/About-grid3.svg">
                </div>

            </div>
        </div>
    </div>
    <div class="about-section__logo--bottom">
        <img src="../../images/logo-tt.png">
    </div>
</div>
<!-- <div class="about-section">
    <div class="about-section__logo--top">
        <img src="{{ asset('front') }}/images/logo-mini.svg">
    </div>
    <div class="container">
        <h2 class="components-title">{!!sectionValue($about->first(), "title")!!}</h2>
        <div class="about-section__wrapper">
            <div class="about-section__wrapper-text">
                <div class="about-section__wrapper-text-name">
                    <h3>{{sectionValue($about->first(), "subtitle")}}</h3>
                    <p>{{sectionValue($about->first(), "desc")}}</p>
                </div>
                <div class="about-section__wrapper-text-btn">
                    <button>{{staticValue("learn-more")}}<i class="i-arrow-right"></i></button>
                </div>
                <div class="about-section__wrapper-text-grid">
                    @foreach ($about[0]->children as $child)
                    <div class="about-section__wrapper-text-grid-item">
                        <div class="about-section__wrapper-text-grid-item-img">
                            <img src="{{ sectionImages($child, true) }}">
                        </div>
                        <div class="about-section__wrapper-text-grid-item-info">
                            <p>{{sectionValue($child, "count")}}</p>
                            <span>{{sectionValue($child , "title")}}</span>
                        </div>
                    </div>
                    @endforeach
                </div>
            </div>
            <div class="about-section__wrapper-img">
                <div class="about-section__wrapper-img-grid">
                    <img src="{{ sectionImages($about , true) }}">
                </div>
                <div class="about-section__wrapper-img-grid">


                </div>
            </div>
        </div>
        <div class="about-section__logo--bottom">
            <img src="{{ asset('front') }}/images/logo-mini.svg">
        </div> -->