<div class="about">
    <div class="about__logo--top">
        <img src="../../images/logo-tt.png">
    </div>
    <div class="about__wrapper container">
        <h2 class="components-title">About The <span>University</span></h2>
        <div class="about__wrapper--univer">
            <div class="about__wrapper--univer-text">
                <div class="about__wrapper--univer-text-name">
                    <h3>Tashkent University of Technology</h3>
                    <p>In a laoreet purus. Integer turpis q
                        uam, laoreet id orci nec, ultrices lacinia nunc. Aliquam erat
                        vo Aliquam pulvinar
                        vestibulum blandit. Donec sed nisl libero. Fusce dignissim luctus sem eu dapibus.</p>
                </div>
                <div class="about__wrapper--univer-text-btn">
                    <button>Learn More <i class="i-arrow-right"></i></button>
                </div>
                <div class="about__wrapper--univer-text-grid">
                    <div class="about__wrapper--univer-text-grid-item">
                        <div class="about__wrapper--univer-text-grid-item-img student">
                            <img src="../../images/Stats-magistr.svg">
                        </div>
                        <div class="about__wrapper--univer-text-grid-item-info">
                            <p>22,500</p>
                            <span>Students</span>
                        </div>
                    </div>
                    <div class="about__wrapper--univer-text-grid-item">
                        <div class="about__wrapper--univer-text-grid-item-img staff">
                            <img src="../../images/Stats-student.svg">
                        </div>
                        <div class="about__wrapper--univer-text-grid-item-info">
                            <p>112</p>
                            <span>Staff</span>
                        </div>
                    </div>
                    <div class="about__wrapper--univer-text-grid-item">
                        <div class="about__wrapper--univer-text-grid-item-img school">
                            <img src="../../images/Stats-bino.svg">
                        </div>
                        <div class="about__wrapper--univer-text-grid-item-info">
                            <p>6</p>
                            <span>Schools</span>
                        </div>
                    </div>
                    <div class="about__wrapper--univer-text-grid-item">
                        <div class="about__wrapper--univer-text-grid-item-img faculty">
                            <img src="../../images/faculty.png">
                        </div>
                        <div class="about__wrapper--univer-text-grid-item-info">
                            <p>68</p>
                            <span>Faculty</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__wrapper--univer-img">
                <div class="about__wrapper--univer-img-grid">
                    <img src="../../images/About-grid-1.svg">
                </div>
                <div class="about__wrapper--univer-img-grid">
                    <img src="../../images/About-grid2.svg">
                    <img src="../../images/About-grid3.svg">
                </div>

            </div>
        </div>
    </div>
    <div class="about__logo--bottom">
        <img src="../../images/logo-tt.png">
    </div>
</div>