<div class="academics-section container">
    <h2 class="components-title">Academics & <span>Program</span></h2>
    <div class="academics-section__carousel">
        <div class="academics-section__carousel--left">
            <button class="active">
                <p>Undergraduate</p>
            </button>
            <button>
                <p>Graduate</p>
            </button>
            <button>
                <p>Phd and DSc</p>
            </button>
            <button>
                <p>Courses</p>
            </button>
        </div>
        <div class="academics-section__carousel--select">
            <select>
                <option value="0">
                    Undergraduate
                </option>
                <option value="1">
                    Graduate
                </option>
                <option value="2">
                    Phd and DSc
                </option>
                <option value="3">
                    Courses
                </option>
            </select>
        </div>
        <div class="about-section__wrapper-text-btn">
            <button>See All <i class="i-arrow-right"></i></button>
        </div>
    </div>
    <div class="tab-contents">
        <div class="academics-section__carousel--content active">
            <div class="academics-section__card">
                <div class="academics-section__card--item">
                    <img src="../../images/academics-1.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Chemical & Materials Engineering</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-2.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>M.Sc. in Mechanical Engineering</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-3.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>PhD Programmes</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-4.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>SAT Math</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-5.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>M.Sc. in Sustainable Chemical Engineering & Materials</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-6.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>SAT English</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-7.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Cyber Security</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-8.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>DSc Programmes</p>
                </div>
            </div>
        </div>
        <div class="academics-section__carousel--content">
            <div class="academics-section__card">

                <div class="academics-section__card--item">
                    <img src="../../images/academics-5.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>M.Sc. in Sustainable Chemical Engineering & Materials</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-6.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>SAT English</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-7.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Cyber Security</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-8.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>DSc Programmes</p>
                </div>
            </div>
        </div>
        <div class="academics-section__carousel--content">
            <div class="academics-section__card">
                <div class="academics-section__card--item">
                    <img src="../../images/academics-1.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Chemical & Materials Engineering</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-2.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>M.Sc. in Mechanical Engineering</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-3.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>PhD Programmes</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-4.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>SAT Math</p>
                </div>

            </div>
        </div>
        <div class="academics-section__carousel--content">
            <div class="academics-section__card">
                <div class="academics-section__card--item">
                    <img src="../../images/academics-1.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Chemical & Materials Engineering</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-2.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>M.Sc. in Mechanical Engineering</p>
                </div>

                <div class="academics-section__card--item">
                    <img src="../../images/academics-7.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>B.Sc. Cyber Security</p>
                </div>
                <div class="academics-section__card--item">
                    <img src="../../images/academics-8.jpg">
                    <div class="academics-section__card--item-overlay"></div>
                    <p>DSc Programmes</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    // const buttonsa = document.querySelectorAll('.academics-section__carousel--left button');
    // const contenta = document.querySelectorAll('.academics-section__carousel--content');
    // const selecta = document.querySelector('.academics-section__carousel--select select');

    // buttonsa.forEach((btn, index) => {
    //     btn.addEventListener('click', () => {

    //         buttonsa.forEach(b => b.classList.remove('active'));
    //         contenta.forEach(c => c.classList.remove('active'));

    //         btn.classList.add('active');
    //         contenta[index].classList.add('active');
    //         console.log("keldi aca");

    //     });
    // });
    const buttonsa = document.querySelectorAll('.academics-section__carousel--left button');
    const contenta = document.querySelectorAll('.academics-section__carousel--content');
    const selecta = document.querySelector('.academics-section__carousel--select select');

    buttonsa.forEach((btn, index) => {
        btn.addEventListener('click', () => {

            buttonsa.forEach(b => b.classList.remove('active'));
            contenta.forEach(c => c.classList.remove('active'));

            btn.classList.add('active');
            contenta[index].classList.add('active');

            // selectni ham index bo'yicha update qilish
            selecta.value = index;

            console.log("keldi aca");
        });
    });

    /* ===== select uchun event ===== */
    selecta.addEventListener('change', () => {
        const index = selecta.value;

        buttonsa.forEach(b => b.classList.remove('active'));
        contenta.forEach(c => c.classList.remove('active'));

        buttonsa[index].classList.add('active');
        contenta[index].classList.add('active');

        console.log("select o'zgardi");
    });

</script>