<div class="campus-section ">
    <img class="campus-section__back-img" src="../../images/carousel-back.jpg">
    <div class="campus-section__overlay"></div>
    <h2 class="components-title">Campus <span>Life</span></h2>
    <div class="campus-section__card container owl-carousel owl-theme">
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-1.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Sport
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-2.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Library
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-3.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Student Clubs
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-4.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Cafeteria
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-2.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Library
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-3.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Student Clubs
            </p>
        </div>
        <div class="campus-section__card--item item">
            <img src="../../images/carousel-4.jpg">
            <div class="campus-section__card--item-overlay"></div>
            <p>
                Cafeteria
            </p>
        </div>
    </div>
</div>
<script>
    console.log("owl carouselll");

    $('.campus-section__card').owlCarousel({
        loop: true,
        dots: true,
        margin: 10,
        nav: true,
        center: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            },
            1300: {
                items: 4
            },
            1500: {
                items: 4
            }
        }
    })
</script>