<div class="events-section">
    <div class="events-section__back"><img src="../../images/upcoming-back.svg"></div>
    <div class="events-section__overlay"></div>
    <h2 class="components-title">Upcoming <span>Events</span></h2>
    <div class="events-section__content container">
        <div class="events-section__content--item">
            <div class="events-section__content--item-left">
                <p><i class="i-calendar"></i>Today</p>
                <span>17:00</span>
            </div>
            <div class="events-section__content--item-right">
                <h4>Inflammation & Immune Regulation</h4>
                <p>Vestibulum eu quam nec neque pellentesque
                    efficitur id eget nisl. Proin porta est
                    convallis lacus bl
                </p>
                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="events-section__content--item ">
            <div class="events-section__content--item-left">
                <p><i class="i-calendar"></i>14Dec</p>
                <span>16:00</span>
            </div>
            <div class="events-section__content--item-right">
                <h4>Cellular Mechanisms in Pathology</h4>
                <p>Aliquam erat volutpat. Nunc fringilla lectus sit amet odio placerat, non tempor dui euismod.
                </p>
                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="events-section__content--item ">
            <div class="events-section__content--item-left">
                <p><i class="i-calendar"></i>13Dec</p>
                <span>17:00</span>
            </div>
            <div class="events-section__content--item-right">
                <h4>Inflammation & Immune Regulation</h4>
                <p>Vestibulum eu quam nec neque pellentesque efficitur id eget nisl. Proin porta est convallis lacus bl
                </p>
                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
        <div class="events-section__content--item ">
            <div class="events-section__content--item-left">
                <p><i class="i-calendar"></i>15Dec</p>
                <span>15:00</span>
            </div>
            <div class="events-section__content--item-right">
                <h4>Advances in Genetic Research</h4>
                <p>Curabitur dictum ligula vitae nunc sollicitudin, vel varius nisl imperdiet. Integer vitae nisi ut dui
                    vestibulum.
                </p>
                <div></div>
                <span> <i class="i-location"></i>Tashkent University of Technology</span>
            </div>
        </div>
    </div>
</div>