<main class="hero">
    <div class="hero__overlay"></div>

    <div class="hero__content container">
        <div class="hero__content--left">
            <p>TASHKENT UNIVERSITY OF TECHNOLOGY</p>
            <h1><span class="gradient-text">Excellence</span> in Education, Impact in <span
                    class="gradient-text">Life</span></h1>
            <p>Offering diverse programs across engineering, computing, humanities, and management, we are shaping the
                next generation
                of leaders and innovators.</p>
            <div class="hero__content--left-buttons">
                <button class="gradient-btn">
                    <a href="#">
                        Join Us
                    </a>
                </button>
                <button>
                    <a href="#">
                        Learn More <i class="i-arrow-right"></i>
                    </a>
                </button>
            </div>
        </div>
        <div class="hero__content--right">
            <div class="hero__content--right-top-left">
            </div>
            <div class="hero__content--right-top-right">
            </div>
            <div class="hero__content--right-item">
                <img src="../images/magistr.svg">
                <h1>
                    <span class="gradient-text">Undergraduate</span>
                </h1>
                <p>Start your journey with quality bachelor’s programs.</p>
            </div>
            <div class="hero__content--right-item">
                <img src="../images/magistr.svg">

                <span class="gradient-text">Graduate</span>
                </h1>
                <p>Grow your expertise with advanced master’s degrees.</p>
            </div>
            <div class="hero__content--right-item">
                <img src="../images/medal-alt.svg">
                <h1>
                    <span class="gradient-text">PhD and DSc</span>
                </h1>
                <p>Lead research and innovation at the highest level.</p>
            </div>
            <div class="hero__content--right-item">
                <img src="../images/book-open.svg">
                <h1>
                    <span class="gradient-text">Undergraduate</span>
                </h1>
                <p>Lead research and innovation at the highest level.</p>
            </div>
            <div class="hero__content--right-bottom-left">
            </div>
            <div class="hero__content--right-bottom-right">
            </div>
        </div>
    </div>
</main>