<div class="president-section container">
    <div class="president-section__left">

        <div class="president-section__left--text">
            <div class="president-section__left--text-top-dot">
                <img src="../../images/homa-page-pre.png">
            </div>
            <h2>Prezident ToshTech universitetini tashkil etish
                toʻgʻrisidagi
                farmonni imzoladi.</h2>
            <p>Yangi tashkil etilgan universitet moliyaviy, akademik va tashkiliy mustaqillikka ega bo‘ladi. Joriy yilda
                bir yillik
                o‘quv kurslari yo‘lga qo‘yiladi. Kelgusi yildan bakalavriat yo‘nalishlari ochiladi, 2027 yildan esa
                magistratura va
                aspirantura bosqichlariga qabul boshlanadi. Ta’lim grant va kontrakt asosida, o‘zbek hamda chet
                tillarida olib boriladi.
                2029/2030 yilgacha qabul qilingan talabalar davlat granti bilan ta’minlanadi.</p>
            <div class="president-section__left--text-bottom-dot">
                <img src="../../images/homa-page-pre.png">
            </div>
        </div>

        <div class="president-section__left--info">
            <img src="../../images/gerb.png">
            <div class="president-section__left--info-right">
                <p>Shavkat Mirziyoyev</p>
                <span>O’zbekiston Respublikasi prezidenti</span>
            </div>
        </div>
    </div>
    <div class="president-section__right">
        <div class="president-section__right--top-shadow"></div>
        <div class="president-section__right--bottom-shadow"></div>
        <div class="president-section__right--before">
            <div class="president-section__right--before-line"></div>
            <div class="president-section__right--before-img">
                <img src="../../images/logo-tashtech.png">
            </div>
        </div>
        <div class="president-section__right--img">
            <img src="../../images/preseident-decree.png">
        </div>
    </div>
</div>