<section class="projects">
    <div class="container">
        <div class="section-top">
            <p>Loyihalarimiz</p>
            <a href="#">Barchasi</a>
        </div>

        <div class="projects__grid">
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
            <a href="projects-view.html" class="projects__grid--item">
                <div class="projects__grid--item-img">
                    <img src="@/images/projects-1.png" alt="">
                </div>
                <h3 class="projects__grid--item-title">Anor Sotsiyal Loyihasi
                </h3>
            </a>
        </div>
    </div>
</section>