<div class="univer-news container">
    <h2 class="components-title">University <span>News</span></h2>
    <div class="univer-news__wrapper">
        <div class="univer-news__wrapper--img">
            <div class="univer-news__wrapper--img-item">
                <div class="univer-news__wrapper--img-item-overlay"></div>
                <img src="../../images/univer-news-1.png">
                <p>How Tax Policy Could Change Under the New Administration</p>
                <p>SEC Targets Crypto Scams – The U.S. Securities and Exchange Commission cracks....</p>
                <div class="univer-news__wrapper--img-item-date">
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-calendar"></i>
                        <p>15 May 2020 9:00</p>
                    </div>
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-eye"></i>
                        <p>267</p>
                    </div>
                </div>
            </div>
            <div class="univer-news__wrapper--img-item">
                <div class="univer-news__wrapper--img-item-overlay"></div>
                <img src="../../images/univer-news-2.png">
                <p>How Tax Policy Could Change Under the New Administration</p>
                <p>SEC Targets Crypto Scams – The U.S. Securities and Exchange Commission cracks....</p>
                <div class="univer-news__wrapper--img-item-date">
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-calendar"></i>
                        <p>15 May 2020 9:00</p>
                    </div>
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-eye"></i>
                        <p>267</p>
                    </div>
                </div>
            </div>
            <div class="univer-news__wrapper--img-item">
                <div class="univer-news__wrapper--img-item-overlay"></div>
                <img src="../../images/univer-news-3.png">
                <p>How Tax Policy Could Change Under the New Administration</p>
                <p>SEC Targets Crypto Scams – The U.S. Securities and Exchange Commission cracks....</p>
                <div class="univer-news__wrapper--img-item-date">
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-calendar"></i>
                        <p>15 May 2020 9:00</p>
                    </div>
                    <div class="univer-news__wrapper--img-item-date-data">
                        <i class="i-eye"></i>
                        <p>267</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="univer-news__wrapper--card">
            <div class="univer-news__wrapper--card-item">
                <div class="univer-news__wrapper--card-item-img">
                    <img src="../../images/univer-card-1.png">
                </div>
                <div class="univer-news__wrapper--card-item-text">
                    <p>Twitter sues Elon Musk to enforce original merger</p>
                    <p>SEC Targets Crypto Scams – The U.S. Securities....</p>
                    <div class="univer-news__wrapper--card-item-text-date">
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-calendar"></i>
                            <p>15 May 2020 9:00</p>
                        </div>
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-eye"></i>
                            <p>267</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="univer-news__wrapper--card-item">
                <div class="univer-news__wrapper--card-item-img">
                    <img src="../../images/univer-card-2.png">
                </div>
                <div class="univer-news__wrapper--card-item-text">
                    <p>Twitter sues Elon Musk to enforce original merger</p>
                    <p>SEC Targets Crypto Scams – The U.S. Securities....</p>
                    <div class="univer-news__wrapper--card-item-text-date">
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-calendar"></i>
                            <p>15 May 2020 9:00</p>
                        </div>
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-eye"></i>
                            <p>267</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="univer-news__wrapper--card-item">
                <div class="univer-news__wrapper--card-item-img">
                    <img src="../../images/univer-card-3.png">
                </div>
                <div class="univer-news__wrapper--card-item-text">
                    <p>Twitter sues Elon Musk to enforce original merger</p>
                    <p>SEC Targets Crypto Scams – The U.S. Securities....</p>
                    <div class="univer-news__wrapper--card-item-text-date">
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-calendar"></i>
                            <p>15 May 2020 9:00</p>
                        </div>
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-eye"></i>
                            <p>267</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="univer-news__wrapper--card-item">
                <div class="univer-news__wrapper--card-item-img">
                    <img src="../../images/univer-card-4.png">
                </div>
                <div class="univer-news__wrapper--card-item-text">
                    <p>Twitter sues Elon Musk to enforce original merger</p>
                    <p>SEC Targets Crypto Scams – The U.S. Securities....</p>
                    <div class="univer-news__wrapper--card-item-text-date">
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-calendar"></i>
                            <p>15 May 2020 9:00</p>
                        </div>
                        <div class="univer-news__wrapper--card-item-text-date-data">
                            <i class="i-eye"></i>
                            <p>267</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>